# In-Class Project
All output below is created for the Atlanta Braves...

In [26]:
import pymysql
pymysql.install_as_MySQLdb()
%reload_ext sql
%sql mysql://student:twig-7BAG5qj@mqm-db/
%sql USE lahman2016;

0 rows affected.

[]

## Task \#1

* Teams in the division...

In [2]:
%%sql
WITH sub1 AS
(
SELECT          lgID, 
                divID, 
                teamID 
FROM            Teams
WHERE           yearID = 2014 AND 
                teamID = 'ATL'
)
SELECT          Teams.lgID, 
                Teams.divID, 
                Teams.teamID
FROM            Teams
INNER JOIN      sub1 
ON              Teams.lgID=sub1.lgID AND 
                Teams.divID=sub1.divID
WHERE           Teams.yearID = 2014;

5 rows affected.

[('NL', 'E', 'ATL'),
 ('NL', 'E', 'MIA'),
 ('NL', 'E', 'NYN'),
 ('NL', 'E', 'PHI'),
 ('NL', 'E', 'WAS')]

* Final standings in the division...

In [4]:
%%sql
WITH sub1 AS
(
SELECT            lgID, 
                  divID, 
                  teamID 
FROM              Teams
WHERE             yearID = 2014 AND 
                  teamID = 'ATL'
), 
sub2 AS
(
SELECT            Teams.lgID, 
                  Teams.divID, 
                  Teams.teamID
FROM              Teams
INNER JOIN        sub1 
ON                Teams.lgID=sub1.lgID AND 
                  Teams.divID=sub1.divID
WHERE             Teams.yearID = 2014
), 
sub3 AS
(
SELECT            sub2.teamID,
                  Teams.Rank AS 2014_Standing
FROM              sub2
INNER JOIN        Teams
ON                sub2.teamID = Teams.teamID
WHERE             Teams.yearID = 2014
), 
sub4 AS
(
SELECT            sub3.teamID,
                  sub3.2014_Standing,
                  Teams.Rank AS 2015_Standing
FROM              sub3
INNER JOIN        Teams
ON                sub3.teamID = Teams.teamID
WHERE             Teams.yearID = 2015
)
SELECT            sub4.teamID,
                  sub4.2014_Standing,
                  sub4.2015_Standing,
                  Teams.Rank AS 2016_Standing,
                  (sub4.2014_Standing+sub4.2015_Standing+Teams.Rank)/3 AS Avg_Standing
FROM              sub4
INNER JOIN        Teams
ON                sub4.teamID = Teams.teamID
WHERE             Teams.yearID = 2016;

5 rows affected.

[('ATL', 2, 4, 5, Decimal('3.6667')),
 ('MIA', 4, 3, 3, Decimal('3.3333')),
 ('NYN', 3, 1, 2, Decimal('2.0000')),
 ('PHI', 5, 5, 4, Decimal('4.6667')),
 ('WAS', 1, 2, 1, Decimal('1.3333'))]

* Average age of 2016 starting lineup...

In [7]:
%%sql
WITH sub1 AS 
(
SELECT            playerID,
                  POS,
                  InnOuts,
                  RANK() OVER(PARTITION BY POS 
                  ORDER BY CAST(InnOuts AS INT) DESC) AS Inn_Rank
FROM              Fielding 
WHERE             yearID = 2016 AND 
                  teamID = 'ATL'
),
sub2 AS
(
SELECT            playerID, 
                  POS,
                  Inn_Rank
FROM              sub1
WHERE             (Inn_Rank <= 3 AND POS = 'OF') OR 
                  (Inn_Rank = 1)
),
sub3 AS
(
SELECT            sub2.playerID,
                  TIMESTAMPDIFF(YEAR,date(concat_ws('-',birthYear,birthMonth,birthDay)),date('2016-01-01')) AS age
FROM              Master
INNER JOIN        sub2
ON                sub2.playerID = Master.playerID
)
SELECT            AVG(age)
FROM              sub3;

1 rows affected.

[(Decimal('28.1111'),)]

* So, relative to the "peak" age of 27, our team is slightly old.
* Determine the Top 3 HR hitters on the team for each year from 2014 - 2016...

In [10]:
%%sql
WITH sub1 AS
(
SELECT            yearID, 
                  playerID, 
                  HR, 
                  RANK() OVER(PARTITION BY yearID 
                              ORDER BY HR DESC) as HR_Rank 
FROM              Batting
WHERE             teamID = 'ATL' AND 
                  yearID >= 2014
)
SELECT            *
FROM              sub1
WHERE             HR_Rank <= 3
ORDER BY          yearID, 
                  HR_Rank;

9 rows affected.

[(2014, 'uptonju01', 29, 1),
 (2014, 'gattiev01', 22, 2),
 (2014, 'freemfr01', 18, 3),
 (2015, 'freemfr01', 18, 1),
 (2015, 'maybica01', 10, 2),
 (2015, 'garciad01', 10, 2),
 (2016, 'freemfr01', 34, 1),
 (2016, 'garciad01', 14, 2),
 (2016, 'markani01', 13, 3)]

## Task \#2

In [13]:
%%sql
WITH sub1 AS
(
SELECT           (.691*SUM(BB - IBB) + .721*SUM(HBP) + 
                  .878*SUM(H-2B-3B-HR) + 1.242*SUM(2B) + 
                  1.569*SUM(3B) + 2.015*SUM(HR)) 
                 / 
                 (SUM(AB) + SUM(BB) - SUM(IBB) + 
                  SUM(SF) + SUM(HBP)) AS LeaguewOBA,
                 1.212 AS wOBAScale
FROM             Batting
WHERE            yearID = 2016
),
sub2 AS 
(
SELECT           playerID,
                 POS,
                 InnOuts,
                 RANK() OVER(PARTITION BY POS 
                             ORDER BY CAST(InnOuts AS INT) DESC) AS Inn_Rank
FROM             Fielding 
WHERE            yearID = 2016 AND 
                 teamID = 'ATL'
), 
sub3 AS
(
SELECT           playerID, 
                 POS, 
                 Inn_Rank 
FROM             sub2
WHERE            (Inn_Rank <= 3 AND POS = 'OF') OR 
                 (Inn_Rank = 1)
)
SELECT           sub3.playerID,
                 sub3.POS,
                 sub3.Inn_Rank,
                 (
                  (
                   (
                    (.691*(BB - IBB) + .721*(HBP) + .878*(H-2B-3B-HR) + 1.242*(2B) + 1.569*(3B) + 2.015*(HR)) 
                    / 
                    ((AB) + (BB) - (IBB) + (SF) + (HBP))
                   )
                   -
                   (SELECT sub1.LeaguewOBA FROM sub1)
                  )
                  /
                  (SELECT sub1.wOBAScale FROM sub1)
                 )
                 *(AB+BB+HBP+SH+SF) AS wRAA
FROM             sub3
INNER JOIN       Batting
ON               sub3.playerID = Batting.playerID
WHERE            Batting.yearID = 2016 AND 
                 Batting.teamID='ATL';

9 rows affected.

[('aybarer01', 'SS', 1, -16.826125513348426),
 ('flowety01', 'C', 1, 5.458346840672952),
 ('francje02', 'OF', 3, -7.146292078528298),
 ('freemfr01', '1B', 1, 47.693411992687324),
 ('garciad01', '3B', 1, -4.6219600896818624),
 ('inciaen01', 'OF', 2, 0.24449042897839401),
 ('markani01', 'OF', 1, 1.4297046005002076),
 ('peterja01', '2B', 1, -0.516376797388278),
 ('teherju01', 'P', 1, -6.109357512604402)]

* "freemfr01" (Freddie Freeman) is by far the best player according to wRAA.  There are a lot of poor performers on the team, led by "aybarer01."

In [14]:
%%sql
WITH sub1 AS
(
SELECT           (.691*SUM(BB - IBB) + .721*SUM(HBP) + 
                  .878*SUM(H-2B-3B-HR) + 1.242*SUM(2B) + 
                  1.569*SUM(3B) + 2.015*SUM(HR)) 
                 / 
                 (SUM(AB) + SUM(BB) - SUM(IBB) + 
                  SUM(SF) + SUM(HBP)) AS LeaguewOBA,
                 1.212 AS wOBAScale
FROM             Batting
WHERE            yearID = 2016
),
sub2 AS 
(
SELECT           playerID,
                 POS,
                 InnOuts,
                 RANK() OVER(PARTITION BY POS 
                             ORDER BY CAST(InnOuts AS INT) DESC) AS Inn_Rank
FROM             Fielding 
WHERE            yearID = 2016 AND 
                 teamID = 'WAS'
), 
sub3 AS
(
SELECT           playerID, 
                 POS, 
                 Inn_Rank 
FROM             sub2
WHERE            (Inn_Rank <= 3 AND POS = 'OF') OR 
                 (Inn_Rank = 1)
)
SELECT           sub3.playerID,
                 sub3.POS,
                 sub3.Inn_Rank,
                 (
                  (
                   (
                    (.691*(BB - IBB) + .721*(HBP) + .878*(H-2B-3B-HR) + 1.242*(2B) + 1.569*(3B) + 2.015*(HR)) 
                    / 
                    ((AB) + (BB) - (IBB) + (SF) + (HBP))
                   )
                   -
                   (SELECT sub1.LeaguewOBA FROM sub1)
                  )
                  /
                  (SELECT sub1.wOBAScale FROM sub1)
                 )
                 *(AB+BB+HBP+SH+SF) AS wRAA
FROM             sub3
INNER JOIN       Batting
ON               sub3.playerID = Batting.playerID
WHERE            Batting.yearID = 2016 AND 
                 Batting.teamID='WAS';

9 rows affected.

[('espinda01', 'SS', 1, -12.023686859696202),
 ('harpebr03', 'OF', 1, 13.03360360854568),
 ('murphda08', '2B', 1, 43.35033966452021),
 ('ramoswi01', 'C', 1, 18.702074635953124),
 ('rendoan01', '3B', 1, 12.996097203265398),
 ('reverbe01', 'OF', 3, -22.338652095765237),
 ('scherma01', 'P', 1, -9.489432629588373),
 ('werthja01', 'OF', 2, 4.651757953287067),
 ('zimmery01', '1B', 1, -15.977315088081463)]

* We have a huge advantage at 1B compared to WAS.  However, at C, 2B, and 3B we are disadvantaged.  Our SS are comparable and WAS has an OF (Bryce Harper) who is better than all of our OF.

# Task \#3

* Since the "teamID" field in the Salaries table is different from the "teamID" field in the other tables for 2016, I will do some hard-coding here.  (I don't have a good explanation for why this happened.)

In [17]:
%%sql
SELECT            teamID,
                  SUM(salary)
FROM              Salaries
WHERE             teamID IN ('ATL','MIA','NYM','PHI','WSN') AND 
                  yearID = 2016
GROUP BY          teamID;

5 rows affected.

[('ATL', Decimal('68498291')),
 ('MIA', Decimal('77314202')),
 ('NYM', Decimal('133889129')),
 ('PHI', Decimal('58980000')),
 ('WSN', Decimal('141652646'))]

* In this instance it does appear that spending is correlated with better results.  Washington and New York both had the highest total salaries and they finished 1st and 2nd in the division, respectively.  The other three teams all spent significantly less and finished 3rd through 5th.

In [19]:
%%sql
WITH sub1 AS
(
SELECT           (.691*SUM(BB - IBB) + .721*SUM(HBP) + 
                  .878*SUM(H-2B-3B-HR) + 1.242*SUM(2B) + 
                  1.569*SUM(3B) + 2.015*SUM(HR)) 
                 / 
                 (SUM(AB) + SUM(BB) - SUM(IBB) + 
                  SUM(SF) + SUM(HBP)) AS LeaguewOBA,
                 1.212 AS wOBAScale
FROM             Batting
WHERE            yearID = 2016
),
sub2 AS 
(
SELECT           playerID,
                 POS,
                 InnOuts,
                 RANK() OVER(PARTITION BY POS 
                             ORDER BY CAST(InnOuts AS INT) DESC) AS Inn_Rank
FROM             Fielding 
WHERE            yearID = 2016 AND 
                 teamID = 'ATL'
), 
sub3 AS
(
SELECT           playerID, 
                 POS, 
                 Inn_Rank 
FROM             sub2
WHERE            (Inn_Rank <= 3 AND POS = 'OF') OR 
                 (Inn_Rank = 1)
),
sub4 AS
(
SELECT           sub3.playerID,
                 sub3.POS,
                 sub3.Inn_Rank,
                 (
                  (
                   (
                    (.691*(BB - IBB) + .721*(HBP) + .878*(H-2B-3B-HR) + 1.242*(2B) + 1.569*(3B) + 2.015*(HR)) 
                    / 
                    ((AB) + (BB) - (IBB) + (SF) + (HBP))
                   )
                   -
                   (SELECT sub1.LeaguewOBA FROM sub1)
                  )
                  /
                  (SELECT sub1.wOBAScale FROM sub1)
                 )
                 *(AB+BB+HBP+SH+SF) AS wRAA,
                 Batting.yearID
FROM             sub3
INNER JOIN       Batting
ON               sub3.playerID = Batting.playerID
WHERE            Batting.yearID = 2016 AND 
                 Batting.teamID='ATL'
)
SELECT           sub4.playerID,
                 POS,
                 Inn_Rank,
                 wRAA,
                 salary
FROM             sub4
INNER JOIN       Salaries
ON               sub4.playerID=Salaries.playerID AND
                 sub4.yearID=Salaries.yearID;

9 rows affected.

[('aybarer01', 'SS', 1, -16.826125513348426, 8500000),
 ('flowety01', 'C', 1, 5.458346840672952, 2000000),
 ('francje02', 'OF', 3, -7.146292078528298, 1000000),
 ('freemfr01', '1B', 1, 47.693411992687324, 12359375),
 ('garciad01', '3B', 1, -4.6219600896818624, 508750),
 ('inciaen01', 'OF', 2, 0.24449042897839401, 523000),
 ('markani01', 'OF', 1, 1.4297046005002076, 11000000),
 ('peterja01', '2B', 1, -0.516376797388278, 520500),
 ('teherju01', 'P', 1, -6.109357512604402, 3466666)]

* In terms of 2016 production, Freddie Freeman is paid the highest salary and he definitely "earns it."  It does seem that "aybarer01" is significantly overpaid for his meager production and "flowety01" might be due a raise.

# Task \#4
* First, checking for any patterns in patterns in birthplaces...

In [28]:
%%sql
WITH sub1 AS
(
SELECT     DISTINCT(playerID)
FROM       Fielding
WHERE      teamID = 'ATL' AND
           yearID >= 2014
)
SELECT     Master.playerID,
           birthCountry,
           birthState
FROM       Master
INNER JOIN sub1
ON         Master.playerID = sub1.playerID
ORDER BY   birthCountry,
           birthState;

126 rows affected.

[('moylape01', 'Australia', 'Western Australia'),
 ('marimsu01', 'Colombia', 'Bolivar'),
 ('teherju01', 'Colombia', 'Bolivar'),
 ('garciad01', 'Cuba', ''),
 ('olivehe01', 'Cuba', ''),
 ('simmoan01', 'Curacao', ''),
 ('uribeju01', 'D.R.', ''),
 ('beatope01', 'D.R.', 'Distrito Nacional'),
 ('bonifem01', 'D.R.', 'Distrito Nacional'),
 ('carmofa01', 'D.R.', 'Distrito Nacional'),
 ('constjo01', 'D.R.', 'Distrito Nacional'),
 ('perezeu01', 'D.R.', 'Distrito Nacional'),
 ('santaer01', 'D.R.', 'La Romana'),
 ('aybarer01', 'D.R.', 'Peravia'),
 ('delacjo01', 'D.R.', 'San Cristobal'),
 ('jaimeju01', 'D.R.', 'San Cristobal'),
 ('ramirjo02', 'D.R.', 'San Cristobal'),
 ('vizcaar01', 'D.R.', 'San Cristobal'),
 ('cabrema01', 'D.R.', 'San Juan'),
 ('ciriape01', 'D.R.', 'San Pedro de Macoris'),
 ('ogandal01', 'D.R.', 'San Pedro de Macoris'),
 ('alvarda01', 'D.R.', 'Santiago'),
 ('jacksed01', 'Germany', ''),
 ('banuema01', 'Mexico', 'Durango'),
 ('penara02', 'Mexico', 'Nuevo Leon'),
 ('castrda01', 'Mexico', 'Sonora'),
 ('bethach01', 'Panama', 'Panama'),
 ('bradlje01', 'USA', 'AL'),
 ('cunnito01', 'USA', 'AL'),
 ('kimbrcr01', 'USA', 'AL'),
 ('cahiltr01', 'USA', 'CA'),
 ('cunnibr02', 'USA', 'CA'),
 ('darnach01', 'USA', 'CA'),
 ('freemfr01', 'USA', 'CA'),
 ('gomesjo01', 'USA', 'CA'),
 ('haranaa01', 'USA', 'CA'),
 ('lairdge01', 'USA', 'CA'),
 ('lavarry01', 'USA', 'CA'),
 ('martico01', 'USA', 'CA'),
 ('norribu01', 'USA', 'CA'),
 ('ruizri01', 'USA', 'CA'),
 ('aardsda01', 'USA', 'CO'),
 ('brighja01', 'USA', 'FL'),
 ('johnsch05', 'USA', 'FL'),
 ('kellyca01', 'USA', 'FL'),
 ('masseni01', 'USA', 'FL'),
 ('pastoty01', 'USA', 'FL'),
 ('schlogu01', 'USA', 'FL'),
 ('smithma05', 'USA', 'FL'),
 ('terdojo01', 'USA', 'FL'),
 ('weberry01', 'USA', 'FL'),
 ('beckhgo01', 'USA', 'GA'),
 ('flowety01', 'USA', 'GA'),
 ('francje02', 'USA', 'GA'),
 ('gantjo01', 'USA', 'GA'),
 ('haleda02', 'USA', 'GA'),
 ('swansda01', 'USA', 'GA'),
 ('youngma03', 'USA', 'GA'),
 ('foltymi01', 'USA', 'IL'),
 ('frasoja01', 'USA', 'IL'),
 ('krolia01', 'USA', 'IL'),
 ('winklda01', 'USA', 'IL'),
 ('schafjo02', 'USA', 'IN'),
 ('stulter01', 'USA', 'IN'),
 ('ugglada01', 'USA', 'KY'),
 ('brignre01', 'USA', 'LA'),
 ('peterja01', 'USA', 'LA'),
 ('floydga01', 'USA', 'MD'),
 ('collmjo01', 'USA', 'MI'),
 ('grillja01', 'USA', 'MI'),
 ('detwiro01', 'USA', 'MO'),
 ('harrelu01', 'USA', 'MO'),
 ('simmosh01', 'USA', 'MO'),
 ('vealdo01', 'USA', 'MS'),
 ('maybica01', 'USA', 'NC'),
 ('woodal02', 'USA', 'NC'),
 ('heywaja01', 'USA', 'NJ'),
 ('lasteto01', 'USA', 'NJ'),
 ('younger03', 'USA', 'NJ'),
 ('blairaa01', 'USA', 'NV'),
 ('shrevch01', 'USA', 'NV'),
 ('snydebr03', 'USA', 'NV'),
 ('burawda01', 'USA', 'NY'),
 ('johnsji04', 'USA', 'NY'),
 ('markani01', 'USA', 'NY'),
 ('pierzaj01', 'USA', 'NY'),
 ('varvaan01', 'USA', 'NY'),
 ('marksma01', 'USA', 'OH'),
 ('roech01', 'USA', 'OH'),
 ('russeja02', 'USA', 'OH'),
 ('swishni01', 'USA', 'OH'),
 ('wislema01', 'USA', 'OH'),
 ('kempma01', 'USA', 'OK'),
 ('buchtry01', 'USA', 'PA'),
 ('gosseph01', 'USA', 'PA'),
 ('lallibl01', 'USA', 'PA'),
 ('reckean01', 'USA', 'PA'),
 ('whalero01', 'USA', 'PA'),
 ('cornejo01', 'USA', 'SC'),
 ('kohnmi01', 'USA', 'SC'),
 ('kellyry01', 'USA', 'TN'),
 ('minormi01', 'USA', 'TN'),
 ('bournmi01', 'USA', 'TX'),
 ('carpeda02', 'USA', 'TX'),
 ('cervehu01', 'USA', 'TX'),
 ('gattiev01', 'USA', 'TX'),
 ('hurshja01', 'USA', 'TX'),
 ('jenkity01', 'USA', 'TX'),
 ('johnske05', 'USA', 'TX'),
 ('mckiran01', 'USA', 'TX'),
 ('millesh01', 'USA', 'TX'),
 ('stubbdr01', 'USA', 'TX'),
 ('waldejo01', 'USA', 'TX'),
 ('withrch01', 'USA', 'TX'),
 ('thomaia01', 'USA', 'VA'),
 ('uptonbj01', 'USA', 'VA'),
 ('uptonju01', 'USA', 'VA'),
 ('doumiry01', 'USA', 'WA'),
 ('evelada01', 'USA', 'WA'),
 ('oflaher01', 'USA', 'WA'),
 ('carpeda01', 'USA', 'WV'),
 ('callaal01', 'Venezuela', 'Aragua'),
 ('avilalu01', 'Venezuela', 'Distrito Federal'),
 ('perezwi01', 'Venezuela', 'Portuguesa'),
 ('chacijh01', 'Venezuela', 'Zulia'),
 ('inciaen01', 'Venezuela', 'Zulia')]

* So there are a lot of players from the Dominican Republic and the USA (both of which are common birthplaces across all of MLB--you can check).  Within the group of players born in the USA, there are some players from the Southeast (i.e. GA and FL, near Atlanta) but nothing that necessarily looks like a "pattern."
* Next, checking schools...

In [30]:
%%sql
WITH sub1 AS
(
SELECT           DISTINCT(playerID)
FROM             Fielding
WHERE            teamID = 'ATL' AND
                 yearID >= 2014
),
sub2 AS
(
SELECT           Master.playerID,
                 birthCountry,
                 birthState
FROM             Master
INNER JOIN       sub1
ON               Master.playerID = sub1.playerID
),
sub3 AS
(
SELECT           sub1.playerID,
                 Schools.schoolID,
                 name_full,
                 city,
                 state,
                 country,
                 yearID
FROM             sub1
INNER JOIN       CollegePlaying
ON               sub1.playerID = CollegePlaying.playerID
INNER JOIN       Schools
ON               CollegePlaying.schoolID = Schools.schoolID
)
SELECT           sub2.playerID,
                 birthState,
                 birthCountry,
                 name_full as CollegeName,
                 city as CollegeCity,
                 state as CollegeState,
                 country as CollegeCountry,
                 yearID as CollegeYear
FROM             sub2
INNER JOIN       sub3
ON               sub2.playerID = sub3.playerID
ORDER BY         CollegeState;

83 rows affected.

[('cunnito01', 'AL', 'USA', 'Jacksonville State University', 'Jacksonville', 'AL', 'USA', 2008),
 ('cunnito01', 'AL', 'USA', 'Jacksonville State University', 'Jacksonville', 'AL', 'USA', 2009),
 ('cunnito01', 'AL', 'USA', 'Jacksonville State University', 'Jacksonville', 'AL', 'USA', 2010),
 ('vealdo01', 'MS', 'USA', 'Pima Community College', 'Tucson', 'AZ', 'USA', 2005),
 ('haranaa01', 'CA', 'USA', 'San Diego State University', 'San Diego', 'CA', 'USA', 1999),
 ('gomesjo01', 'CA', 'USA', 'Santa Rosa Junior College', 'Santa Rosa', 'CA', 'USA', 2001),
 ('evelada01', 'WA', 'USA', 'College of the Canyons', 'Santa Clarita', 'CA', 'USA', 2003),
 ('haranaa01', 'CA', 'USA', 'San Diego State University', 'San Diego', 'CA', 'USA', 1997),
 ('haranaa01', 'CA', 'USA', 'San Diego State University', 'San Diego', 'CA', 'USA', 1998),
 ('darnach01', 'CA', 'USA', 'Pepperdine University', 'Malibu', 'CA', 'USA', 2006),
 ('darnach01', 'CA', 'USA', 'Pepperdine University', 'Malibu', 'CA', 'USA', 2007),
 ('darnach01', 'CA', 'USA', 'Pepperdine University', 'Malibu', 'CA', 'USA', 2008),
 ('terdojo01', 'FL', 'USA', 'California State University Long Beach', 'Long Beach', 'CA', 'USA', 2010),
 ('norribu01', 'CA', 'USA', 'California Polytechnic State University, San Luis Obispo', 'San Luis Obispo', 'CA', 'USA', 2004),
 ('norribu01', 'CA', 'USA', 'California Polytechnic State University, San Luis Obispo', 'San Luis Obispo', 'CA', 'USA', 2005),
 ('norribu01', 'CA', 'USA', 'California Polytechnic State University, San Luis Obispo', 'San Luis Obispo', 'CA', 'USA', 2006),
 ('lairdge01', 'CA', 'USA', 'Cypress College', 'Cypress', 'CA', 'USA', 1999),
 ('lavarry01', 'CA', 'USA', 'Yale University', 'New Haven', 'CT', 'USA', 2006),
 ('lavarry01', 'CA', 'USA', 'Yale University', 'New Haven', 'CT', 'USA', 2007),
 ('lavarry01', 'CA', 'USA', 'Yale University', 'New Haven', 'CT', 'USA', 2008),
 ('johnsch05', 'FL', 'USA', 'Stetson University', 'DeLand', 'FL', 'USA', 2005),
 ('johnsch05', 'FL', 'USA', 'Stetson University', 'DeLand', 'FL', 'USA', 2006),
 ('masseni01', 'FL', 'USA', 'St. Petersburg College', 'St. Petersburg', 'FL', 'USA', 2001),
 ('terdojo01', 'FL', 'USA', 'University of Miami', 'Coral Gables', 'FL', 'USA', 2008),
 ('beckhgo01', 'GA', 'USA', 'University of Georgia', 'Athens', 'GA', 'USA', 2006),
 ('beckhgo01', 'GA', 'USA', 'University of Georgia', 'Athens', 'GA', 'USA', 2007),
 ('woodal02', 'NC', 'USA', 'University of Georgia', 'Athens', 'GA', 'USA', 2010),
 ('beckhgo01', 'GA', 'USA', 'University of Georgia', 'Athens', 'GA', 'USA', 2008),
 ('woodal02', 'NC', 'USA', 'University of Georgia', 'Athens', 'GA', 'USA', 2011),
 ('woodal02', 'NC', 'USA', 'University of Georgia', 'Athens', 'GA', 'USA', 2012),
 ('frasoja01', 'IL', 'USA', 'Southern Illinois University Carbondale', 'Carbondale', 'IL', 'USA', 1999),
 ('frasoja01', 'IL', 'USA', 'Southern Illinois University Carbondale', 'Carbondale', 'IL', 'USA', 1996),
 ('frasoja01', 'IL', 'USA', 'Southern Illinois University Carbondale', 'Carbondale', 'IL', 'USA', 1997),
 ('frasoja01', 'IL', 'USA', 'Southern Illinois University Carbondale', 'Carbondale', 'IL', 'USA', 1998),
 ('collmjo01', 'MI', 'USA', 'Central Michigan University', 'Mount Pleasant', 'MI', 'USA', 2007),
 ('collmjo01', 'MI', 'USA', 'Central Michigan University', 'Mount Pleasant', 'MI', 'USA', 2005),
 ('collmjo01', 'MI', 'USA', 'Central Michigan University', 'Mount Pleasant', 'MI', 'USA', 2006),
 ('detwiro01', 'MO', 'USA', 'Missouri State University', 'Springfield', 'MO', 'USA', 2005),
 ('detwiro01', 'MO', 'USA', 'Missouri State University', 'Springfield', 'MO', 'USA', 2006),
 ('detwiro01', 'MO', 'USA', 'Missouri State University', 'Springfield', 'MO', 'USA', 2007),
 ('grillja01', 'MI', 'USA', 'Seton Hall University', 'South Orange', 'NJ', 'USA', 1995),
 ('grillja01', 'MI', 'USA', 'Seton Hall University', 'South Orange', 'NJ', 'USA', 1996),
 ('grillja01', 'MI', 'USA', 'Seton Hall University', 'South Orange', 'NJ', 'USA', 1997),
 ('haleda02', 'GA', 'USA', 'Princeton University', 'Princeton', 'NJ', 'USA', 2007),
 ('haleda02', 'GA', 'USA', 'Princeton University', 'Princeton', 'NJ', 'USA', 2008),
 ('haleda02', 'GA', 'USA', 'Princeton University', 'Princeton', 'NJ', 'USA', 2009),
 ('varvaan01', 'NY', 'USA', "St. John's University", 'Queens', 'NY', 'USA', 2005),
 ('varvaan01', 'NY', 'USA', "St. John's University", 'Queens', 'NY', 'USA', 2003),
 ('varvaan01', 'NY', 'USA', "St. John's University", 'Queens', 'NY', 'USA', 2004),
 ('swishni01', 'OH', 'USA', 'The Ohio State University', 'Columbus', 'OH', 'USA', 2000),
 ('swishni01', 'OH', 'USA', 'The Ohio State University', 'Columbus', 'OH', 'USA', 2001),
 ('swishni01', 'OH', 'USA', 'The Ohio State University', 'Columbus', 'OH', 'USA', 2002),
 ('aardsda01', 'CO', 'USA', 'Pennsylvania State University', 'State College', 'PA', 'USA', 2001),
 ('reckean01', 'PA', 'USA', 'Alvernia College', 'Reading', 'PA', 'USA', 2005),
 ('reckean01', 'PA', 'USA', 'Alvernia College', 'Reading', 'PA', 'USA', 2002),
 ('reckean01', 'PA', 'USA', 'Alvernia College', 'Reading', 'PA', 'USA', 2003),
 ('reckean01', 'PA', 'USA', 'Alvernia College', 'Reading', 'PA', 'USA', 2004),
 ('kohnmi01', 'SC', 'USA', 'University of South Carolina Upstate', 'Spartanburg', 'SC', 'USA', 2005),
 ('kohnmi01', 'SC', 'USA', 'University of South Carolina Upstate', 'Spartanburg', 'SC', 'USA', 2006),
 ('kohnmi01', 'SC', 'USA', 'College of Charleston', 'Charleston', 'SC', 'USA', 2007),
 ('kohnmi01', 'SC', 'USA', 'College of Charleston', 'Charleston', 'SC', 'USA', 2008),
 ('ugglada01', 'KY', 'USA', 'University of Memphis', 'Memphis', 'TN', 'USA', 1999),
 ('ugglada01', 'KY', 'USA', 'University of Memphis', 'Memphis', 'TN', 'USA', 2000),
 ('ugglada01', 'KY', 'USA', 'University of Memphis', 'Memphis', 'TN', 'USA', 2001),
 ('minormi01', 'TN', 'USA', 'Vanderbilt University', 'Nashville', 'TN', 'USA', 2007),
 ('minormi01', 'TN', 'USA', 'Vanderbilt University', 'Nashville', 'TN', 'USA', 2008),
 ('minormi01', 'TN', 'USA', 'Vanderbilt University', 'Nashville', 'TN', 'USA', 2009),
 ('evelada01', 'WA', 'USA', 'Hill College', 'Hillsboro', 'TX', 'USA', 2002),
 ('aardsda01', 'CO', 'USA', 'Rice University', 'Houston', 'TX', 'USA', 2003),
 ('bournmi01', 'TX', 'USA', 'University of Houston', 'Houston', 'TX', 'USA', 2001),
 ('bournmi01', 'TX', 'USA', 'University of Houston', 'Houston', 'TX', 'USA', 2002),
 ('bournmi01', 'TX', 'USA', 'University of Houston', 'Houston', 'TX', 'USA', 2003),
 ('aardsda01', 'CO', 'USA', 'Rice University', 'Houston', 'TX', 'USA', 2002),
 ('russeja02', 'OH', 'USA', 'University of Texas at Austin', 'Austin', 'TX', 'USA', 2007),
 ('stubbdr01', 'TX', 'USA', 'University of Texas at Austin', 'Austin', 'TX', 'USA', 2004),
 ('stubbdr01', 'TX', 'USA', 'University of Texas at Austin', 'Austin', 'TX', 'USA', 2005),
 ('stubbdr01', 'TX', 'USA', 'University of Texas at Austin', 'Austin', 'TX', 'USA', 2006),
 ('gosseph01', 'PA', 'USA', 'University of Virginia', 'Charlottesville', 'VA', 'USA', 2008),
 ('gosseph01', 'PA', 'USA', 'University of Virginia', 'Charlottesville', 'VA', 'USA', 2009),
 ('gosseph01', 'PA', 'USA', 'University of Virginia', 'Charlottesville', 'VA', 'USA', 2010),
 ('carpeda01', 'WV', 'USA', 'West Virginia University', 'Morgantown', 'WV', 'USA', 2004),
 ('carpeda01', 'WV', 'USA', 'West Virginia University', 'Morgantown', 'WV', 'USA', 2005),
 ('carpeda01', 'WV', 'USA', 'West Virginia University', 'Morgantown', 'WV', 'USA', 2006)]

* Again, no patterns really jump out here in terms of where Atlanta is finding their players.  However, players do seem