MQM 2017-2018  
Summer Term  
Duke University, The Fuqua School of Business  
**Data Infrastructure**  
Lecture 8

# Pandas Basics

* Today we're going to review the NumPy and pandas packages
* Specifically, we'll focus on the following...
  * A quick review of some important Python points
  * What is NumPy?  What is a ndarray?
  * What is pandas?  What is a DataFrame?
  * How do we get data into a DataFrame?
  * Since we're now SQL pros, what operations are equivalent in pandas?
  * How do we perform other basic manipulations on a DataFrame?

## Quick Python Review

* When assigning a value to a variable, really just assigning a reference to the value on the right of the equal sign...

In [ ]:
names = ["Larry","Jeff"]
more_names = names
more_names.append("Marty")
print(names)

In [ ]:
print(type(names))
print(type(names[0]))
names.append(47)
print(type(names[3]))

* So, values in a Python list do not need to have the same type.  This is not the case for a NumPy ndarray...

In [ ]:
help(str)

## Numpy and ndarray

* First, need to import the numpy package in order to use it...

In [ ]:
import numpy as np

* "NumPy" is short for "Numerical Python"
* Powerful package that can perform mathematical operations quickly
* Can operate on entire arrays (without writing loops)
* Can integrate with C, C++, and Fortran (why would we want to do this?)
* pandas is built on top of NumPy (which is why we need to import both packages to work with pandas)

Some important notes...
* If, for example, we try to generate a ndarray from a list of lists, each of the inner lists must be the same size
* Scalar operations are applied to each element of the array (this is NOT the case for a "list of lists")
* Array operations are applied elementwise for arrays of equal size
* All elements of a ndarray must be of the same data type
* Python will attempt to perform implicit type conversion where possible

Next, let's do a little slicing and dicing...

In [ ]:
# How would we select the first triple slash?

In [ ]:
# How would we select everything?

In [ ]:
# How would we select the HRs (i.e. the second value in each list)

## pandas and the DataFrame

* So why not just use NumPy for all of our data analysis?
* pandas provides a lot more functionality and is significantly easier to use
* A pandas DataFrame is similar to a relational database table in that it...
  * Organizes data in a tabular format
  * Requires that each "column" has a specific data type
* However, the DataFrame is significantly different from a relational database table in one key respect:  the DataFrame has both row and column indices (and therefore, the "location" of an individual data value at the intersection of a column and a row has actual meaning)

* So, the dictionary keys become the column names and an index is generated for each row with values from 0 to N-1
* To be clear, the column labels will always be referenced with "columns" and the row labels will always be referenced with "index"

In [ ]:
# What will the following do?
df1 = pd.DataFrame(baseball_data, columns=["avg","hr","runs"])

In [ ]:
df1

In [ ]:
df.columns.values[2]='runs'
df

In [ ]:
df.index=[2016,2017]
df

In [ ]:
df.reset_index(drop=True)

In [ ]:
df.index=['a','b']
df

In [ ]:
df.index=['a','a']
df

* ***IMPORTANT***:  The DataFrame is not required to have a unique index!

In [ ]:
df.reset_index(drop=True)

In [ ]:
df.iloc[1,0]

## Importing Data

* Incredibly straightforward to load data into a DataFrame from a .csv file (there are lots of additional options that you can specify)

In [ ]:
df1=pd.read_csv('300AB_14_16.csv')
df1.head()

In [ ]:
df1.columns.size

In [ ]:
df1.columns.values[22]='HR_Rank'

In [ ]:
df1.head()

In [ ]:
# How would we select playerID, yearID, and HR for "freemfr01"?

* Also easy to load SQL query results directly into a DataFrame

In [ ]:
import pymysql
pymysql.install_as_MySQLdb()
%reload_ext sql
%sql mysql://student:twig-7BAG5qj@mqm-db/
%sql USE lahman2016;

In [ ]:
# Store the query result in a local variable...
# NOTE:  I cannot get this to run properly with a %%sql cell magic

* Wow, that was easy!  And guess what?  We can recreate our SQL clauses in pandas too!

#### SELECT

#### WHERE

#### GROUP BY

#### JOIN