MQM 2017-2018  
Summer Term  
Duke University, The Fuqua School of Business  
**Data Infrastructure**  
Lecture 7

# Window Functions

* Today we'll work through examples using the airline_ontime database to further illustrate the power of window functions
* Remember that we know we're working with a window function when the **OVER()** keyword is utilized
* Window functions allow us to aggregate data as we might with a **GROUP BY** clause 
* But, unlike **GROUP BY**, window functions do NOT restrict us to having one row of output per group

* **We need to setup SQL a little differently now.  This is because our environment has been updated to include a lot more Python functionality (which we will begin using next week).**

In [1]:
import pymysql
pymysql.install_as_MySQLdb()
%reload_ext sql
%sql mysql://student:twig-7BAG5qj@mqm-db/
%sql USE airline_ontime;

0 rows affected.

[]

In [2]:
%%sql

SELECT *
FROM   ontime
LIMIT  10;

10 rows affected.

[(2007, 1, 1, 1, 1232, 1225, 1341, 1340, 'WN', 2891, 'N351', 69, 75, 54, 1, 7, 'SMF', 'ONT', 389, 4, 11, 0, '', '0', 0, 0, 0, 0, 0),
 (2007, 1, 1, 1, 1918, 1905, 2043, 2035, 'WN', 462, 'N370', 85, 90, 74, 8, 13, 'SMF', 'PDX', 479, 5, 6, 0, '', '0', 0, 0, 0, 0, 0),
 (2007, 1, 1, 1, 2206, 2130, 2334, 2300, 'WN', 1229, 'N685', 88, 90, 73, 34, 36, 'SMF', 'PDX', 479, 6, 9, 0, '', '0', 3, 0, 0, 0, 31),
 (2007, 1, 1, 1, 1230, 1200, 1356, 1330, 'WN', 1355, 'N364', 86, 90, 75, 26, 30, 'SMF', 'PDX', 479, 3, 8, 0, '', '0', 23, 0, 0, 0, 3),
 (2007, 1, 1, 1, 831, 830, 957, 1000, 'WN', 2278, 'N480', 86, 90, 74, -3, 1, 'SMF', 'PDX', 479, 3, 9, 0, '', '0', 0, 0, 0, 0, 0),
 (2007, 1, 1, 1, 1430, 1420, 1553, 1550, 'WN', 2386, 'N611SW', 83, 90, 74, 3, 10, 'SMF', 'PDX', 479, 2, 7, 0, '', '0', 0, 0, 0, 0, 0),
 (2007, 1, 1, 1, 1936, 1840, 2217, 2130, 'WN', 409, 'N482', 101, 110, 89, 47, 56, 'SMF', 'PHX', 647, 5, 7, 0, '', '0', 46, 0, 0, 0, 1),
 (2007, 1, 1, 1, 944, 935, 1223, 1225, 'WN', 1131, 'N749SW', 99, 110, 86, -2, 9, 'SMF', 'PHX', 647, 4, 9, 0, '', '0', 0, 0, 0, 0, 0),
 (2007, 1, 1, 1, 1537, 1450, 1819, 1735, 'WN', 1212, 'N451', 102, 105, 90, 44, 47, 'SMF', 'PHX', 647, 5, 7, 0, '', '0', 20, 0, 0, 0, 24),
 (2007, 1, 1, 1, 1318, 1315, 1603, 1610, 'WN', 2456, 'N630WN', 105, 115, 92, -7, 3, 'SMF', 'PHX', 647, 5, 8, 0, '', '0', 0, 0, 0, 0, 0)]

## Starting Simple...
* Suppose we use an aggregate function with **OVER()** and nothing else...
```mySQL
WITH RDU_F AS
(
SELECT   *
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
)
SELECT   Origin, 
           COUNT(*) OVER()
FROM     ontime
LIMIT    10;
```
* What will this generate?

In [5]:
%%sql

WITH RDU_F AS
(
SELECT   *
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
)
SELECT   Origin, 
         COUNT(*) OVER()
FROM     RDU_F
LIMIT    10;

10 rows affected.

[('RDU', 67199),
 ('RDU', 67199),
 ('RDU', 67199),
 ('RDU', 67199),
 ('RDU', 67199),
 ('RDU', 67199),
 ('RDU', 67199),
 ('RDU', 67199),
 ('RDU', 67199),
 ('RDU', 67199)]

* To confirm our suspicions, let's just do a basic COUNT(*)

In [6]:
%%sql

WITH RDU_F AS
(
SELECT   *
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
)
SELECT   COUNT(*)
FROM     RDU_F;

1 rows affected.

[(67199,)]

* So, if we use **OVER()** without any arguments, it aggregates over all records in the *result set*
* ***Note:***  make sure you are very clear on this concept.  The window function is operating on the **result set** of the query, not the entire table/set of tables from where the data is being pulled.
* Don't believe me???  Then let's tweak the previous query below...

In [6]:
%%sql

WITH RDU_F AS
(
SELECT   *
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
)
SELECT   Origin, 
         COUNT(*) OVER()
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1
LIMIT    10;

10 rows affected.

[('RDU', 65569),
 ('RDU', 65569),
 ('RDU', 65569),
 ('RDU', 65569),
 ('RDU', 65569),
 ('RDU', 65569),
 ('RDU', 65569),
 ('RDU', 65569),
 ('RDU', 65569),
 ('RDU', 65569)]

* Why has our count decreased?  Because all of the cancelled and diverted flights are filted in the WHERE clause **before** the window function is processed.
* In fact, window functions are processed just prior to ORDER BY.  So, WHERE, GROUP BY, and HAVING all come first.
* Speaking of GROUP BY, what do you think the following query will return?

In [7]:
%%sql

WITH RDU_F AS
(
SELECT   *
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
)
SELECT   UniqueCarrier,
         COUNT(*),
         COUNT(*) OVER()
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1
GROUP BY UniqueCarrier;

16 rows affected.

[('9E', 1511, 16),
 ('AA', 6147, 16),
 ('B6', 1850, 16),
 ('CO', 1637, 16),
 ('DL', 3762, 16),
 ('EV', 68, 16),
 ('FL', 1990, 16),
 ('MQ', 15168, 16),
 ('NW', 2214, 16),
 ('OH', 4846, 16),
 ('OO', 586, 16),
 ('UA', 1103, 16),
 ('US', 4410, 16),
 ('WN', 10698, 16),
 ('XE', 6502, 16),
 ('YV', 3077, 16)]

* So, GROUP BY can play nicely with window functions.  But, it is still being processed first.
* Great, but what if we want our window function to operate on something other than the entire result set?
* Well, we simply define a "partition" (i.e. a group rows) that the window function will aggregate.  To do this we use the **PARTITION BY** clause inside of **OVER()**

In [10]:
%%sql

WITH RDU_F AS
(
SELECT   *,
         CASE
         WHEN DepTime < 60 THEN
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',DepTime), '%Y %c %e %i')
         ELSE
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',SUBSTR(DepTime,1,LENGTH(DepTime)-2),' ',SUBSTR(DepTime,-2)), '%Y %c %e %k %i')
         END as DepTS
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
)
SELECT   UniqueCarrier,
         DepTS,
         COUNT(*) OVER(PARTITION BY UniqueCarrier)
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1
ORDER BY DepTS
LIMIT    200;

200 rows affected.

[('US', datetime.datetime(2007, 1, 1, 5, 54), 4410),
 ('CO', datetime.datetime(2007, 1, 1, 5, 59), 1637),
 ('MQ', datetime.datetime(2007, 1, 1, 6, 0), 15168),
 ('NW', datetime.datetime(2007, 1, 1, 6, 3), 2214),
 ('AA', datetime.datetime(2007, 1, 1, 6, 10), 6147),
 ('DL', datetime.datetime(2007, 1, 1, 6, 24), 3762),
 ('WN', datetime.datetime(2007, 1, 1, 6, 33), 10698),
 ('AA', datetime.datetime(2007, 1, 1, 6, 38), 6147),
 ('YV', datetime.datetime(2007, 1, 1, 6, 41), 3077),
 ('OH', datetime.datetime(2007, 1, 1, 6, 55), 4846),
 ('WN', datetime.datetime(2007, 1, 1, 6, 56), 10698),
 ('US', datetime.datetime(2007, 1, 1, 7, 0), 4410),
 ('MQ', datetime.datetime(2007, 1, 1, 7, 2), 15168),
 ('WN', datetime.datetime(2007, 1, 1, 7, 11), 10698),
 ('YV', datetime.datetime(2007, 1, 1, 7, 20), 3077),
 ('XE', datetime.datetime(2007, 1, 1, 7, 31), 6502),
 ('DL', datetime.datetime(2007, 1, 1, 7, 33), 3762),
 ('US', datetime.datetime(2007, 1, 1, 7, 33), 4410),
 ('DL', datetime.datetime(2007, 1, 1, 7, 35), 3762),
 ('WN', datetime.datetime(2007, 1, 1, 7, 42), 10698),
 ('MQ', datetime.datetime(2007, 1, 1, 8, 20), 15168),
 ('WN', datetime.datetime(2007, 1, 1, 8, 29), 10698),
 ('MQ', datetime.datetime(2007, 1, 1, 8, 31), 15168),
 ('AA', datetime.datetime(2007, 1, 1, 8, 34), 6147),
 ('XE', datetime.datetime(2007, 1, 1, 8, 44), 6502),
 ('NW', datetime.datetime(2007, 1, 1, 8, 46), 2214),
 ('MQ', datetime.datetime(2007, 1, 1, 8, 50), 15168),
 ('MQ', datetime.datetime(2007, 1, 1, 9, 20), 15168),
 ('OH', datetime.datetime(2007, 1, 1, 9, 21), 4846),
 ('WN', datetime.datetime(2007, 1, 1, 9, 23), 10698),
 ('WN', datetime.datetime(2007, 1, 1, 9, 28), 10698),
 ('MQ', datetime.datetime(2007, 1, 1, 9, 30), 15168),
 ('YV', datetime.datetime(2007, 1, 1, 9, 42), 3077),
 ('DL', datetime.datetime(2007, 1, 1, 9, 44), 3762),
 ('WN', datetime.datetime(2007, 1, 1, 9, 46), 10698),
 ('XE', datetime.datetime(2007, 1, 1, 9, 47), 6502),
 ('FL', datetime.datetime(2007, 1, 1, 9, 47), 1990),
 ('9E', datetime.datetime(2007, 1, 1, 9, 50), 1511),
 ('AA', datetime.datetime(2007, 1, 1, 9, 58), 6147),
 ('WN', datetime.datetime(2007, 1, 1, 10, 13), 10698),
 ('WN', datetime.datetime(2007, 1, 1, 10, 16), 10698),
 ('MQ', datetime.datetime(2007, 1, 1, 10, 24), 15168),
 ('XE', datetime.datetime(2007, 1, 1, 10, 25), 6502),
 ('AA', datetime.datetime(2007, 1, 1, 10, 26), 6147),
 ('AA', datetime.datetime(2007, 1, 1, 10, 27), 6147),
 ('NW', datetime.datetime(2007, 1, 1, 10, 31), 2214),
 ('AA', datetime.datetime(2007, 1, 1, 10, 40), 6147),
 ('MQ', datetime.datetime(2007, 1, 1, 10, 44), 15168),
 ('US', datetime.datetime(2007, 1, 1, 10, 53), 4410),
 ('FL', datetime.datetime(2007, 1, 1, 10, 54), 1990),
 ('B6', datetime.datetime(2007, 1, 1, 10, 57), 1850),
 ('OH', datetime.datetime(2007, 1, 1, 11, 0), 4846),
 ('MQ', datetime.datetime(2007, 1, 1, 11, 4), 15168),
 ('MQ', datetime.datetime(2007, 1, 1, 11, 11), 15168),
 ('OH', datetime.datetime(2007, 1, 1, 11, 15), 4846),
 ('AA', datetime.datetime(2007, 1, 1, 11, 19), 6147),
 ('MQ', datetime.datetime(2007, 1, 1, 11, 20), 15168),
 ('XE', datetime.datetime(2007, 1, 1, 11, 31), 6502),
 ('XE', datetime.datetime(2007, 1, 1, 11, 46), 6502),
 ('MQ', datetime.datetime(2007, 1, 1, 11, 47), 15168),
 ('EV', datetime.datetime(2007, 1, 1, 11, 48), 68),
 ('MQ', datetime.datetime(2007, 1, 1, 11, 52), 15168),
 ('WN', datetime.datetime(2007, 1, 1, 11, 54), 10698),
 ('US', datetime.datetime(2007, 1, 1, 11, 56), 4410),
 ('NW', datetime.datetime(2007, 1, 1, 12, 0), 2214),
 ('WN', datetime.datetime(2007, 1, 1, 12, 14), 10698),
 ('AA', datetime.datetime(2007, 1, 1, 12, 14), 6147),
 ('WN', datetime.datetime(2007, 1, 1, 12, 21), 10698),
 ('NW', datetime.datetime(2007, 1, 1, 12, 33), 2214),
 ('XE', datetime.datetime(2007, 1, 1, 12, 48), 6502),
 ('WN', datetime.datetime(2007, 1, 1, 12, 49), 10698),
 ('MQ', datetime.datetime(2007, 1, 1, 12, 53), 15168),
 ('US', datetime.datetime(2007, 1, 1, 12, 56), 4410),
 ('NW', datetime.datetime(2007, 1, 1, 13, 10), 2214),
 ('MQ', datetime.datetime(2007, 1, 1, 13, 15), 15168),
 ('XE', datetime.datetime(2007, 1, 1, 13, 17), 6502),
 ('MQ', datetime.datetime(2007, 1, 1, 13, 22), 15168),
 ('OH', datetime.datetime(2007, 1, 1, 13, 26), 4846),
 ('MQ', datetime.datetime(2007, 1, 1, 13, 29), 15168),
 ('WN', datetime.datetime(2007, 1, 1, 13, 30), 10698),
 ('AA', datetime.datetime(2007, 1, 1, 13, 40), 6147),
 ('DL', datetime.datetime(2007, 1, 1, 13, 49), 3762),
 ('MQ', datetime.datetime(2007, 1, 1, 14, 14), 15168),
 ('MQ', datetime.datetime(2007, 1, 1, 14, 22), 15168),
 ('WN', datetime.datetime(2007, 1, 1, 14, 25), 10698),
 ('XE', datetime.datetime(2007, 1, 1, 14, 25), 6502),
 ('OH', datetime.datetime(2007, 1, 1, 14, 35), 4846),
 ('US', datetime.datetime(2007, 1, 1, 14, 41), 4410),
 ('YV', datetime.datetime(2007, 1, 1, 14, 46), 3077),
 ('FL', datetime.datetime(2007, 1, 1, 14, 50), 1990),
 ('DL', datetime.datetime(2007, 1, 1, 15, 11), 3762),
 ('XE', datetime.datetime(2007, 1, 1, 15, 12), 6502),
 ('MQ', datetime.datetime(2007, 1, 1, 15, 14), 15168),
 ('MQ', datetime.datetime(2007, 1, 1, 15, 17), 15168),
 ('MQ', datetime.datetime(2007, 1, 1, 15, 30), 15168),
 ('US', datetime.datetime(2007, 1, 1, 15, 40), 4410),
 ('YV', datetime.datetime(2007, 1, 1, 15, 47), 3077),
 ('WN', datetime.datetime(2007, 1, 1, 15, 52), 10698),
 ('MQ', datetime.datetime(2007, 1, 1, 15, 57), 15168),
 ('AA', datetime.datetime(2007, 1, 1, 16, 0), 6147),
 ('MQ', datetime.datetime(2007, 1, 1, 16, 12), 15168),
 ('AA', datetime.datetime(2007, 1, 1, 16, 17), 6147),
 ('WN', datetime.datetime(2007, 1, 1, 16, 23), 10698),
 ('MQ', datetime.datetime(2007, 1, 1, 16, 31), 15168),
 ('US', datetime.datetime(2007, 1, 1, 16, 32), 4410),
 ('WN', datetime.datetime(2007, 1, 1, 16, 35), 10698),
 ('US', datetime.datetime(2007, 1, 1, 16, 35), 4410),
 ('WN', datetime.datetime(2007, 1, 1, 16, 46), 10698),
 ('B6', datetime.datetime(2007, 1, 1, 16, 53), 1850),
 ('XE', datetime.datetime(2007, 1, 1, 16, 57), 6502),
 ('NW', datetime.datetime(2007, 1, 1, 17, 4), 2214),
 ('WN', datetime.datetime(2007, 1, 1, 17, 5), 10698),
 ('US', datetime.datetime(2007, 1, 1, 17, 13), 4410),
 ('NW', datetime.datetime(2007, 1, 1, 17, 15), 2214),
 ('YV', datetime.datetime(2007, 1, 1, 17, 22), 3077),
 ('AA', datetime.datetime(2007, 1, 1, 17, 22), 6147),
 ('DL', datetime.datetime(2007, 1, 1, 17, 28), 3762),
 ('YV', datetime.datetime(2007, 1, 1, 17, 35), 3077),
 ('XE', datetime.datetime(2007, 1, 1, 17, 39), 6502),
 ('B6', datetime.datetime(2007, 1, 1, 17, 39), 1850),
 ('MQ', datetime.datetime(2007, 1, 1, 17, 42), 15168),
 ('MQ', datetime.datetime(2007, 1, 1, 17, 50), 15168),
 ('US', datetime.datetime(2007, 1, 1, 17, 56), 4410),
 ('MQ', datetime.datetime(2007, 1, 1, 17, 58), 15168),
 ('NW', datetime.datetime(2007, 1, 1, 18, 2), 2214),
 ('CO', datetime.datetime(2007, 1, 1, 18, 16), 1637),
 ('WN', datetime.datetime(2007, 1, 1, 18, 28), 10698),
 ('OH', datetime.datetime(2007, 1, 1, 18, 30), 4846),
 ('OH', datetime.datetime(2007, 1, 1, 18, 35), 4846),
 ('XE', datetime.datetime(2007, 1, 1, 18, 37), 6502),
 ('CO', datetime.datetime(2007, 1, 1, 18, 40), 1637),
 ('WN', datetime.datetime(2007, 1, 1, 19, 0), 10698),
 ('FL', datetime.datetime(2007, 1, 1, 19, 0), 1990),
 ('MQ', datetime.datetime(2007, 1, 1, 19, 6), 15168),
 ('MQ', datetime.datetime(2007, 1, 1, 19, 14), 15168),
 ('9E', datetime.datetime(2007, 1, 1, 19, 17), 1511),
 ('MQ', datetime.datetime(2007, 1, 1, 19, 22), 15168),
 ('US', datetime.datetime(2007, 1, 1, 19, 33), 4410),
 ('WN', datetime.datetime(2007, 1, 1, 19, 36), 10698),
 ('US', datetime.datetime(2007, 1, 1, 19, 37), 4410),
 ('DL', datetime.datetime(2007, 1, 1, 19, 42), 3762),
 ('MQ', datetime.datetime(2007, 1, 1, 19, 44), 15168),
 ('YV', datetime.datetime(2007, 1, 1, 19, 45), 3077),
 ('MQ', datetime.datetime(2007, 1, 1, 19, 54), 15168),
 ('AA', datetime.datetime(2007, 1, 1, 19, 55), 6147),
 ('AA', datetime.datetime(2007, 1, 1, 19, 55), 6147),
 ('US', datetime.datetime(2007, 1, 1, 20, 14), 4410),
 ('OH', datetime.datetime(2007, 1, 1, 20, 15), 4846),
 ('OH', datetime.datetime(2007, 1, 1, 20, 15), 4846),
 ('WN', datetime.datetime(2007, 1, 1, 20, 24), 10698),
 ('MQ', datetime.datetime(2007, 1, 1, 20, 25), 15168),
 ('B6', datetime.datetime(2007, 1, 1, 20, 26), 1850),
 ('YV', datetime.datetime(2007, 1, 1, 20, 27), 3077),
 ('MQ', datetime.datetime(2007, 1, 1, 20, 28), 15168),
 ('MQ', datetime.datetime(2007, 1, 1, 20, 34), 15168),
 ('WN', datetime.datetime(2007, 1, 1, 20, 40), 10698),
 ('MQ', datetime.datetime(2007, 1, 1, 20, 45), 15168),
 ('XE', datetime.datetime(2007, 1, 1, 20, 50), 6502),
 ('MQ', datetime.datetime(2007, 1, 1, 21, 24), 15168),
 ('FL', datetime.datetime(2007, 1, 1, 21, 29), 1990),
 ('WN', datetime.datetime(2007, 1, 1, 22, 28), 10698),
 ('WN', datetime.datetime(2007, 1, 1, 22, 45), 10698),
 ('MQ', datetime.datetime(2007, 1, 2, 5, 53), 15168),
 ('US', datetime.datetime(2007, 1, 2, 5, 54), 4410),
 ('B6', datetime.datetime(2007, 1, 2, 5, 55), 1850),
 ('MQ', datetime.datetime(2007, 1, 2, 5, 59), 15168),
 ('FL', datetime.datetime(2007, 1, 2, 6, 0), 1990),
 ('AA', datetime.datetime(2007, 1, 2, 6, 2), 6147),
 ('CO', datetime.datetime(2007, 1, 2, 6, 3), 1637),
 ('MQ', datetime.datetime(2007, 1, 2, 6, 5), 15168),
 ('YV', datetime.datetime(2007, 1, 2, 6, 9), 3077),
 ('NW', datetime.datetime(2007, 1, 2, 6, 11), 2214),
 ('MQ', datetime.datetime(2007, 1, 2, 6, 23), 15168),
 ('XE', datetime.datetime(2007, 1, 2, 6, 25), 6502),
 ('OH', datetime.datetime(2007, 1, 2, 6, 25), 4846),
 ('DL', datetime.datetime(2007, 1, 2, 6, 27), 3762),
 ('YV', datetime.datetime(2007, 1, 2, 6, 30), 3077),
 ('OH', datetime.datetime(2007, 1, 2, 6, 30), 4846),
 ('DL', datetime.datetime(2007, 1, 2, 6, 31), 3762),
 ('WN', datetime.datetime(2007, 1, 2, 6, 34), 10698),
 ('CO', datetime.datetime(2007, 1, 2, 6, 35), 1637),
 ('WN', datetime.datetime(2007, 1, 2, 6, 51), 10698),
 ('US', datetime.datetime(2007, 1, 2, 6, 56), 4410),
 ('MQ', datetime.datetime(2007, 1, 2, 7, 1), 15168),
 ('MQ', datetime.datetime(2007, 1, 2, 7, 2), 15168),
 ('WN', datetime.datetime(2007, 1, 2, 7, 4), 10698),
 ('WN', datetime.datetime(2007, 1, 2, 7, 13), 10698),
 ('MQ', datetime.datetime(2007, 1, 2, 7, 21), 15168),
 ('XE', datetime.datetime(2007, 1, 2, 7, 29), 6502),
 ('AA', datetime.datetime(2007, 1, 2, 7, 31), 6147),
 ('DL', datetime.datetime(2007, 1, 2, 7, 31), 3762),
 ('US', datetime.datetime(2007, 1, 2, 7, 33), 4410),
 ('XE', datetime.datetime(2007, 1, 2, 7, 34), 6502),
 ('WN', datetime.datetime(2007, 1, 2, 7, 37), 10698),
 ('WN', datetime.datetime(2007, 1, 2, 7, 45), 10698),
 ('DL', datetime.datetime(2007, 1, 2, 7, 49), 3762),
 ('OH', datetime.datetime(2007, 1, 2, 7, 55), 4846),
 ('MQ', datetime.datetime(2007, 1, 2, 7, 56), 15168),
 ('AA', datetime.datetime(2007, 1, 2, 8, 13), 6147),
 ('YV', datetime.datetime(2007, 1, 2, 8, 15), 3077)]

* Notice that now we can have multiple records for each UniqueCarrier but the COUNT(\*) for each UniqueCarrier still matches our output from the GROUP BY query
* Also, we can now include whatever columns we want in the SELECT clause without needing them to match a column list in the GROUP BY clause!
* Additionally, it is perfectly fine to PARTITION BY multiple columns...

In [13]:
%%sql

WITH RDU_F AS
(
SELECT   *,
         CASE
         WHEN DepTime < 60 THEN
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',DepTime), '%Y %c %e %i')
         ELSE
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',SUBSTR(DepTime,1,LENGTH(DepTime)-2),' ',SUBSTR(DepTime,-2)), '%Y %c %e %k %i')
         END as DepTS
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
)
SELECT   UniqueCarrier,
         DepTS,
         COUNT(*) OVER(PARTITION BY UniqueCarrier, DATE(DepTS))
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1
ORDER BY DepTS
LIMIT    200;

200 rows affected.

[('US', datetime.datetime(2007, 1, 1, 5, 54), 15),
 ('CO', datetime.datetime(2007, 1, 1, 5, 59), 3),
 ('MQ', datetime.datetime(2007, 1, 1, 6, 0), 39),
 ('NW', datetime.datetime(2007, 1, 1, 6, 3), 9),
 ('AA', datetime.datetime(2007, 1, 1, 6, 10), 15),
 ('DL', datetime.datetime(2007, 1, 1, 6, 24), 8),
 ('WN', datetime.datetime(2007, 1, 1, 6, 33), 28),
 ('AA', datetime.datetime(2007, 1, 1, 6, 38), 15),
 ('YV', datetime.datetime(2007, 1, 1, 6, 41), 9),
 ('OH', datetime.datetime(2007, 1, 1, 6, 55), 10),
 ('WN', datetime.datetime(2007, 1, 1, 6, 56), 28),
 ('US', datetime.datetime(2007, 1, 1, 7, 0), 15),
 ('MQ', datetime.datetime(2007, 1, 1, 7, 2), 39),
 ('WN', datetime.datetime(2007, 1, 1, 7, 11), 28),
 ('YV', datetime.datetime(2007, 1, 1, 7, 20), 9),
 ('XE', datetime.datetime(2007, 1, 1, 7, 31), 14),
 ('DL', datetime.datetime(2007, 1, 1, 7, 33), 8),
 ('US', datetime.datetime(2007, 1, 1, 7, 33), 15),
 ('DL', datetime.datetime(2007, 1, 1, 7, 35), 8),
 ('WN', datetime.datetime(2007, 1, 1, 7, 42), 28),
 ('MQ', datetime.datetime(2007, 1, 1, 8, 20), 39),
 ('WN', datetime.datetime(2007, 1, 1, 8, 29), 28),
 ('MQ', datetime.datetime(2007, 1, 1, 8, 31), 39),
 ('AA', datetime.datetime(2007, 1, 1, 8, 34), 15),
 ('XE', datetime.datetime(2007, 1, 1, 8, 44), 14),
 ('NW', datetime.datetime(2007, 1, 1, 8, 46), 9),
 ('MQ', datetime.datetime(2007, 1, 1, 8, 50), 39),
 ('MQ', datetime.datetime(2007, 1, 1, 9, 20), 39),
 ('OH', datetime.datetime(2007, 1, 1, 9, 21), 10),
 ('WN', datetime.datetime(2007, 1, 1, 9, 23), 28),
 ('WN', datetime.datetime(2007, 1, 1, 9, 28), 28),
 ('MQ', datetime.datetime(2007, 1, 1, 9, 30), 39),
 ('YV', datetime.datetime(2007, 1, 1, 9, 42), 9),
 ('DL', datetime.datetime(2007, 1, 1, 9, 44), 8),
 ('WN', datetime.datetime(2007, 1, 1, 9, 46), 28),
 ('XE', datetime.datetime(2007, 1, 1, 9, 47), 14),
 ('FL', datetime.datetime(2007, 1, 1, 9, 47), 5),
 ('9E', datetime.datetime(2007, 1, 1, 9, 50), 2),
 ('AA', datetime.datetime(2007, 1, 1, 9, 58), 15),
 ('WN', datetime.datetime(2007, 1, 1, 10, 13), 28),
 ('WN', datetime.datetime(2007, 1, 1, 10, 16), 28),
 ('MQ', datetime.datetime(2007, 1, 1, 10, 24), 39),
 ('XE', datetime.datetime(2007, 1, 1, 10, 25), 14),
 ('AA', datetime.datetime(2007, 1, 1, 10, 26), 15),
 ('AA', datetime.datetime(2007, 1, 1, 10, 27), 15),
 ('NW', datetime.datetime(2007, 1, 1, 10, 31), 9),
 ('AA', datetime.datetime(2007, 1, 1, 10, 40), 15),
 ('MQ', datetime.datetime(2007, 1, 1, 10, 44), 39),
 ('US', datetime.datetime(2007, 1, 1, 10, 53), 15),
 ('FL', datetime.datetime(2007, 1, 1, 10, 54), 5),
 ('B6', datetime.datetime(2007, 1, 1, 10, 57), 4),
 ('OH', datetime.datetime(2007, 1, 1, 11, 0), 10),
 ('MQ', datetime.datetime(2007, 1, 1, 11, 4), 39),
 ('MQ', datetime.datetime(2007, 1, 1, 11, 11), 39),
 ('OH', datetime.datetime(2007, 1, 1, 11, 15), 10),
 ('AA', datetime.datetime(2007, 1, 1, 11, 19), 15),
 ('MQ', datetime.datetime(2007, 1, 1, 11, 20), 39),
 ('XE', datetime.datetime(2007, 1, 1, 11, 31), 14),
 ('XE', datetime.datetime(2007, 1, 1, 11, 46), 14),
 ('MQ', datetime.datetime(2007, 1, 1, 11, 47), 39),
 ('EV', datetime.datetime(2007, 1, 1, 11, 48), 1),
 ('MQ', datetime.datetime(2007, 1, 1, 11, 52), 39),
 ('WN', datetime.datetime(2007, 1, 1, 11, 54), 28),
 ('US', datetime.datetime(2007, 1, 1, 11, 56), 15),
 ('NW', datetime.datetime(2007, 1, 1, 12, 0), 9),
 ('AA', datetime.datetime(2007, 1, 1, 12, 14), 15),
 ('WN', datetime.datetime(2007, 1, 1, 12, 14), 28),
 ('WN', datetime.datetime(2007, 1, 1, 12, 21), 28),
 ('NW', datetime.datetime(2007, 1, 1, 12, 33), 9),
 ('XE', datetime.datetime(2007, 1, 1, 12, 48), 14),
 ('WN', datetime.datetime(2007, 1, 1, 12, 49), 28),
 ('MQ', datetime.datetime(2007, 1, 1, 12, 53), 39),
 ('US', datetime.datetime(2007, 1, 1, 12, 56), 15),
 ('NW', datetime.datetime(2007, 1, 1, 13, 10), 9),
 ('MQ', datetime.datetime(2007, 1, 1, 13, 15), 39),
 ('XE', datetime.datetime(2007, 1, 1, 13, 17), 14),
 ('MQ', datetime.datetime(2007, 1, 1, 13, 22), 39),
 ('OH', datetime.datetime(2007, 1, 1, 13, 26), 10),
 ('MQ', datetime.datetime(2007, 1, 1, 13, 29), 39),
 ('WN', datetime.datetime(2007, 1, 1, 13, 30), 28),
 ('AA', datetime.datetime(2007, 1, 1, 13, 40), 15),
 ('DL', datetime.datetime(2007, 1, 1, 13, 49), 8),
 ('MQ', datetime.datetime(2007, 1, 1, 14, 14), 39),
 ('MQ', datetime.datetime(2007, 1, 1, 14, 22), 39),
 ('XE', datetime.datetime(2007, 1, 1, 14, 25), 14),
 ('WN', datetime.datetime(2007, 1, 1, 14, 25), 28),
 ('OH', datetime.datetime(2007, 1, 1, 14, 35), 10),
 ('US', datetime.datetime(2007, 1, 1, 14, 41), 15),
 ('YV', datetime.datetime(2007, 1, 1, 14, 46), 9),
 ('FL', datetime.datetime(2007, 1, 1, 14, 50), 5),
 ('DL', datetime.datetime(2007, 1, 1, 15, 11), 8),
 ('XE', datetime.datetime(2007, 1, 1, 15, 12), 14),
 ('MQ', datetime.datetime(2007, 1, 1, 15, 14), 39),
 ('MQ', datetime.datetime(2007, 1, 1, 15, 17), 39),
 ('MQ', datetime.datetime(2007, 1, 1, 15, 30), 39),
 ('US', datetime.datetime(2007, 1, 1, 15, 40), 15),
 ('YV', datetime.datetime(2007, 1, 1, 15, 47), 9),
 ('WN', datetime.datetime(2007, 1, 1, 15, 52), 28),
 ('MQ', datetime.datetime(2007, 1, 1, 15, 57), 39),
 ('AA', datetime.datetime(2007, 1, 1, 16, 0), 15),
 ('MQ', datetime.datetime(2007, 1, 1, 16, 12), 39),
 ('AA', datetime.datetime(2007, 1, 1, 16, 17), 15),
 ('WN', datetime.datetime(2007, 1, 1, 16, 23), 28),
 ('MQ', datetime.datetime(2007, 1, 1, 16, 31), 39),
 ('US', datetime.datetime(2007, 1, 1, 16, 32), 15),
 ('WN', datetime.datetime(2007, 1, 1, 16, 35), 28),
 ('US', datetime.datetime(2007, 1, 1, 16, 35), 15),
 ('WN', datetime.datetime(2007, 1, 1, 16, 46), 28),
 ('B6', datetime.datetime(2007, 1, 1, 16, 53), 4),
 ('XE', datetime.datetime(2007, 1, 1, 16, 57), 14),
 ('NW', datetime.datetime(2007, 1, 1, 17, 4), 9),
 ('WN', datetime.datetime(2007, 1, 1, 17, 5), 28),
 ('US', datetime.datetime(2007, 1, 1, 17, 13), 15),
 ('NW', datetime.datetime(2007, 1, 1, 17, 15), 9),
 ('YV', datetime.datetime(2007, 1, 1, 17, 22), 9),
 ('AA', datetime.datetime(2007, 1, 1, 17, 22), 15),
 ('DL', datetime.datetime(2007, 1, 1, 17, 28), 8),
 ('YV', datetime.datetime(2007, 1, 1, 17, 35), 9),
 ('XE', datetime.datetime(2007, 1, 1, 17, 39), 14),
 ('B6', datetime.datetime(2007, 1, 1, 17, 39), 4),
 ('MQ', datetime.datetime(2007, 1, 1, 17, 42), 39),
 ('MQ', datetime.datetime(2007, 1, 1, 17, 50), 39),
 ('US', datetime.datetime(2007, 1, 1, 17, 56), 15),
 ('MQ', datetime.datetime(2007, 1, 1, 17, 58), 39),
 ('NW', datetime.datetime(2007, 1, 1, 18, 2), 9),
 ('CO', datetime.datetime(2007, 1, 1, 18, 16), 3),
 ('WN', datetime.datetime(2007, 1, 1, 18, 28), 28),
 ('OH', datetime.datetime(2007, 1, 1, 18, 30), 10),
 ('OH', datetime.datetime(2007, 1, 1, 18, 35), 10),
 ('XE', datetime.datetime(2007, 1, 1, 18, 37), 14),
 ('CO', datetime.datetime(2007, 1, 1, 18, 40), 3),
 ('FL', datetime.datetime(2007, 1, 1, 19, 0), 5),
 ('WN', datetime.datetime(2007, 1, 1, 19, 0), 28),
 ('MQ', datetime.datetime(2007, 1, 1, 19, 6), 39),
 ('MQ', datetime.datetime(2007, 1, 1, 19, 14), 39),
 ('9E', datetime.datetime(2007, 1, 1, 19, 17), 2),
 ('MQ', datetime.datetime(2007, 1, 1, 19, 22), 39),
 ('US', datetime.datetime(2007, 1, 1, 19, 33), 15),
 ('WN', datetime.datetime(2007, 1, 1, 19, 36), 28),
 ('US', datetime.datetime(2007, 1, 1, 19, 37), 15),
 ('DL', datetime.datetime(2007, 1, 1, 19, 42), 8),
 ('MQ', datetime.datetime(2007, 1, 1, 19, 44), 39),
 ('YV', datetime.datetime(2007, 1, 1, 19, 45), 9),
 ('MQ', datetime.datetime(2007, 1, 1, 19, 54), 39),
 ('AA', datetime.datetime(2007, 1, 1, 19, 55), 15),
 ('AA', datetime.datetime(2007, 1, 1, 19, 55), 15),
 ('US', datetime.datetime(2007, 1, 1, 20, 14), 15),
 ('OH', datetime.datetime(2007, 1, 1, 20, 15), 10),
 ('OH', datetime.datetime(2007, 1, 1, 20, 15), 10),
 ('WN', datetime.datetime(2007, 1, 1, 20, 24), 28),
 ('MQ', datetime.datetime(2007, 1, 1, 20, 25), 39),
 ('B6', datetime.datetime(2007, 1, 1, 20, 26), 4),
 ('YV', datetime.datetime(2007, 1, 1, 20, 27), 9),
 ('MQ', datetime.datetime(2007, 1, 1, 20, 28), 39),
 ('MQ', datetime.datetime(2007, 1, 1, 20, 34), 39),
 ('WN', datetime.datetime(2007, 1, 1, 20, 40), 28),
 ('MQ', datetime.datetime(2007, 1, 1, 20, 45), 39),
 ('XE', datetime.datetime(2007, 1, 1, 20, 50), 14),
 ('MQ', datetime.datetime(2007, 1, 1, 21, 24), 39),
 ('FL', datetime.datetime(2007, 1, 1, 21, 29), 5),
 ('WN', datetime.datetime(2007, 1, 1, 22, 28), 28),
 ('WN', datetime.datetime(2007, 1, 1, 22, 45), 28),
 ('MQ', datetime.datetime(2007, 1, 2, 5, 53), 46),
 ('US', datetime.datetime(2007, 1, 2, 5, 54), 16),
 ('B6', datetime.datetime(2007, 1, 2, 5, 55), 5),
 ('MQ', datetime.datetime(2007, 1, 2, 5, 59), 46),
 ('FL', datetime.datetime(2007, 1, 2, 6, 0), 6),
 ('AA', datetime.datetime(2007, 1, 2, 6, 2), 14),
 ('CO', datetime.datetime(2007, 1, 2, 6, 3), 4),
 ('MQ', datetime.datetime(2007, 1, 2, 6, 5), 46),
 ('YV', datetime.datetime(2007, 1, 2, 6, 9), 11),
 ('NW', datetime.datetime(2007, 1, 2, 6, 11), 8),
 ('MQ', datetime.datetime(2007, 1, 2, 6, 23), 46),
 ('XE', datetime.datetime(2007, 1, 2, 6, 25), 16),
 ('OH', datetime.datetime(2007, 1, 2, 6, 25), 14),
 ('DL', datetime.datetime(2007, 1, 2, 6, 27), 9),
 ('OH', datetime.datetime(2007, 1, 2, 6, 30), 14),
 ('YV', datetime.datetime(2007, 1, 2, 6, 30), 11),
 ('DL', datetime.datetime(2007, 1, 2, 6, 31), 9),
 ('WN', datetime.datetime(2007, 1, 2, 6, 34), 30),
 ('CO', datetime.datetime(2007, 1, 2, 6, 35), 4),
 ('WN', datetime.datetime(2007, 1, 2, 6, 51), 30),
 ('US', datetime.datetime(2007, 1, 2, 6, 56), 16),
 ('MQ', datetime.datetime(2007, 1, 2, 7, 1), 46),
 ('MQ', datetime.datetime(2007, 1, 2, 7, 2), 46),
 ('WN', datetime.datetime(2007, 1, 2, 7, 4), 30),
 ('WN', datetime.datetime(2007, 1, 2, 7, 13), 30),
 ('MQ', datetime.datetime(2007, 1, 2, 7, 21), 46),
 ('XE', datetime.datetime(2007, 1, 2, 7, 29), 16),
 ('DL', datetime.datetime(2007, 1, 2, 7, 31), 9),
 ('AA', datetime.datetime(2007, 1, 2, 7, 31), 14),
 ('US', datetime.datetime(2007, 1, 2, 7, 33), 16),
 ('XE', datetime.datetime(2007, 1, 2, 7, 34), 16),
 ('WN', datetime.datetime(2007, 1, 2, 7, 37), 30),
 ('WN', datetime.datetime(2007, 1, 2, 7, 45), 30),
 ('DL', datetime.datetime(2007, 1, 2, 7, 49), 9),
 ('OH', datetime.datetime(2007, 1, 2, 7, 55), 14),
 ('MQ', datetime.datetime(2007, 1, 2, 7, 56), 46),
 ('AA', datetime.datetime(2007, 1, 2, 8, 13), 14),
 ('YV', datetime.datetime(2007, 1, 2, 8, 15), 11)]

* **NULL** values are handled in the same manner as they would be by a GROUP BY...
* (Remember that in Jupyter a **NULL** is denoted by "None")

In [14]:
%%sql

SELECT    a1c,
          COUNT(*)
FROM      sanford.health
GROUP BY  a1c
ORDER BY  COUNT(*) DESC
LIMIT     10;

10 rows affected.

[(None, 120374),
 (Decimal('6.5'), 1448),
 (Decimal('6.6'), 1448),
 (Decimal('6.4'), 1427),
 (Decimal('6.7'), 1419),
 (Decimal('6.8'), 1415),
 (Decimal('6.9'), 1333),
 (Decimal('6.3'), 1310),
 (Decimal('6.2'), 1254),
 (Decimal('7.0'), 1207)]

In [15]:
%%sql

SELECT    a1c,
          COUNT(*) OVER(PARTITION BY a1c)
FROM      sanford.health
LIMIT     10;

10 rows affected.

[(None, 120374),
 (None, 120374),
 (Decimal('6.4'), 1427),
 (Decimal('8.0'), 647),
 (None, 120374),
 (Decimal('8.5'), 376),
 (None, 120374),
 (None, 120374),
 (None, 120374),
 (None, 120374)]

In [18]:
%%sql

SELECT    a1c,
          COUNT(a1c) OVER(PARTITION BY a1c)
FROM      sanford.health
LIMIT     10;

10 rows affected.

[(None, 0),
 (None, 0),
 (Decimal('6.4'), 1427),
 (Decimal('8.0'), 647),
 (None, 0),
 (Decimal('8.5'), 376),
 (None, 0),
 (None, 0),
 (None, 0),
 (None, 0)]

* Let's see if we're actually comprehending what's going on here or still trying to recover from a Professor Spence statistical whoopin'
* Use window functions to calculate five average delays...
  * Average departure delay for all airlines for the whole year
  * Average departure delay for an airline on the current day
  * Average departure delay for all airlines on the current day
  * Average departure delay for an airline for the whole year
  * Average departure delay for an airline on the current day of the week

In [19]:
%%sql

WITH RDU_F AS
(
SELECT   *,
         CASE
         WHEN DepTime < 60 THEN
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',DepTime), '%Y %c %e %i')
         ELSE
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',SUBSTR(DepTime,1,LENGTH(DepTime)-2),' ',SUBSTR(DepTime,-2)), '%Y %c %e %k %i')
         END as DepTS
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
)
SELECT   UniqueCarrier,
         DepTS,
         DepDelay,
         AVG(DepDelay) OVER() AS Avg_All,
         AVG(DepDelay) OVER(PARTITION BY UniqueCarrier, DATE(DepTS)) AS Avg_Carrier_Today,
         AVG(DepDelay) OVER(PARTITION BY DATE(DepTS)) AS Avg_Today,
         AVG(DepDelay) OVER(PARTITION BY UniqueCarrier) AS Avg_Carrier,
         AVG(DepDelay) OVER(PARTITION BY UniqueCarrier, DAYOFWEEK(DepTS)) AS Avg_Carrier_DOW
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1
ORDER BY DepTS
LIMIT    200;

200 rows affected.

[('US', datetime.datetime(2007, 1, 1, 5, 54), -6, Decimal('11.0742'), Decimal('32.0667'), Decimal('30.6914'), Decimal('10.2694'), Decimal('9.5521')),
 ('CO', datetime.datetime(2007, 1, 1, 5, 59), -1, Decimal('11.0742'), Decimal('34.3333'), Decimal('30.6914'), Decimal('20.2651'), Decimal('21.8803')),
 ('MQ', datetime.datetime(2007, 1, 1, 6, 0), 0, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('NW', datetime.datetime(2007, 1, 1, 6, 3), -7, Decimal('11.0742'), Decimal('55.0000'), Decimal('30.6914'), Decimal('6.9327'), Decimal('7.3909')),
 ('AA', datetime.datetime(2007, 1, 1, 6, 10), 5, Decimal('11.0742'), Decimal('35.0000'), Decimal('30.6914'), Decimal('13.3602'), Decimal('15.6976')),
 ('DL', datetime.datetime(2007, 1, 1, 6, 24), -11, Decimal('11.0742'), Decimal('-1.7500'), Decimal('30.6914'), Decimal('2.8950'), Decimal('4.7624')),
 ('WN', datetime.datetime(2007, 1, 1, 6, 33), -2, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('AA', datetime.datetime(2007, 1, 1, 6, 38), -2, Decimal('11.0742'), Decimal('35.0000'), Decimal('30.6914'), Decimal('13.3602'), Decimal('15.6976')),
 ('YV', datetime.datetime(2007, 1, 1, 6, 41), 16, Decimal('11.0742'), Decimal('54.4444'), Decimal('30.6914'), Decimal('16.6383'), Decimal('17.2511')),
 ('OH', datetime.datetime(2007, 1, 1, 6, 55), -5, Decimal('11.0742'), Decimal('11.7000'), Decimal('30.6914'), Decimal('13.9352'), Decimal('14.8853')),
 ('WN', datetime.datetime(2007, 1, 1, 6, 56), -4, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('US', datetime.datetime(2007, 1, 1, 7, 0), 0, Decimal('11.0742'), Decimal('32.0667'), Decimal('30.6914'), Decimal('10.2694'), Decimal('9.5521')),
 ('MQ', datetime.datetime(2007, 1, 1, 7, 2), -3, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('WN', datetime.datetime(2007, 1, 1, 7, 11), -4, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('YV', datetime.datetime(2007, 1, 1, 7, 20), 6, Decimal('11.0742'), Decimal('54.4444'), Decimal('30.6914'), Decimal('16.6383'), Decimal('17.2511')),
 ('XE', datetime.datetime(2007, 1, 1, 7, 31), -9, Decimal('11.0742'), Decimal('30.0714'), Decimal('30.6914'), Decimal('8.2716'), Decimal('11.7797')),
 ('DL', datetime.datetime(2007, 1, 1, 7, 33), -7, Decimal('11.0742'), Decimal('-1.7500'), Decimal('30.6914'), Decimal('2.8950'), Decimal('4.7624')),
 ('US', datetime.datetime(2007, 1, 1, 7, 33), 3, Decimal('11.0742'), Decimal('32.0667'), Decimal('30.6914'), Decimal('10.2694'), Decimal('9.5521')),
 ('DL', datetime.datetime(2007, 1, 1, 7, 35), 0, Decimal('11.0742'), Decimal('-1.7500'), Decimal('30.6914'), Decimal('2.8950'), Decimal('4.7624')),
 ('WN', datetime.datetime(2007, 1, 1, 7, 42), -3, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('MQ', datetime.datetime(2007, 1, 1, 8, 20), 0, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('WN', datetime.datetime(2007, 1, 1, 8, 29), -1, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('MQ', datetime.datetime(2007, 1, 1, 8, 31), -4, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('AA', datetime.datetime(2007, 1, 1, 8, 34), 19, Decimal('11.0742'), Decimal('35.0000'), Decimal('30.6914'), Decimal('13.3602'), Decimal('15.6976')),
 ('XE', datetime.datetime(2007, 1, 1, 8, 44), -1, Decimal('11.0742'), Decimal('30.0714'), Decimal('30.6914'), Decimal('8.2716'), Decimal('11.7797')),
 ('NW', datetime.datetime(2007, 1, 1, 8, 46), 11, Decimal('11.0742'), Decimal('55.0000'), Decimal('30.6914'), Decimal('6.9327'), Decimal('7.3909')),
 ('MQ', datetime.datetime(2007, 1, 1, 8, 50), -5, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('MQ', datetime.datetime(2007, 1, 1, 9, 20), -5, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('OH', datetime.datetime(2007, 1, 1, 9, 21), -10, Decimal('11.0742'), Decimal('11.7000'), Decimal('30.6914'), Decimal('13.9352'), Decimal('14.8853')),
 ('WN', datetime.datetime(2007, 1, 1, 9, 23), 3, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('WN', datetime.datetime(2007, 1, 1, 9, 28), -2, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('MQ', datetime.datetime(2007, 1, 1, 9, 30), -5, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('YV', datetime.datetime(2007, 1, 1, 9, 42), -6, Decimal('11.0742'), Decimal('54.4444'), Decimal('30.6914'), Decimal('16.6383'), Decimal('17.2511')),
 ('DL', datetime.datetime(2007, 1, 1, 9, 44), -1, Decimal('11.0742'), Decimal('-1.7500'), Decimal('30.6914'), Decimal('2.8950'), Decimal('4.7624')),
 ('WN', datetime.datetime(2007, 1, 1, 9, 46), 31, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('FL', datetime.datetime(2007, 1, 1, 9, 47), -6, Decimal('11.0742'), Decimal('8.6000'), Decimal('30.6914'), Decimal('5.8156'), Decimal('5.1830')),
 ('XE', datetime.datetime(2007, 1, 1, 9, 47), -13, Decimal('11.0742'), Decimal('30.0714'), Decimal('30.6914'), Decimal('8.2716'), Decimal('11.7797')),
 ('9E', datetime.datetime(2007, 1, 1, 9, 50), 5, Decimal('11.0742'), Decimal('-1.5000'), Decimal('30.6914'), Decimal('6.4004'), Decimal('6.4865')),
 ('AA', datetime.datetime(2007, 1, 1, 9, 58), 23, Decimal('11.0742'), Decimal('35.0000'), Decimal('30.6914'), Decimal('13.3602'), Decimal('15.6976')),
 ('WN', datetime.datetime(2007, 1, 1, 10, 13), -2, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('WN', datetime.datetime(2007, 1, 1, 10, 16), -4, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('MQ', datetime.datetime(2007, 1, 1, 10, 24), -1, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('XE', datetime.datetime(2007, 1, 1, 10, 25), -10, Decimal('11.0742'), Decimal('30.0714'), Decimal('30.6914'), Decimal('8.2716'), Decimal('11.7797')),
 ('AA', datetime.datetime(2007, 1, 1, 10, 26), 86, Decimal('11.0742'), Decimal('35.0000'), Decimal('30.6914'), Decimal('13.3602'), Decimal('15.6976')),
 ('AA', datetime.datetime(2007, 1, 1, 10, 27), 172, Decimal('11.0742'), Decimal('35.0000'), Decimal('30.6914'), Decimal('13.3602'), Decimal('15.6976')),
 ('NW', datetime.datetime(2007, 1, 1, 10, 31), 91, Decimal('11.0742'), Decimal('55.0000'), Decimal('30.6914'), Decimal('6.9327'), Decimal('7.3909')),
 ('AA', datetime.datetime(2007, 1, 1, 10, 40), 0, Decimal('11.0742'), Decimal('35.0000'), Decimal('30.6914'), Decimal('13.3602'), Decimal('15.6976')),
 ('MQ', datetime.datetime(2007, 1, 1, 10, 44), 4, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('US', datetime.datetime(2007, 1, 1, 10, 53), -7, Decimal('11.0742'), Decimal('32.0667'), Decimal('30.6914'), Decimal('10.2694'), Decimal('9.5521')),
 ('FL', datetime.datetime(2007, 1, 1, 10, 54), -8, Decimal('11.0742'), Decimal('8.6000'), Decimal('30.6914'), Decimal('5.8156'), Decimal('5.1830')),
 ('B6', datetime.datetime(2007, 1, 1, 10, 57), 32, Decimal('11.0742'), Decimal('60.0000'), Decimal('30.6914'), Decimal('13.6681'), Decimal('11.0000')),
 ('OH', datetime.datetime(2007, 1, 1, 11, 0), 0, Decimal('11.0742'), Decimal('11.7000'), Decimal('30.6914'), Decimal('13.9352'), Decimal('14.8853')),
 ('MQ', datetime.datetime(2007, 1, 1, 11, 4), 4, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('MQ', datetime.datetime(2007, 1, 1, 11, 11), 11, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('OH', datetime.datetime(2007, 1, 1, 11, 15), 0, Decimal('11.0742'), Decimal('11.7000'), Decimal('30.6914'), Decimal('13.9352'), Decimal('14.8853')),
 ('AA', datetime.datetime(2007, 1, 1, 11, 19), 14, Decimal('11.0742'), Decimal('35.0000'), Decimal('30.6914'), Decimal('13.3602'), Decimal('15.6976')),
 ('MQ', datetime.datetime(2007, 1, 1, 11, 20), 20, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('XE', datetime.datetime(2007, 1, 1, 11, 31), -4, Decimal('11.0742'), Decimal('30.0714'), Decimal('30.6914'), Decimal('8.2716'), Decimal('11.7797')),
 ('XE', datetime.datetime(2007, 1, 1, 11, 46), 2, Decimal('11.0742'), Decimal('30.0714'), Decimal('30.6914'), Decimal('8.2716'), Decimal('11.7797')),
 ('MQ', datetime.datetime(2007, 1, 1, 11, 47), 7, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('EV', datetime.datetime(2007, 1, 1, 11, 48), -5, Decimal('11.0742'), Decimal('-5.0000'), Decimal('30.6914'), Decimal('16.0882'), Decimal('12.0000')),
 ('MQ', datetime.datetime(2007, 1, 1, 11, 52), 37, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('WN', datetime.datetime(2007, 1, 1, 11, 54), 4, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('US', datetime.datetime(2007, 1, 1, 11, 56), 16, Decimal('11.0742'), Decimal('32.0667'), Decimal('30.6914'), Decimal('10.2694'), Decimal('9.5521')),
 ('NW', datetime.datetime(2007, 1, 1, 12, 0), -7, Decimal('11.0742'), Decimal('55.0000'), Decimal('30.6914'), Decimal('6.9327'), Decimal('7.3909')),
 ('WN', datetime.datetime(2007, 1, 1, 12, 14), 9, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('AA', datetime.datetime(2007, 1, 1, 12, 14), 4, Decimal('11.0742'), Decimal('35.0000'), Decimal('30.6914'), Decimal('13.3602'), Decimal('15.6976')),
 ('WN', datetime.datetime(2007, 1, 1, 12, 21), 1, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('NW', datetime.datetime(2007, 1, 1, 12, 33), -1, Decimal('11.0742'), Decimal('55.0000'), Decimal('30.6914'), Decimal('6.9327'), Decimal('7.3909')),
 ('XE', datetime.datetime(2007, 1, 1, 12, 48), -7, Decimal('11.0742'), Decimal('30.0714'), Decimal('30.6914'), Decimal('8.2716'), Decimal('11.7797')),
 ('WN', datetime.datetime(2007, 1, 1, 12, 49), 44, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('MQ', datetime.datetime(2007, 1, 1, 12, 53), 18, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('US', datetime.datetime(2007, 1, 1, 12, 56), 26, Decimal('11.0742'), Decimal('32.0667'), Decimal('30.6914'), Decimal('10.2694'), Decimal('9.5521')),
 ('NW', datetime.datetime(2007, 1, 1, 13, 10), 345, Decimal('11.0742'), Decimal('55.0000'), Decimal('30.6914'), Decimal('6.9327'), Decimal('7.3909')),
 ('MQ', datetime.datetime(2007, 1, 1, 13, 15), 5, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('XE', datetime.datetime(2007, 1, 1, 13, 17), 7, Decimal('11.0742'), Decimal('30.0714'), Decimal('30.6914'), Decimal('8.2716'), Decimal('11.7797')),
 ('MQ', datetime.datetime(2007, 1, 1, 13, 22), 7, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('OH', datetime.datetime(2007, 1, 1, 13, 26), 0, Decimal('11.0742'), Decimal('11.7000'), Decimal('30.6914'), Decimal('13.9352'), Decimal('14.8853')),
 ('MQ', datetime.datetime(2007, 1, 1, 13, 29), 34, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('WN', datetime.datetime(2007, 1, 1, 13, 30), 0, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('AA', datetime.datetime(2007, 1, 1, 13, 40), 0, Decimal('11.0742'), Decimal('35.0000'), Decimal('30.6914'), Decimal('13.3602'), Decimal('15.6976')),
 ('DL', datetime.datetime(2007, 1, 1, 13, 49), 8, Decimal('11.0742'), Decimal('-1.7500'), Decimal('30.6914'), Decimal('2.8950'), Decimal('4.7624')),
 ('MQ', datetime.datetime(2007, 1, 1, 14, 14), 24, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('MQ', datetime.datetime(2007, 1, 1, 14, 22), -3, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('WN', datetime.datetime(2007, 1, 1, 14, 25), 15, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('XE', datetime.datetime(2007, 1, 1, 14, 25), 5, Decimal('11.0742'), Decimal('30.0714'), Decimal('30.6914'), Decimal('8.2716'), Decimal('11.7797')),
 ('OH', datetime.datetime(2007, 1, 1, 14, 35), -3, Decimal('11.0742'), Decimal('11.7000'), Decimal('30.6914'), Decimal('13.9352'), Decimal('14.8853')),
 ('US', datetime.datetime(2007, 1, 1, 14, 41), 66, Decimal('11.0742'), Decimal('32.0667'), Decimal('30.6914'), Decimal('10.2694'), Decimal('9.5521')),
 ('YV', datetime.datetime(2007, 1, 1, 14, 46), 27, Decimal('11.0742'), Decimal('54.4444'), Decimal('30.6914'), Decimal('16.6383'), Decimal('17.2511')),
 ('FL', datetime.datetime(2007, 1, 1, 14, 50), 12, Decimal('11.0742'), Decimal('8.6000'), Decimal('30.6914'), Decimal('5.8156'), Decimal('5.1830')),
 ('DL', datetime.datetime(2007, 1, 1, 15, 11), 1, Decimal('11.0742'), Decimal('-1.7500'), Decimal('30.6914'), Decimal('2.8950'), Decimal('4.7624')),
 ('XE', datetime.datetime(2007, 1, 1, 15, 12), 27, Decimal('11.0742'), Decimal('30.0714'), Decimal('30.6914'), Decimal('8.2716'), Decimal('11.7797')),
 ('MQ', datetime.datetime(2007, 1, 1, 15, 14), 19, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('MQ', datetime.datetime(2007, 1, 1, 15, 17), 17, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('MQ', datetime.datetime(2007, 1, 1, 15, 30), 50, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('US', datetime.datetime(2007, 1, 1, 15, 40), 85, Decimal('11.0742'), Decimal('32.0667'), Decimal('30.6914'), Decimal('10.2694'), Decimal('9.5521')),
 ('YV', datetime.datetime(2007, 1, 1, 15, 47), 41, Decimal('11.0742'), Decimal('54.4444'), Decimal('30.6914'), Decimal('16.6383'), Decimal('17.2511')),
 ('WN', datetime.datetime(2007, 1, 1, 15, 52), 2, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('MQ', datetime.datetime(2007, 1, 1, 15, 57), 107, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('AA', datetime.datetime(2007, 1, 1, 16, 0), 30, Decimal('11.0742'), Decimal('35.0000'), Decimal('30.6914'), Decimal('13.3602'), Decimal('15.6976')),
 ('MQ', datetime.datetime(2007, 1, 1, 16, 12), 62, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('AA', datetime.datetime(2007, 1, 1, 16, 17), 17, Decimal('11.0742'), Decimal('35.0000'), Decimal('30.6914'), Decimal('13.3602'), Decimal('15.6976')),
 ('WN', datetime.datetime(2007, 1, 1, 16, 23), 18, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('MQ', datetime.datetime(2007, 1, 1, 16, 31), 31, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('US', datetime.datetime(2007, 1, 1, 16, 32), 52, Decimal('11.0742'), Decimal('32.0667'), Decimal('30.6914'), Decimal('10.2694'), Decimal('9.5521')),
 ('WN', datetime.datetime(2007, 1, 1, 16, 35), 50, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('US', datetime.datetime(2007, 1, 1, 16, 35), 3, Decimal('11.0742'), Decimal('32.0667'), Decimal('30.6914'), Decimal('10.2694'), Decimal('9.5521')),
 ('WN', datetime.datetime(2007, 1, 1, 16, 46), 1, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('B6', datetime.datetime(2007, 1, 1, 16, 53), 98, Decimal('11.0742'), Decimal('60.0000'), Decimal('30.6914'), Decimal('13.6681'), Decimal('11.0000')),
 ('XE', datetime.datetime(2007, 1, 1, 16, 57), 227, Decimal('11.0742'), Decimal('30.0714'), Decimal('30.6914'), Decimal('8.2716'), Decimal('11.7797')),
 ('NW', datetime.datetime(2007, 1, 1, 17, 4), -11, Decimal('11.0742'), Decimal('55.0000'), Decimal('30.6914'), Decimal('6.9327'), Decimal('7.3909')),
 ('WN', datetime.datetime(2007, 1, 1, 17, 5), 0, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('US', datetime.datetime(2007, 1, 1, 17, 13), 98, Decimal('11.0742'), Decimal('32.0667'), Decimal('30.6914'), Decimal('10.2694'), Decimal('9.5521')),
 ('NW', datetime.datetime(2007, 1, 1, 17, 15), 58, Decimal('11.0742'), Decimal('55.0000'), Decimal('30.6914'), Decimal('6.9327'), Decimal('7.3909')),
 ('YV', datetime.datetime(2007, 1, 1, 17, 22), 282, Decimal('11.0742'), Decimal('54.4444'), Decimal('30.6914'), Decimal('16.6383'), Decimal('17.2511')),
 ('AA', datetime.datetime(2007, 1, 1, 17, 22), 37, Decimal('11.0742'), Decimal('35.0000'), Decimal('30.6914'), Decimal('13.3602'), Decimal('15.6976')),
 ('DL', datetime.datetime(2007, 1, 1, 17, 28), -1, Decimal('11.0742'), Decimal('-1.7500'), Decimal('30.6914'), Decimal('2.8950'), Decimal('4.7624')),
 ('YV', datetime.datetime(2007, 1, 1, 17, 35), 23, Decimal('11.0742'), Decimal('54.4444'), Decimal('30.6914'), Decimal('16.6383'), Decimal('17.2511')),
 ('B6', datetime.datetime(2007, 1, 1, 17, 39), 34, Decimal('11.0742'), Decimal('60.0000'), Decimal('30.6914'), Decimal('13.6681'), Decimal('11.0000')),
 ('XE', datetime.datetime(2007, 1, 1, 17, 39), 129, Decimal('11.0742'), Decimal('30.0714'), Decimal('30.6914'), Decimal('8.2716'), Decimal('11.7797')),
 ('MQ', datetime.datetime(2007, 1, 1, 17, 42), 42, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('MQ', datetime.datetime(2007, 1, 1, 17, 50), 110, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('US', datetime.datetime(2007, 1, 1, 17, 56), 21, Decimal('11.0742'), Decimal('32.0667'), Decimal('30.6914'), Decimal('10.2694'), Decimal('9.5521')),
 ('MQ', datetime.datetime(2007, 1, 1, 17, 58), 63, Decimal('11.0742'), Decimal('39.5385'), Decimal('30.6914'), Decimal('12.3708'), Decimal('12.9996')),
 ('NW', datetime.datetime(2007, 1, 1, 18, 2), 16, Decimal('11.0742'), Decimal('55.0000'), Decimal('30.6914'), Decimal('6.9327'), Decimal('7.3909')),
 ('CO', datetime.datetime(2007, 1, 1, 18, 16), 15, Decimal('11.0742'), Decimal('34.3333'), Decimal('30.6914'), Decimal('20.2651'), Decimal('21.8803')),
 ('WN', datetime.datetime(2007, 1, 1, 18, 28), 113, Decimal('11.0742'), Decimal('19.1786'), Decimal('30.6914'), Decimal('10.5245'), Decimal('9.9288')),
 ('OH', datetime.datetime(2007, 1, 1, 18, 30), 0, Decimal('11.0742'), Decimal('11.7000'), Decimal('30.6914'), Decimal('13.9352'), Decimal('14.8853')),
 ('OH', datetime.datetime(2007, 1, 1, 18, 35), 109, Decimal('11.0742'), Decimal('11.7000'), Decimal('30.6914'), Decimal('13.9352'), Decimal('14.8853')),
 ('XE', datetime.datetime(2007, 1, 1, 18, 37), 17, Decimal('11.0742'), Decimal('30.0714'), Decimal('30.6914'), Decimal('8.2716'), Decimal('11.7797')),
 ('CO', datetime.datetime(2007, 1, 1, 18, 40), 89, Decimal('11.0742'), Decimal('34.3333'), Decimal('30.6914'), Decimal('20.2651'), Decimal('21.8803')),
 ('FL', datetime.datetime(2007, 1, 1, 19, 0), -4, Decimal('11.0742'), Decimal('8.6000'), Decimal('30.6914'), Decimal('5.8156'), Decimal('5.1830')),

* Hopefully window functions are starting to make sense...because it's time to make things a little more complicated
* Suppose we care about the ordering of the rows in each partition that we are passing to the window function.  Can our window functions handle this situation???  Of course!  In addition to the **PARTITION BY** subclause, we can also specify an **ORDER BY** subclause within **OVER()**
* Let's examine it below...

In [21]:
%%sql

WITH RDU_F AS
(
SELECT   *,
         CASE
         WHEN DepTime < 60 THEN
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',DepTime), '%Y %c %e %i')
         ELSE
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',SUBSTR(DepTime,1,LENGTH(DepTime)-2),' ',SUBSTR(DepTime,-2)), '%Y %c %e %k %i')
         END as DepTS
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
)
SELECT   UniqueCarrier,
         DepTS,
         DepDelay,
         SUM(DepDelay) OVER(ORDER BY DepTS),
         COUNT(DepDelay) OVER(ORDER BY DepTS)
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1 AND
         DATE(DepTS) = DATE('2007-08-11')
ORDER BY DepTS
LIMIT    200;

172 rows affected.

[('DL', datetime.datetime(2007, 8, 11, 5, 55), -5, Decimal('-5'), 1),
 ('NW', datetime.datetime(2007, 8, 11, 5, 59), -6, Decimal('-12'), 3),
 ('YV', datetime.datetime(2007, 8, 11, 5, 59), -1, Decimal('-12'), 3),
 ('FL', datetime.datetime(2007, 8, 11, 6, 0), -5, Decimal('-22'), 6),
 ('US', datetime.datetime(2007, 8, 11, 6, 0), 0, Decimal('-22'), 6),
 ('B6', datetime.datetime(2007, 8, 11, 6, 0), -5, Decimal('-22'), 6),
 ('AA', datetime.datetime(2007, 8, 11, 6, 3), 3, Decimal('-19'), 7),
 ('MQ', datetime.datetime(2007, 8, 11, 6, 11), 1, Decimal('-18'), 8),
 ('CO', datetime.datetime(2007, 8, 11, 6, 14), -1, Decimal('-19'), 9),
 ('YV', datetime.datetime(2007, 8, 11, 6, 20), 0, Decimal('-19'), 10),
 ('XE', datetime.datetime(2007, 8, 11, 6, 23), -7, Decimal('-26'), 11),
 ('XE', datetime.datetime(2007, 8, 11, 6, 24), -6, Decimal('-32'), 12),
 ('OH', datetime.datetime(2007, 8, 11, 6, 30), 10, Decimal('-22'), 13),
 ('DL', datetime.datetime(2007, 8, 11, 6, 31), -4, Decimal('-26'), 14),
 ('XE', datetime.datetime(2007, 8, 11, 6, 38), -7, Decimal('-33'), 15),
 ('OO', datetime.datetime(2007, 8, 11, 6, 40), 0, Decimal('-33'), 16),
 ('CO', datetime.datetime(2007, 8, 11, 6, 47), -8, Decimal('-41'), 17),
 ('MQ', datetime.datetime(2007, 8, 11, 6, 48), 48, Decimal('7'), 18),
 ('MQ', datetime.datetime(2007, 8, 11, 6, 54), -6, Decimal('0'), 20),
 ('AA', datetime.datetime(2007, 8, 11, 6, 54), -1, Decimal('0'), 20),
 ('XE', datetime.datetime(2007, 8, 11, 6, 58), -2, Decimal('-2'), 21),
 ('WN', datetime.datetime(2007, 8, 11, 6, 59), -1, Decimal('-3'), 22),
 ('OH', datetime.datetime(2007, 8, 11, 7, 0), 0, Decimal('-3'), 23),
 ('MQ', datetime.datetime(2007, 8, 11, 7, 7), 7, Decimal('4'), 24),
 ('DL', datetime.datetime(2007, 8, 11, 7, 12), -3, Decimal('1'), 25),
 ('WN', datetime.datetime(2007, 8, 11, 7, 14), -1, Decimal('0'), 26),
 ('MQ', datetime.datetime(2007, 8, 11, 7, 19), 19, Decimal('19'), 27),
 ('WN', datetime.datetime(2007, 8, 11, 7, 22), 2, Decimal('21'), 28),
 ('MQ', datetime.datetime(2007, 8, 11, 7, 24), 4, Decimal('25'), 29),
 ('9E', datetime.datetime(2007, 8, 11, 7, 25), -5, Decimal('20'), 30),
 ('US', datetime.datetime(2007, 8, 11, 7, 32), -1, Decimal('19'), 31),
 ('US', datetime.datetime(2007, 8, 11, 7, 33), 3, Decimal('22'), 32),
 ('XE', datetime.datetime(2007, 8, 11, 7, 37), -3, Decimal('19'), 33),
 ('AA', datetime.datetime(2007, 8, 11, 7, 40), 10, Decimal('29'), 34),
 ('MQ', datetime.datetime(2007, 8, 11, 7, 44), -1, Decimal('28'), 35),
 ('DL', datetime.datetime(2007, 8, 11, 7, 47), -3, Decimal('25'), 36),
 ('YV', datetime.datetime(2007, 8, 11, 7, 52), 22, Decimal('47'), 37),
 ('AA', datetime.datetime(2007, 8, 11, 8, 3), -7, Decimal('40'), 38),
 ('NW', datetime.datetime(2007, 8, 11, 8, 10), -10, Decimal('30'), 39),
 ('US', datetime.datetime(2007, 8, 11, 8, 11), 66, Decimal('96'), 40),
 ('XE', datetime.datetime(2007, 8, 11, 8, 14), -1, Decimal('95'), 41),
 ('WN', datetime.datetime(2007, 8, 11, 8, 18), -2, Decimal('93'), 42),
 ('MQ', datetime.datetime(2007, 8, 11, 8, 22), -3, Decimal('90'), 43),
 ('XE', datetime.datetime(2007, 8, 11, 8, 23), -2, Decimal('88'), 44),
 ('XE', datetime.datetime(2007, 8, 11, 8, 30), -10, Decimal('78'), 45),
 ('WN', datetime.datetime(2007, 8, 11, 8, 33), -2, Decimal('76'), 46),
 ('YV', datetime.datetime(2007, 8, 11, 8, 38), 102, Decimal('178'), 47),
 ('AA', datetime.datetime(2007, 8, 11, 8, 48), -2, Decimal('176'), 48),
 ('NW', datetime.datetime(2007, 8, 11, 8, 56), -4, Decimal('172'), 49),
 ('DL', datetime.datetime(2007, 8, 11, 9, 10), -5, Decimal('167'), 50),
 ('WN', datetime.datetime(2007, 8, 11, 9, 13), -2, Decimal('165'), 51),
 ('MQ', datetime.datetime(2007, 8, 11, 9, 19), 59, Decimal('224'), 52),
 ('MQ', datetime.datetime(2007, 8, 11, 9, 25), -5, Decimal('244'), 54),
 ('MQ', datetime.datetime(2007, 8, 11, 9, 25), 25, Decimal('244'), 54),
 ('WN', datetime.datetime(2007, 8, 11, 9, 29), -1, Decimal('243'), 55),
 ('AA', datetime.datetime(2007, 8, 11, 9, 30), 10, Decimal('253'), 56),
 ('OH', datetime.datetime(2007, 8, 11, 9, 45), -5, Decimal('248'), 57),
 ('9E', datetime.datetime(2007, 8, 11, 9, 50), -5, Decimal('243'), 58),
 ('FL', datetime.datetime(2007, 8, 11, 9, 51), 1, Decimal('244'), 59),
 ('WN', datetime.datetime(2007, 8, 11, 9, 55), 0, Decimal('244'), 60),
 ('WN', datetime.datetime(2007, 8, 11, 10, 1), 1, Decimal('245'), 61),
 ('OH', datetime.datetime(2007, 8, 11, 10, 18), 43, Decimal('286'), 63),
 ('XE', datetime.datetime(2007, 8, 11, 10, 18), -2, Decimal('286'), 63),
 ('YV', datetime.datetime(2007, 8, 11, 10, 21), -9, Decimal('277'), 64),
 ('OH', datetime.datetime(2007, 8, 11, 10, 32), 122, Decimal('399'), 65),
 ('AA', datetime.datetime(2007, 8, 11, 10, 44), -1, Decimal('398'), 66),
 ('YV', datetime.datetime(2007, 8, 11, 10, 45), 46, Decimal('444'), 67),
 ('XE', datetime.datetime(2007, 8, 11, 10, 48), -2, Decimal('442'), 68),
 ('WN', datetime.datetime(2007, 8, 11, 10, 50), 5, Decimal('447'), 69),
 ('MQ', datetime.datetime(2007, 8, 11, 10, 57), -3, Decimal('444'), 70),
 ('MQ', datetime.datetime(2007, 8, 11, 10, 59), 4, Decimal('448'), 71),
 ('MQ', datetime.datetime(2007, 8, 11, 11, 5), 40, Decimal('488'), 72),
 ('XE', datetime.datetime(2007, 8, 11, 11, 6), -4, Decimal('484'), 73),
 ('XE', datetime.datetime(2007, 8, 11, 11, 15), -5, Decimal('479'), 74),
 ('OH', datetime.datetime(2007, 8, 11, 11, 20), -10, Decimal('469'), 75),
 ('XE', datetime.datetime(2007, 8, 11, 11, 23), -7, Decimal('462'), 76),
 ('MQ', datetime.datetime(2007, 8, 11, 11, 31), 1, Decimal('463'), 77),
 ('AA', datetime.datetime(2007, 8, 11, 11, 41), 16, Decimal('479'), 78),
 ('MQ', datetime.datetime(2007, 8, 11, 11, 43), 13, Decimal('492'), 79),
 ('DL', datetime.datetime(2007, 8, 11, 12, 3), 1, Decimal('491'), 81),
 ('AA', datetime.datetime(2007, 8, 11, 12, 3), -2, Decimal('491'), 81),
 ('MQ', datetime.datetime(2007, 8, 11, 12, 7), 192, Decimal('683'), 82),
 ('MQ', datetime.datetime(2007, 8, 11, 12, 8), -2, Decimal('681'), 83),
 ('WN', datetime.datetime(2007, 8, 11, 12, 9), 4, Decimal('685'), 84),
 ('9E', datetime.datetime(2007, 8, 11, 12, 11), -4, Decimal('681'), 85),
 ('WN', datetime.datetime(2007, 8, 11, 12, 22), 7, Decimal('688'), 86),
 ('B6', datetime.datetime(2007, 8, 11, 12, 29), -1, Decimal('687'), 87),
 ('OO', datetime.datetime(2007, 8, 11, 12, 33), 43, Decimal('730'), 88),
 ('NW', datetime.datetime(2007, 8, 11, 12, 35), -7, Decimal('723'), 89),
 ('XE', datetime.datetime(2007, 8, 11, 12, 36), -9, Decimal('714'), 90),
 ('WN', datetime.datetime(2007, 8, 11, 12, 37), 17, Decimal('731'), 91),
 ('US', datetime.datetime(2007, 8, 11, 12, 49), -6, Decimal('725'), 92),
 ('XE', datetime.datetime(2007, 8, 11, 12, 53), -7, Decimal('718'), 93),
 ('MQ', datetime.datetime(2007, 8, 11, 13, 5), 5, Decimal('723'), 94),
 ('DL', datetime.datetime(2007, 8, 11, 13, 24), -4, Decimal('719'), 95),
 ('MQ', datetime.datetime(2007, 8, 11, 13, 25), 10, Decimal('729'), 96),
 ('OH', datetime.datetime(2007, 8, 11, 13, 30), 0, Decimal('729'), 97),
 ('WN', datetime.datetime(2007, 8, 11, 13, 41), 6, Decimal('735'), 98),
 ('AA', datetime.datetime(2007, 8, 11, 13, 47), 17, Decimal('752'), 99),
 ('OH', datetime.datetime(2007, 8, 11, 13, 55), 0, Decimal('752'), 100),
 ('MQ', datetime.datetime(2007, 8, 11, 13, 59), -1, Decimal('750'), 102),
 ('MQ', datetime.datetime(2007, 8, 11, 13, 59), -1, Decimal('750'), 102),
 ('AA', datetime.datetime(2007, 8, 11, 14, 5), 10, Decimal('760'), 103),
 ('MQ', datetime.datetime(2007, 8, 11, 14, 8), -7, Decimal('753'), 104),
 ('XE', datetime.datetime(2007, 8, 11, 14, 27), -3, Decimal('750'), 105),
 ('YV', datetime.datetime(2007, 8, 11, 14, 42), 17, Decimal('775'), 107),
 ('OH', datetime.datetime(2007, 8, 11, 14, 42), 8, Decimal('775'), 107),
 ('XE', datetime.datetime(2007, 8, 11, 14, 49), -1, Decimal('774'), 108),
 ('OH', datetime.datetime(2007, 8, 11, 14, 55), 0, Decimal('774'), 109),
 ('AA', datetime.datetime(2007, 8, 11, 14, 57), 17, Decimal('791'), 110),
 ('MQ', datetime.datetime(2007, 8, 11, 14, 58), 23, Decimal('812'), 112),
 ('XE', datetime.datetime(2007, 8, 11, 14, 58), -2, Decimal('812'), 112),
 ('WN', datetime.datetime(2007, 8, 11, 15, 1), 1, Decimal('813'), 113),
 ('MQ', datetime.datetime(2007, 8, 11, 15, 2), 7, Decimal('820'), 114),
 ('MQ', datetime.datetime(2007, 8, 11, 15, 3), 13, Decimal('833'), 115),
 ('XE', datetime.datetime(2007, 8, 11, 15, 15), -5, Decimal('828'), 116),
 ('UA', datetime.datetime(2007, 8, 11, 15, 24), 36, Decimal('864'), 117),
 ('B6', datetime.datetime(2007, 8, 11, 15, 25), -5, Decimal('859'), 118),
 ('WN', datetime.datetime(2007, 8, 11, 15, 42), 2, Decimal('861'), 119),
 ('AA', datetime.datetime(2007, 8, 11, 15, 44), -6, Decimal('855'), 120),
 ('XE', datetime.datetime(2007, 8, 11, 15, 47), 2, Decimal('857'), 121),
 ('AA', datetime.datetime(2007, 8, 11, 15, 49), -1, Decimal('856'), 122),
 ('WN', datetime.datetime(2007, 8, 11, 15, 56), 26, Decimal('882'), 123),
 ('NW', datetime.datetime(2007, 8, 11, 16, 15), -5, Decimal('877'), 124),
 ('MQ', datetime.datetime(2007, 8, 11, 16, 19), 54, Decimal('931'), 125),
 ('WN', datetime.datetime(2007, 8, 11, 16, 24), 24, Decimal('955'), 126),
 ('UA', datetime.datetime(2007, 8, 11, 16, 25), 0, Decimal('955'), 127),
 ('MQ', datetime.datetime(2007, 8, 11, 16, 27), -3, Decimal('952'), 128),
 ('AA', datetime.datetime(2007, 8, 11, 16, 33), -7, Decimal('1006'), 131),
 ('WN', datetime.datetime(2007, 8, 11, 16, 33), 8, Decimal('1006'), 131),
 ('XE', datetime.datetime(2007, 8, 11, 16, 33), 53, Decimal('1006'), 131),
 ('MQ', datetime.datetime(2007, 8, 11, 16, 34), 19, Decimal('1025'), 132),
 ('FL', datetime.datetime(2007, 8, 11, 16, 35), 50, Decimal('1075'), 133),
 ('OH', datetime.datetime(2007, 8, 11, 16, 43), 0, Decimal('1075'), 134),
 ('XE', datetime.datetime(2007, 8, 11, 16, 47), -3, Decimal('1072'), 135),
 ('US', datetime.datetime(2007, 8, 11, 17, 1), 6, Decimal('1078'), 136),
 ('B6', datetime.datetime(2007, 8, 11, 17, 2), -3, Decimal('1075'), 137),
 ('XE', datetime.datetime(2007, 8, 11, 17, 3), -2, Decimal('1073'), 138),
 ('WN', datetime.datetime(2007, 8, 11, 17, 6), 1, Decimal('1074'), 139),
 ('DL', datetime.datetime(2007, 8, 11, 17, 14), -2, Decimal('1066'), 141),
 ('XE', datetime.datetime(2007, 8, 11, 17, 14), -6, Decimal('1066'), 141),
 ('MQ', datetime.datetime(2007, 8, 11, 17, 17), 17, Decimal('1083'), 142),
 ('UA', datetime.datetime(2007, 8, 11, 17, 29), -1, Decimal('1082'), 143),
 ('9E', datetime.datetime(2007, 8, 11, 17, 31), 16, Decimal('1098'), 144),
 ('MQ', datetime.datetime(2007, 8, 11, 17, 34), 9, Decimal('1107'), 145),
 ('OH', datetime.datetime(2007, 8, 11, 17, 40), 16, Decimal('1123'), 146),
 ('XE', datetime.datetime(2007, 8, 11, 17, 41), 13, Decimal('1136'), 147),
 ('XE', datetime.datetime(2007, 8, 11, 17, 47), -3, Decimal('1133'), 148),
 ('AA', datetime.datetime(2007, 8, 11, 17, 51), 26, Decimal('1159'), 149),
 ('OO', datetime.datetime(2007, 8, 11, 17, 55), 0, Decimal('1159'), 150),
 ('MQ', datetime.datetime(2007, 8, 11, 17, 56), 131, Decimal('1297'), 152),
 ('NW', datetime.datetime(2007, 8, 11, 17, 56), 7, Decimal('1297'), 152),
 ('MQ', datetime.datetime(2007, 8, 11, 17, 58), -1, Decimal('1296'), 153),
 ('WN', datetime.datetime(2007, 8, 11, 18, 12), 7, Decimal('1303'), 154),
 ('MQ', datetime.datetime(2007, 8, 11, 18, 17), 22, Decimal('1325'), 155),
 ('MQ', datetime.datetime(2007, 8, 11, 18, 25), 45, Decimal('1370'), 156),
 ('DL', datetime.datetime(2007, 8, 11, 18, 30), -5, Decimal('1365'), 157),
 ('US', datetime.datetime(2007, 8, 11, 18, 38), 38, Decimal('1403'), 158),
 ('AA', datetime.datetime(2007, 8, 11, 18, 40), 20, Decimal('1423'), 159),
 ('WN', datetime.datetime(2007, 8, 11, 18, 46), 1, Decimal('1424'), 160),
 ('AA', datetime.datetime(2007, 8, 11, 18, 47), -3, Decimal('1421'), 161),
 ('MQ', datetime.datetime(2007, 8, 11, 19, 0), 0, Decimal('1421'), 162),
 ('FL', datetime.datetime(2007, 8, 11, 19, 4), 5, Decimal('1426'), 163),
 ('US', datetime.datetime(2007, 8, 11, 19, 12), 67, Decimal('1493'), 164),
 ('UA', datetime.datetime(2007, 8, 11, 19, 21), -9, Decimal('1484'), 165),
 ('MQ', datetime.datetime(2007, 8, 11, 19, 29), -1, Decimal('1483'), 166),
 ('WN', datetime.datetime(2007, 8, 11, 19, 36), -4, Decimal('1479'), 167),
 ('WN', datetime.datetime(2007, 8, 11, 19, 50), -5, Decimal('1474'), 168),
 ('OH', datetime.datetime(2007, 8, 11, 19, 57), -10, Decimal('1464'), 169),
 ('US', datetime.datetime(2007, 8, 11, 20, 8), -7, Decimal('1457'), 170),
 ('B6', datetime.datetime(2007, 8, 11, 20, 36), -4, Decimal('1453'), 171),
 ('WN', datetime.datetime(2007, 8, 11, 21, 48), -2, Decimal('1451'), 172)]

* So, our SUM() is actually counting a running total of the day's departure delays, ordered by time
* How/why did it know to do this?  Is it because we used an ORDER BY in our query?
* Let's test that...

In [54]:
%%sql

WITH RDU_F AS
(
SELECT   *,
         CASE
         WHEN DepTime < 60 THEN
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',DepTime), '%Y %c %e %i')
         ELSE
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',SUBSTR(DepTime,1,LENGTH(DepTime)-2),' ',SUBSTR(DepTime,-2)), '%Y %c %e %k %i')
         END as DepTS
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
)
SELECT   UniqueCarrier,
         DepTS,
         DepDelay,
         SUM(DepDelay) OVER(ORDER BY DepTS),
         COUNT(DepDelay) OVER(ORDER BY DepTS)
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1 AND
         DATE(DepTS) = '2007-08-11'
LIMIT    200;

172 rows affected.

[('WN', datetime.datetime(2007, 8, 11, 12, 9), 4, Decimal('685'), 84),
 ('WN', datetime.datetime(2007, 8, 11, 8, 33), -2, Decimal('76'), 46),
 ('WN', datetime.datetime(2007, 8, 11, 7, 22), 2, Decimal('21'), 28),
 ('WN', datetime.datetime(2007, 8, 11, 17, 6), 1, Decimal('1074'), 139),
 ('WN', datetime.datetime(2007, 8, 11, 9, 13), -2, Decimal('165'), 51),
 ('WN', datetime.datetime(2007, 8, 11, 12, 37), 17, Decimal('731'), 91),
 ('WN', datetime.datetime(2007, 8, 11, 21, 48), -2, Decimal('1451'), 172),
 ('WN', datetime.datetime(2007, 8, 11, 15, 1), 1, Decimal('813'), 113),
 ('WN', datetime.datetime(2007, 8, 11, 7, 14), -1, Decimal('0'), 26),
 ('WN', datetime.datetime(2007, 8, 11, 18, 12), 7, Decimal('1303'), 154),
 ('WN', datetime.datetime(2007, 8, 11, 13, 41), 6, Decimal('735'), 98),
 ('WN', datetime.datetime(2007, 8, 11, 19, 50), -5, Decimal('1474'), 168),
 ('WN', datetime.datetime(2007, 8, 11, 10, 1), 1, Decimal('245'), 61),
 ('WN', datetime.datetime(2007, 8, 11, 15, 56), 26, Decimal('882'), 123),
 ('WN', datetime.datetime(2007, 8, 11, 16, 33), 8, Decimal('1006'), 131),
 ('WN', datetime.datetime(2007, 8, 11, 9, 55), 0, Decimal('244'), 60),
 ('WN', datetime.datetime(2007, 8, 11, 15, 42), 2, Decimal('861'), 119),
 ('WN', datetime.datetime(2007, 8, 11, 9, 29), -1, Decimal('243'), 55),
 ('WN', datetime.datetime(2007, 8, 11, 18, 46), 1, Decimal('1424'), 160),
 ('WN', datetime.datetime(2007, 8, 11, 12, 22), 7, Decimal('688'), 86),
 ('WN', datetime.datetime(2007, 8, 11, 16, 24), 24, Decimal('955'), 126),
 ('WN', datetime.datetime(2007, 8, 11, 8, 18), -2, Decimal('93'), 42),
 ('WN', datetime.datetime(2007, 8, 11, 10, 50), 5, Decimal('447'), 69),
 ('WN', datetime.datetime(2007, 8, 11, 6, 59), -1, Decimal('-3'), 22),
 ('WN', datetime.datetime(2007, 8, 11, 19, 36), -4, Decimal('1479'), 167),
 ('XE', datetime.datetime(2007, 8, 11, 14, 49), -1, Decimal('774'), 108),
 ('XE', datetime.datetime(2007, 8, 11, 16, 33), 53, Decimal('1006'), 131),
 ('XE', datetime.datetime(2007, 8, 11, 6, 23), -7, Decimal('-26'), 11),
 ('XE', datetime.datetime(2007, 8, 11, 12, 53), -7, Decimal('718'), 93),
 ('XE', datetime.datetime(2007, 8, 11, 10, 48), -2, Decimal('442'), 68),
 ('XE', datetime.datetime(2007, 8, 11, 17, 14), -6, Decimal('1066'), 141),
 ('XE', datetime.datetime(2007, 8, 11, 8, 14), -1, Decimal('95'), 41),
 ('XE', datetime.datetime(2007, 8, 11, 15, 15), -5, Decimal('828'), 116),
 ('XE', datetime.datetime(2007, 8, 11, 14, 58), -2, Decimal('812'), 112),
 ('XE', datetime.datetime(2007, 8, 11, 6, 38), -7, Decimal('-33'), 15),
 ('XE', datetime.datetime(2007, 8, 11, 17, 3), -2, Decimal('1073'), 138),
 ('XE', datetime.datetime(2007, 8, 11, 12, 36), -9, Decimal('714'), 90),
 ('XE', datetime.datetime(2007, 8, 11, 16, 47), -3, Decimal('1072'), 135),
 ('XE', datetime.datetime(2007, 8, 11, 11, 6), -4, Decimal('484'), 73),
 ('XE', datetime.datetime(2007, 8, 11, 11, 23), -7, Decimal('462'), 76),
 ('XE', datetime.datetime(2007, 8, 11, 6, 58), -2, Decimal('-2'), 21),
 ('XE', datetime.datetime(2007, 8, 11, 8, 23), -2, Decimal('88'), 44),
 ('XE', datetime.datetime(2007, 8, 11, 6, 24), -6, Decimal('-32'), 12),
 ('XE', datetime.datetime(2007, 8, 11, 17, 47), -3, Decimal('1133'), 148),
 ('XE', datetime.datetime(2007, 8, 11, 17, 41), 13, Decimal('1136'), 147),
 ('XE', datetime.datetime(2007, 8, 11, 8, 30), -10, Decimal('78'), 45),
 ('XE', datetime.datetime(2007, 8, 11, 7, 37), -3, Decimal('19'), 33),
 ('XE', datetime.datetime(2007, 8, 11, 11, 15), -5, Decimal('479'), 74),
 ('XE', datetime.datetime(2007, 8, 11, 14, 27), -3, Decimal('750'), 105),
 ('XE', datetime.datetime(2007, 8, 11, 15, 47), 2, Decimal('857'), 121),
 ('XE', datetime.datetime(2007, 8, 11, 10, 18), -2, Decimal('286'), 63),
 ('YV', datetime.datetime(2007, 8, 11, 6, 20), 0, Decimal('-19'), 10),
 ('YV', datetime.datetime(2007, 8, 11, 8, 38), 102, Decimal('178'), 47),
 ('YV', datetime.datetime(2007, 8, 11, 10, 21), -9, Decimal('277'), 64),
 ('YV', datetime.datetime(2007, 8, 11, 5, 59), -1, Decimal('-12'), 3),
 ('YV', datetime.datetime(2007, 8, 11, 10, 45), 46, Decimal('444'), 67),
 ('YV', datetime.datetime(2007, 8, 11, 14, 42), 17, Decimal('775'), 107),
 ('YV', datetime.datetime(2007, 8, 11, 7, 52), 22, Decimal('47'), 37),
 ('OH', datetime.datetime(2007, 8, 11, 14, 42), 8, Decimal('775'), 107),
 ('OH', datetime.datetime(2007, 8, 11, 9, 45), -5, Decimal('248'), 57),
 ('OH', datetime.datetime(2007, 8, 11, 13, 30), 0, Decimal('729'), 97),
 ('OH', datetime.datetime(2007, 8, 11, 19, 57), -10, Decimal('1464'), 169),
 ('OH', datetime.datetime(2007, 8, 11, 6, 30), 10, Decimal('-22'), 13),
 ('OH', datetime.datetime(2007, 8, 11, 16, 43), 0, Decimal('1075'), 134),
 ('OH', datetime.datetime(2007, 8, 11, 10, 32), 122, Decimal('399'), 65),
 ('OH', datetime.datetime(2007, 8, 11, 14, 55), 0, Decimal('774'), 109),
 ('OH', datetime.datetime(2007, 8, 11, 17, 40), 16, Decimal('1123'), 146),
 ('OH', datetime.datetime(2007, 8, 11, 11, 20), -10, Decimal('469'), 75),
 ('OH', datetime.datetime(2007, 8, 11, 7, 0), 0, Decimal('-3'), 23),
 ('OH', datetime.datetime(2007, 8, 11, 10, 18), 43, Decimal('286'), 63),
 ('OH', datetime.datetime(2007, 8, 11, 13, 55), 0, Decimal('752'), 100),
 ('OO', datetime.datetime(2007, 8, 11, 6, 40), 0, Decimal('-33'), 16),
 ('OO', datetime.datetime(2007, 8, 11, 12, 33), 43, Decimal('730'), 88),
 ('OO', datetime.datetime(2007, 8, 11, 17, 55), 0, Decimal('1159'), 150),
 ('UA', datetime.datetime(2007, 8, 11, 15, 24), 36, Decimal('864'), 117),
 ('UA', datetime.datetime(2007, 8, 11, 16, 25), 0, Decimal('955'), 127),
 ('UA', datetime.datetime(2007, 8, 11, 17, 29), -1, Decimal('1082'), 143),
 ('UA', datetime.datetime(2007, 8, 11, 19, 21), -9, Decimal('1484'), 165),
 ('US', datetime.datetime(2007, 8, 11, 17, 1), 6, Decimal('1078'), 136),
 ('US', datetime.datetime(2007, 8, 11, 7, 32), -1, Decimal('19'), 31),
 ('US', datetime.datetime(2007, 8, 11, 6, 0), 0, Decimal('-22'), 6),
 ('US', datetime.datetime(2007, 8, 11, 12, 49), -6, Decimal('725'), 92),
 ('US', datetime.datetime(2007, 8, 11, 19, 12), 67, Decimal('1493'), 164),
 ('US', datetime.datetime(2007, 8, 11, 7, 33), 3, Decimal('22'), 32),
 ('US', datetime.datetime(2007, 8, 11, 18, 38), 38, Decimal('1403'), 158),
 ('US', datetime.datetime(2007, 8, 11, 8, 11), 66, Decimal('96'), 40),
 ('US', datetime.datetime(2007, 8, 11, 20, 8), -7, Decimal('1457'), 170),
 ('FL', datetime.datetime(2007, 8, 11, 6, 0), -5, Decimal('-22'), 6),
 ('FL', datetime.datetime(2007, 8, 11, 9, 51), 1, Decimal('244'), 59),
 ('FL', datetime.datetime(2007, 8, 11, 16, 35), 50, Decimal('1075'), 133),
 ('FL', datetime.datetime(2007, 8, 11, 19, 4), 5, Decimal('1426'), 163),
 ('MQ', datetime.datetime(2007, 8, 11, 7, 7), 7, Decimal('4'), 24),
 ('MQ', datetime.datetime(2007, 8, 11, 11, 31), 1, Decimal('463'), 77),
 ('MQ', datetime.datetime(2007, 8, 11, 19, 29), -1, Decimal('1483'), 166),
 ('MQ', datetime.datetime(2007, 8, 11, 7, 44), -1, Decimal('28'), 35),
 ('MQ', datetime.datetime(2007, 8, 11, 9, 25), -5, Decimal('244'), 54),
 ('MQ', datetime.datetime(2007, 8, 11, 16, 19), 54, Decimal('931'), 125),
 ('MQ', datetime.datetime(2007, 8, 11, 13, 25), 10, Decimal('729'), 96),
 ('MQ', datetime.datetime(2007, 8, 11, 9, 19), 59, Decimal('224'), 52),
 ('MQ', datetime.datetime(2007, 8, 11, 6, 11), 1, Decimal('-18'), 8),
 ('MQ', datetime.datetime(2007, 8, 11, 16, 27), -3, Decimal('952'), 128),
 ('MQ', datetime.datetime(2007, 8, 11, 13, 59), -1, Decimal('750'), 102),
 ('MQ', datetime.datetime(2007, 8, 11, 10, 57), -3, Decimal('444'), 70),
 ('MQ', datetime.datetime(2007, 8, 11, 17, 17), 17, Decimal('1083'), 142),
 ('MQ', datetime.datetime(2007, 8, 11, 9, 25), 25, Decimal('244'), 54),
 ('MQ', datetime.datetime(2007, 8, 11, 11, 43), 13, Decimal('492'), 79),
 ('MQ', datetime.datetime(2007, 8, 11, 15, 2), 7, Decimal('820'), 114),
 ('MQ', datetime.datetime(2007, 8, 11, 6, 54), -6, Decimal('0'), 20),
 ('MQ', datetime.datetime(2007, 8, 11, 14, 58), 23, Decimal('812'), 112),
 ('MQ', datetime.datetime(2007, 8, 11, 10, 59), 4, Decimal('448'), 71),
 ('MQ', datetime.datetime(2007, 8, 11, 11, 5), 40, Decimal('488'), 72),
 ('MQ', datetime.datetime(2007, 8, 11, 8, 22), -3, Decimal('90'), 43),
 ('MQ', datetime.datetime(2007, 8, 11, 17, 56), 131, Decimal('1297'), 152),
 ('MQ', datetime.datetime(2007, 8, 11, 18, 17), 22, Decimal('1325'), 155),
 ('MQ', datetime.datetime(2007, 8, 11, 17, 58), -1, Decimal('1296'), 153),
 ('MQ', datetime.datetime(2007, 8, 11, 18, 25), 45, Decimal('1370'), 156),
 ('MQ', datetime.datetime(2007, 8, 11, 13, 59), -1, Decimal('750'), 102),
 ('MQ', datetime.datetime(2007, 8, 11, 7, 24), 4, Decimal('25'), 29),
 ('MQ', datetime.datetime(2007, 8, 11, 13, 5), 5, Decimal('723'), 94),
 ('MQ', datetime.datetime(2007, 8, 11, 15, 3), 13, Decimal('833'), 115),
 ('MQ', datetime.datetime(2007, 8, 11, 16, 34), 19, Decimal('1025'), 132),
 ('MQ', datetime.datetime(2007, 8, 11, 6, 48), 48, Decimal('7'), 18),
 ('MQ', datetime.datetime(2007, 8, 11, 19, 0), 0, Decimal('1421'), 162),
 ('MQ', datetime.datetime(2007, 8, 11, 7, 19), 19, Decimal('19'), 27),
 ('MQ', datetime.datetime(2007, 8, 11, 12, 7), 192, Decimal('683'), 82),
 ('MQ', datetime.datetime(2007, 8, 11, 12, 8), -2, Decimal('681'), 83),
 ('MQ', datetime.datetime(2007, 8, 11, 17, 34), 9, Decimal('1107'), 145),
 ('MQ', datetime.datetime(2007, 8, 11, 14, 8), -7, Decimal('753'), 104),
 ('NW', datetime.datetime(2007, 8, 11, 8, 10), -10, Decimal('30'), 39),
 ('NW', datetime.datetime(2007, 8, 11, 17, 56), 7, Decimal('1297'), 152),
 ('NW', datetime.datetime(2007, 8, 11, 8, 56), -4, Decimal('172'), 49),
 ('NW', datetime.datetime(2007, 8, 11, 12, 35), -7, Decimal('723'), 89),
 ('NW', datetime.datetime(2007, 8, 11, 5, 59), -6, Decimal('-12'), 3),
 ('NW', datetime.datetime(2007, 8, 11, 16, 15), -5, Decimal('877'), 124),
 ('9E', datetime.datetime(2007, 8, 11, 9, 50), -5, Decimal('243'), 58),
 ('9E', datetime.datetime(2007, 8, 11, 17, 31), 16, Decimal('1098'), 144),
 ('9E', datetime.datetime(2007, 8, 11, 7, 25), -5, Decimal('20'), 30),
 ('9E', datetime.datetime(2007, 8, 11, 12, 11), -4, Decimal('681'), 85),
 ('AA', datetime.datetime(2007, 8, 11, 6, 54), -1, Decimal('0'), 20),
 ('AA', datetime.datetime(2007, 8, 11, 8, 48), -2, Decimal('176'), 48),
 ('AA', datetime.datetime(2007, 8, 11, 8, 3), -7, Decimal('40'), 38),
 ('AA', datetime.datetime(2007, 8, 11, 18, 47), -3, Decimal('1421'), 161),
 ('AA', datetime.datetime(2007, 8, 11, 12, 3), -2, Decimal('491'), 81),
 ('AA', datetime.datetime(2007, 8, 11, 16, 33), -7, Decimal('1006'), 131),
 ('AA', datetime.datetime(2007, 8, 11, 6, 3), 3, Decimal('-19'), 7),
 ('AA', datetime.datetime(2007, 8, 11, 18, 40), 20, Decimal('1423'), 159),
 ('AA', datetime.datetime(2007, 8, 11, 9, 30), 10, Decimal('253'), 56),
 ('AA', datetime.datetime(2007, 8, 11, 15, 44), -6, Decimal('855'), 120),
 ('AA', datetime.datetime(2007, 8, 11, 15, 49), -1, Decimal('856'), 122),
 ('AA', datetime.datetime(2007, 8, 11, 17, 51), 26, Decimal('1159'), 149),
 ('AA', datetime.datetime(2007, 8, 11, 11, 41), 16, Decimal('479'), 78),
 ('AA', datetime.datetime(2007, 8, 11, 14, 57), 17, Decimal('791'), 110),
 ('AA', datetime.datetime(2007, 8, 11, 10, 44), -1, Decimal('398'), 66),
 ('AA', datetime.datetime(2007, 8, 11, 13, 47), 17, Decimal('752'), 99),
 ('AA', datetime.datetime(2007, 8, 11, 7, 40), 10, Decimal('29'), 34),
 ('AA', datetime.datetime(2007, 8, 11, 14, 5), 10, Decimal('760'), 103),
 ('B6', datetime.datetime(2007, 8, 11, 17, 2), -3, Decimal('1075'), 137),
 ('B6', datetime.datetime(2007, 8, 11, 6, 0), -5, Decimal('-22'), 6),
 ('B6', datetime.datetime(2007, 8, 11, 15, 25), -5, Decimal('859'), 118),
 ('B6', datetime.datetime(2007, 8, 11, 20, 36), -4, Decimal('1453'), 171),
 ('B6', datetime.datetime(2007, 8, 11, 12, 29), -1, Decimal('687'), 87),
 ('CO', datetime.datetime(2007, 8, 11, 6, 14), -1, Decimal('-19'), 9),
 ('CO', datetime.datetime(2007, 8, 11, 6, 47), -8, Decimal('-41'), 17),
 ('DL', datetime.datetime(2007, 8, 11, 7, 47), -3, Decimal('25'), 36),
 ('DL', datetime.datetime(2007, 8, 11, 12, 3), 1, Decimal('491'), 81),
 ('DL', datetime.datetime(2007, 8, 11, 5, 55), -5, Decimal('-5'), 1),
 ('DL', datetime.datetime(2007, 8, 11, 7, 12), -3, Decimal('1'), 25),
 ('DL', datetime.datetime(2007, 8, 11, 18, 30), -5, Decimal('1365'), 157),
 ('DL', datetime.datetime(2007, 8, 11, 9, 10), -5, Decimal('167'), 50),
 ('DL', datetime.datetime(2007, 8, 11, 17, 14), -2, Decimal('1066'), 141),
 ('DL', datetime.datetime(2007, 8, 11, 6, 31), -4, Decimal('-26'), 14),
 ('DL', datetime.datetime(2007, 8, 11, 13, 24), -4, Decimal('719'), 95)]

* Comparing values we can see that the ORDER BY in our query makes no difference--the values are identical!
* Even if we concede that the optimizer may be ordering records by DepTS, it still is not clear why including ORDER BY in our **OVER()** clause should generate a running total (or count)
* Well, it's actually because if we specify **OVER(PARTITION BY X ORDER BY Y)**, we are using the default "framing clause" (in terms of the default, you can think of it as being similar to the default partition when we utilize **OVER()** without a **PARTITION BY**)
* The default framing clause considers ***all rows before, up to and including the current row, where the ordering is specified by the ORDER BY subclause***.  So, this default is essentially the definition of a "running count" or "running total" (and is therefore the reason why those were calculated in the previous query).
* Why call it a "framing clause?"  Because we can visualize the window function as performing aggregate calculations on a moving "window frame."  The framing clause is what specifies the size, movement of the window frame.
* In fact the previous query can be rewritten as...

In [56]:
%%sql

WITH RDU_F AS
(
SELECT   *,
         CASE
         WHEN DepTime < 60 THEN
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',DepTime), '%Y %c %e %i')
         ELSE
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',SUBSTR(DepTime,1,LENGTH(DepTime)-2),' ',SUBSTR(DepTime,-2)), '%Y %c %e %k %i')
         END as DepTS
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
)
SELECT   UniqueCarrier,
         DepTS,
         DepDelay,
         SUM(DepDelay) OVER(ORDER BY DepTS ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW),
         COUNT(DepDelay) OVER(ORDER BY DepTS ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1 AND
         DATE(DepTS) = '2007-08-11'
ORDER BY DepTS
LIMIT    200;

172 rows affected.

[('DL', datetime.datetime(2007, 8, 11, 5, 55), -5, Decimal('-5'), 1),
 ('YV', datetime.datetime(2007, 8, 11, 5, 59), -1, Decimal('-6'), 2),
 ('NW', datetime.datetime(2007, 8, 11, 5, 59), -6, Decimal('-12'), 3),
 ('FL', datetime.datetime(2007, 8, 11, 6, 0), -5, Decimal('-17'), 4),
 ('US', datetime.datetime(2007, 8, 11, 6, 0), 0, Decimal('-17'), 5),
 ('B6', datetime.datetime(2007, 8, 11, 6, 0), -5, Decimal('-22'), 6),
 ('AA', datetime.datetime(2007, 8, 11, 6, 3), 3, Decimal('-19'), 7),
 ('MQ', datetime.datetime(2007, 8, 11, 6, 11), 1, Decimal('-18'), 8),
 ('CO', datetime.datetime(2007, 8, 11, 6, 14), -1, Decimal('-19'), 9),
 ('YV', datetime.datetime(2007, 8, 11, 6, 20), 0, Decimal('-19'), 10),
 ('XE', datetime.datetime(2007, 8, 11, 6, 23), -7, Decimal('-26'), 11),
 ('XE', datetime.datetime(2007, 8, 11, 6, 24), -6, Decimal('-32'), 12),
 ('OH', datetime.datetime(2007, 8, 11, 6, 30), 10, Decimal('-22'), 13),
 ('DL', datetime.datetime(2007, 8, 11, 6, 31), -4, Decimal('-26'), 14),
 ('XE', datetime.datetime(2007, 8, 11, 6, 38), -7, Decimal('-33'), 15),
 ('OO', datetime.datetime(2007, 8, 11, 6, 40), 0, Decimal('-33'), 16),
 ('CO', datetime.datetime(2007, 8, 11, 6, 47), -8, Decimal('-41'), 17),
 ('MQ', datetime.datetime(2007, 8, 11, 6, 48), 48, Decimal('7'), 18),
 ('AA', datetime.datetime(2007, 8, 11, 6, 54), -1, Decimal('6'), 19),
 ('MQ', datetime.datetime(2007, 8, 11, 6, 54), -6, Decimal('0'), 20),
 ('XE', datetime.datetime(2007, 8, 11, 6, 58), -2, Decimal('-2'), 21),
 ('WN', datetime.datetime(2007, 8, 11, 6, 59), -1, Decimal('-3'), 22),
 ('OH', datetime.datetime(2007, 8, 11, 7, 0), 0, Decimal('-3'), 23),
 ('MQ', datetime.datetime(2007, 8, 11, 7, 7), 7, Decimal('4'), 24),
 ('DL', datetime.datetime(2007, 8, 11, 7, 12), -3, Decimal('1'), 25),
 ('WN', datetime.datetime(2007, 8, 11, 7, 14), -1, Decimal('0'), 26),
 ('MQ', datetime.datetime(2007, 8, 11, 7, 19), 19, Decimal('19'), 27),
 ('WN', datetime.datetime(2007, 8, 11, 7, 22), 2, Decimal('21'), 28),
 ('MQ', datetime.datetime(2007, 8, 11, 7, 24), 4, Decimal('25'), 29),
 ('9E', datetime.datetime(2007, 8, 11, 7, 25), -5, Decimal('20'), 30),
 ('US', datetime.datetime(2007, 8, 11, 7, 32), -1, Decimal('19'), 31),
 ('US', datetime.datetime(2007, 8, 11, 7, 33), 3, Decimal('22'), 32),
 ('XE', datetime.datetime(2007, 8, 11, 7, 37), -3, Decimal('19'), 33),
 ('AA', datetime.datetime(2007, 8, 11, 7, 40), 10, Decimal('29'), 34),
 ('MQ', datetime.datetime(2007, 8, 11, 7, 44), -1, Decimal('28'), 35),
 ('DL', datetime.datetime(2007, 8, 11, 7, 47), -3, Decimal('25'), 36),
 ('YV', datetime.datetime(2007, 8, 11, 7, 52), 22, Decimal('47'), 37),
 ('AA', datetime.datetime(2007, 8, 11, 8, 3), -7, Decimal('40'), 38),
 ('NW', datetime.datetime(2007, 8, 11, 8, 10), -10, Decimal('30'), 39),
 ('US', datetime.datetime(2007, 8, 11, 8, 11), 66, Decimal('96'), 40),
 ('XE', datetime.datetime(2007, 8, 11, 8, 14), -1, Decimal('95'), 41),
 ('WN', datetime.datetime(2007, 8, 11, 8, 18), -2, Decimal('93'), 42),
 ('MQ', datetime.datetime(2007, 8, 11, 8, 22), -3, Decimal('90'), 43),
 ('XE', datetime.datetime(2007, 8, 11, 8, 23), -2, Decimal('88'), 44),
 ('XE', datetime.datetime(2007, 8, 11, 8, 30), -10, Decimal('78'), 45),
 ('WN', datetime.datetime(2007, 8, 11, 8, 33), -2, Decimal('76'), 46),
 ('YV', datetime.datetime(2007, 8, 11, 8, 38), 102, Decimal('178'), 47),
 ('AA', datetime.datetime(2007, 8, 11, 8, 48), -2, Decimal('176'), 48),
 ('NW', datetime.datetime(2007, 8, 11, 8, 56), -4, Decimal('172'), 49),
 ('DL', datetime.datetime(2007, 8, 11, 9, 10), -5, Decimal('167'), 50),
 ('WN', datetime.datetime(2007, 8, 11, 9, 13), -2, Decimal('165'), 51),
 ('MQ', datetime.datetime(2007, 8, 11, 9, 19), 59, Decimal('224'), 52),
 ('MQ', datetime.datetime(2007, 8, 11, 9, 25), -5, Decimal('219'), 53),
 ('MQ', datetime.datetime(2007, 8, 11, 9, 25), 25, Decimal('244'), 54),
 ('WN', datetime.datetime(2007, 8, 11, 9, 29), -1, Decimal('243'), 55),
 ('AA', datetime.datetime(2007, 8, 11, 9, 30), 10, Decimal('253'), 56),
 ('OH', datetime.datetime(2007, 8, 11, 9, 45), -5, Decimal('248'), 57),
 ('9E', datetime.datetime(2007, 8, 11, 9, 50), -5, Decimal('243'), 58),
 ('FL', datetime.datetime(2007, 8, 11, 9, 51), 1, Decimal('244'), 59),
 ('WN', datetime.datetime(2007, 8, 11, 9, 55), 0, Decimal('244'), 60),
 ('WN', datetime.datetime(2007, 8, 11, 10, 1), 1, Decimal('245'), 61),
 ('XE', datetime.datetime(2007, 8, 11, 10, 18), -2, Decimal('243'), 62),
 ('OH', datetime.datetime(2007, 8, 11, 10, 18), 43, Decimal('286'), 63),
 ('YV', datetime.datetime(2007, 8, 11, 10, 21), -9, Decimal('277'), 64),
 ('OH', datetime.datetime(2007, 8, 11, 10, 32), 122, Decimal('399'), 65),
 ('AA', datetime.datetime(2007, 8, 11, 10, 44), -1, Decimal('398'), 66),
 ('YV', datetime.datetime(2007, 8, 11, 10, 45), 46, Decimal('444'), 67),
 ('XE', datetime.datetime(2007, 8, 11, 10, 48), -2, Decimal('442'), 68),
 ('WN', datetime.datetime(2007, 8, 11, 10, 50), 5, Decimal('447'), 69),
 ('MQ', datetime.datetime(2007, 8, 11, 10, 57), -3, Decimal('444'), 70),
 ('MQ', datetime.datetime(2007, 8, 11, 10, 59), 4, Decimal('448'), 71),
 ('MQ', datetime.datetime(2007, 8, 11, 11, 5), 40, Decimal('488'), 72),
 ('XE', datetime.datetime(2007, 8, 11, 11, 6), -4, Decimal('484'), 73),
 ('XE', datetime.datetime(2007, 8, 11, 11, 15), -5, Decimal('479'), 74),
 ('OH', datetime.datetime(2007, 8, 11, 11, 20), -10, Decimal('469'), 75),
 ('XE', datetime.datetime(2007, 8, 11, 11, 23), -7, Decimal('462'), 76),
 ('MQ', datetime.datetime(2007, 8, 11, 11, 31), 1, Decimal('463'), 77),
 ('AA', datetime.datetime(2007, 8, 11, 11, 41), 16, Decimal('479'), 78),
 ('MQ', datetime.datetime(2007, 8, 11, 11, 43), 13, Decimal('492'), 79),
 ('AA', datetime.datetime(2007, 8, 11, 12, 3), -2, Decimal('490'), 80),
 ('DL', datetime.datetime(2007, 8, 11, 12, 3), 1, Decimal('491'), 81),
 ('MQ', datetime.datetime(2007, 8, 11, 12, 7), 192, Decimal('683'), 82),
 ('MQ', datetime.datetime(2007, 8, 11, 12, 8), -2, Decimal('681'), 83),
 ('WN', datetime.datetime(2007, 8, 11, 12, 9), 4, Decimal('685'), 84),
 ('9E', datetime.datetime(2007, 8, 11, 12, 11), -4, Decimal('681'), 85),
 ('WN', datetime.datetime(2007, 8, 11, 12, 22), 7, Decimal('688'), 86),
 ('B6', datetime.datetime(2007, 8, 11, 12, 29), -1, Decimal('687'), 87),
 ('OO', datetime.datetime(2007, 8, 11, 12, 33), 43, Decimal('730'), 88),
 ('NW', datetime.datetime(2007, 8, 11, 12, 35), -7, Decimal('723'), 89),
 ('XE', datetime.datetime(2007, 8, 11, 12, 36), -9, Decimal('714'), 90),
 ('WN', datetime.datetime(2007, 8, 11, 12, 37), 17, Decimal('731'), 91),
 ('US', datetime.datetime(2007, 8, 11, 12, 49), -6, Decimal('725'), 92),
 ('XE', datetime.datetime(2007, 8, 11, 12, 53), -7, Decimal('718'), 93),
 ('MQ', datetime.datetime(2007, 8, 11, 13, 5), 5, Decimal('723'), 94),
 ('DL', datetime.datetime(2007, 8, 11, 13, 24), -4, Decimal('719'), 95),
 ('MQ', datetime.datetime(2007, 8, 11, 13, 25), 10, Decimal('729'), 96),
 ('OH', datetime.datetime(2007, 8, 11, 13, 30), 0, Decimal('729'), 97),
 ('WN', datetime.datetime(2007, 8, 11, 13, 41), 6, Decimal('735'), 98),
 ('AA', datetime.datetime(2007, 8, 11, 13, 47), 17, Decimal('752'), 99),
 ('OH', datetime.datetime(2007, 8, 11, 13, 55), 0, Decimal('752'), 100),
 ('MQ', datetime.datetime(2007, 8, 11, 13, 59), -1, Decimal('751'), 101),
 ('MQ', datetime.datetime(2007, 8, 11, 13, 59), -1, Decimal('750'), 102),
 ('AA', datetime.datetime(2007, 8, 11, 14, 5), 10, Decimal('760'), 103),
 ('MQ', datetime.datetime(2007, 8, 11, 14, 8), -7, Decimal('753'), 104),
 ('XE', datetime.datetime(2007, 8, 11, 14, 27), -3, Decimal('750'), 105),
 ('OH', datetime.datetime(2007, 8, 11, 14, 42), 8, Decimal('758'), 106),
 ('YV', datetime.datetime(2007, 8, 11, 14, 42), 17, Decimal('775'), 107),
 ('XE', datetime.datetime(2007, 8, 11, 14, 49), -1, Decimal('774'), 108),
 ('OH', datetime.datetime(2007, 8, 11, 14, 55), 0, Decimal('774'), 109),
 ('AA', datetime.datetime(2007, 8, 11, 14, 57), 17, Decimal('791'), 110),
 ('MQ', datetime.datetime(2007, 8, 11, 14, 58), 23, Decimal('814'), 111),
 ('XE', datetime.datetime(2007, 8, 11, 14, 58), -2, Decimal('812'), 112),
 ('WN', datetime.datetime(2007, 8, 11, 15, 1), 1, Decimal('813'), 113),
 ('MQ', datetime.datetime(2007, 8, 11, 15, 2), 7, Decimal('820'), 114),
 ('MQ', datetime.datetime(2007, 8, 11, 15, 3), 13, Decimal('833'), 115),
 ('XE', datetime.datetime(2007, 8, 11, 15, 15), -5, Decimal('828'), 116),
 ('UA', datetime.datetime(2007, 8, 11, 15, 24), 36, Decimal('864'), 117),
 ('B6', datetime.datetime(2007, 8, 11, 15, 25), -5, Decimal('859'), 118),
 ('WN', datetime.datetime(2007, 8, 11, 15, 42), 2, Decimal('861'), 119),
 ('AA', datetime.datetime(2007, 8, 11, 15, 44), -6, Decimal('855'), 120),
 ('XE', datetime.datetime(2007, 8, 11, 15, 47), 2, Decimal('857'), 121),
 ('AA', datetime.datetime(2007, 8, 11, 15, 49), -1, Decimal('856'), 122),
 ('WN', datetime.datetime(2007, 8, 11, 15, 56), 26, Decimal('882'), 123),
 ('NW', datetime.datetime(2007, 8, 11, 16, 15), -5, Decimal('877'), 124),
 ('MQ', datetime.datetime(2007, 8, 11, 16, 19), 54, Decimal('931'), 125),
 ('WN', datetime.datetime(2007, 8, 11, 16, 24), 24, Decimal('955'), 126),
 ('UA', datetime.datetime(2007, 8, 11, 16, 25), 0, Decimal('955'), 127),
 ('MQ', datetime.datetime(2007, 8, 11, 16, 27), -3, Decimal('952'), 128),
 ('WN', datetime.datetime(2007, 8, 11, 16, 33), 8, Decimal('960'), 129),
 ('XE', datetime.datetime(2007, 8, 11, 16, 33), 53, Decimal('1013'), 130),
 ('AA', datetime.datetime(2007, 8, 11, 16, 33), -7, Decimal('1006'), 131),
 ('MQ', datetime.datetime(2007, 8, 11, 16, 34), 19, Decimal('1025'), 132),
 ('FL', datetime.datetime(2007, 8, 11, 16, 35), 50, Decimal('1075'), 133),
 ('OH', datetime.datetime(2007, 8, 11, 16, 43), 0, Decimal('1075'), 134),
 ('XE', datetime.datetime(2007, 8, 11, 16, 47), -3, Decimal('1072'), 135),
 ('US', datetime.datetime(2007, 8, 11, 17, 1), 6, Decimal('1078'), 136),
 ('B6', datetime.datetime(2007, 8, 11, 17, 2), -3, Decimal('1075'), 137),
 ('XE', datetime.datetime(2007, 8, 11, 17, 3), -2, Decimal('1073'), 138),
 ('WN', datetime.datetime(2007, 8, 11, 17, 6), 1, Decimal('1074'), 139),
 ('XE', datetime.datetime(2007, 8, 11, 17, 14), -6, Decimal('1068'), 140),
 ('DL', datetime.datetime(2007, 8, 11, 17, 14), -2, Decimal('1066'), 141),
 ('MQ', datetime.datetime(2007, 8, 11, 17, 17), 17, Decimal('1083'), 142),
 ('UA', datetime.datetime(2007, 8, 11, 17, 29), -1, Decimal('1082'), 143),
 ('9E', datetime.datetime(2007, 8, 11, 17, 31), 16, Decimal('1098'), 144),
 ('MQ', datetime.datetime(2007, 8, 11, 17, 34), 9, Decimal('1107'), 145),
 ('OH', datetime.datetime(2007, 8, 11, 17, 40), 16, Decimal('1123'), 146),
 ('XE', datetime.datetime(2007, 8, 11, 17, 41), 13, Decimal('1136'), 147),
 ('XE', datetime.datetime(2007, 8, 11, 17, 47), -3, Decimal('1133'), 148),
 ('AA', datetime.datetime(2007, 8, 11, 17, 51), 26, Decimal('1159'), 149),
 ('OO', datetime.datetime(2007, 8, 11, 17, 55), 0, Decimal('1159'), 150),
 ('MQ', datetime.datetime(2007, 8, 11, 17, 56), 131, Decimal('1290'), 151),
 ('NW', datetime.datetime(2007, 8, 11, 17, 56), 7, Decimal('1297'), 152),
 ('MQ', datetime.datetime(2007, 8, 11, 17, 58), -1, Decimal('1296'), 153),
 ('WN', datetime.datetime(2007, 8, 11, 18, 12), 7, Decimal('1303'), 154),
 ('MQ', datetime.datetime(2007, 8, 11, 18, 17), 22, Decimal('1325'), 155),
 ('MQ', datetime.datetime(2007, 8, 11, 18, 25), 45, Decimal('1370'), 156),
 ('DL', datetime.datetime(2007, 8, 11, 18, 30), -5, Decimal('1365'), 157),
 ('US', datetime.datetime(2007, 8, 11, 18, 38), 38, Decimal('1403'), 158),
 ('AA', datetime.datetime(2007, 8, 11, 18, 40), 20, Decimal('1423'), 159),
 ('WN', datetime.datetime(2007, 8, 11, 18, 46), 1, Decimal('1424'), 160),
 ('AA', datetime.datetime(2007, 8, 11, 18, 47), -3, Decimal('1421'), 161),
 ('MQ', datetime.datetime(2007, 8, 11, 19, 0), 0, Decimal('1421'), 162),
 ('FL', datetime.datetime(2007, 8, 11, 19, 4), 5, Decimal('1426'), 163),
 ('US', datetime.datetime(2007, 8, 11, 19, 12), 67, Decimal('1493'), 164),
 ('UA', datetime.datetime(2007, 8, 11, 19, 21), -9, Decimal('1484'), 165),
 ('MQ', datetime.datetime(2007, 8, 11, 19, 29), -1, Decimal('1483'), 166),
 ('WN', datetime.datetime(2007, 8, 11, 19, 36), -4, Decimal('1479'), 167),
 ('WN', datetime.datetime(2007, 8, 11, 19, 50), -5, Decimal('1474'), 168),
 ('OH', datetime.datetime(2007, 8, 11, 19, 57), -10, Decimal('1464'), 169),
 ('US', datetime.datetime(2007, 8, 11, 20, 8), -7, Decimal('1457'), 170),
 ('B6', datetime.datetime(2007, 8, 11, 20, 36), -4, Decimal('1453'), 171),
 ('WN', datetime.datetime(2007, 8, 11, 21, 48), -2, Decimal('1451'), 172)]

* Interesting. "So, professor, what are all of our options in specifying the framing clause?"  What a great question!
* The syntax is below:
```mySQL
SELECT   AGG_FN() OVER(PARTITION BY ...
                        ORDER BY ...
                        ROWS BETWEEN UNBOUNDED PRECEDING/
                                     X PRECEDING/
                                     CURRENT ROW/
                                     X FOLLOWING/
                                     UNBOUNDED FOLLOWING
                                 AND UNBOUNDED PRECEDING/
                                     X PRECEDING/
                                     CURRENT ROW/
                                     X FOLLOWING/
                                     UNBOUNDED FOLLOWING
                        )
FROM     Tablename;
```
* You are able to choose any of the five options after the "BETWEEN" as well as any of the five options after the "AND".  <mark>***Technically this statement was not completely correct.  Your "ROWS BETWEEN" statement must be specified from "earliest" to "latest."  Meaning, you can specify ROWS BETWEEN 4 PRECEDING AND 2 FOLLOWING but you CANNOT specify ROWS BETWEEN 2 FOLLOWING AND 4 PRECEDING.***</mark>
* ***NOTE:*** technically you should also be able to replace the "ROWS" with "RANGE", but Miss Maria is being a little testy about that at the moment.  This is a relatively new feature in MariaDB so this is a likely an unresolved bug.
* So, how would we calculate a 5-day moving average of average carrier delays (for each carrier)?

In [4]:
%%sql

WITH RDU_F AS
(
SELECT   *,
         CASE
         WHEN DepTime < 60 THEN
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',DepTime), '%Y %c %e %i')
         ELSE
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',SUBSTR(DepTime,1,LENGTH(DepTime)-2),' ',SUBSTR(DepTime,-2)), '%Y %c %e %k %i')
         END as DepTS
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
),
AVG_DEL AS
(
SELECT   UniqueCarrier,
         DATE(DepTS) AS Date_Col,
         AVG(DepDelay) AS AD
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1
GROUP BY UniqueCarrier,
         DATE(DepTS)
)
SELECT   UniqueCarrier,
         Date_Col,
         AD,
         AVG(AD) OVER(PARTITION BY UniqueCarrier 
                      ORDER BY Date_Col ROWS BETWEEN 4 PRECEDING 
                                          AND CURRENT ROW
                     )
FROM     AVG_DEL
ORDER BY UniqueCarrier,
         Date_Col
LIMIT    2000;

2000 rows affected.

[('9E', datetime.date(2007, 1, 1), Decimal('-1.5000'), Decimal('-1.50000000')),
 ('9E', datetime.date(2007, 1, 2), Decimal('2.0000'), Decimal('0.25000000')),
 ('9E', datetime.date(2007, 1, 3), Decimal('8.5000'), Decimal('3.00000000')),
 ('9E', datetime.date(2007, 1, 4), Decimal('-3.5000'), Decimal('1.37500000')),
 ('9E', datetime.date(2007, 1, 5), Decimal('-5.0000'), Decimal('0.10000000')),
 ('9E', datetime.date(2007, 1, 6), Decimal('-5.0000'), Decimal('-0.60000000')),
 ('9E', datetime.date(2007, 1, 7), Decimal('15.0000'), Decimal('2.00000000')),
 ('9E', datetime.date(2007, 1, 8), Decimal('-5.0000'), Decimal('-0.70000000')),
 ('9E', datetime.date(2007, 1, 9), Decimal('-5.0000'), Decimal('-1.00000000')),
 ('9E', datetime.date(2007, 1, 10), Decimal('-2.0000'), Decimal('-0.40000000')),
 ('9E', datetime.date(2007, 1, 11), Decimal('-2.5000'), Decimal('0.10000000')),
 ('9E', datetime.date(2007, 1, 12), Decimal('-1.5000'), Decimal('-3.20000000')),
 ('9E', datetime.date(2007, 1, 13), Decimal('-5.0000'), Decimal('-3.20000000')),
 ('9E', datetime.date(2007, 1, 14), Decimal('0.0000'), Decimal('-2.20000000')),
 ('9E', datetime.date(2007, 1, 15), Decimal('-0.5000'), Decimal('-1.90000000')),
 ('9E', datetime.date(2007, 1, 16), Decimal('-4.5000'), Decimal('-2.30000000')),
 ('9E', datetime.date(2007, 1, 17), Decimal('14.0000'), Decimal('0.80000000')),
 ('9E', datetime.date(2007, 1, 18), Decimal('-5.5000'), Decimal('0.70000000')),
 ('9E', datetime.date(2007, 1, 19), Decimal('-2.5000'), Decimal('0.20000000')),
 ('9E', datetime.date(2007, 1, 20), Decimal('-5.0000'), Decimal('-0.70000000')),
 ('9E', datetime.date(2007, 1, 21), Decimal('5.5000'), Decimal('1.30000000')),
 ('9E', datetime.date(2007, 1, 22), Decimal('-7.5000'), Decimal('-3.00000000')),
 ('9E', datetime.date(2007, 1, 23), Decimal('-1.5000'), Decimal('-2.20000000')),
 ('9E', datetime.date(2007, 1, 24), Decimal('-5.5000'), Decimal('-2.80000000')),
 ('9E', datetime.date(2007, 1, 25), Decimal('-6.5000'), Decimal('-3.10000000')),
 ('9E', datetime.date(2007, 1, 26), Decimal('63.0000'), Decimal('8.40000000')),
 ('9E', datetime.date(2007, 1, 27), Decimal('4.0000'), Decimal('10.70000000')),
 ('9E', datetime.date(2007, 1, 28), Decimal('-1.5000'), Decimal('10.70000000')),
 ('9E', datetime.date(2007, 1, 29), Decimal('-7.0000'), Decimal('10.40000000')),
 ('9E', datetime.date(2007, 1, 30), Decimal('-3.0000'), Decimal('11.10000000')),
 ('9E', datetime.date(2007, 1, 31), Decimal('-2.0000'), Decimal('-1.90000000')),
 ('9E', datetime.date(2007, 2, 1), Decimal('4.5000'), Decimal('-1.80000000')),
 ('9E', datetime.date(2007, 2, 2), Decimal('6.0000'), Decimal('-0.30000000')),
 ('9E', datetime.date(2007, 2, 3), Decimal('-4.0000'), Decimal('0.30000000')),
 ('9E', datetime.date(2007, 2, 4), Decimal('-4.0000'), Decimal('0.10000000')),
 ('9E', datetime.date(2007, 2, 5), Decimal('-5.0000'), Decimal('-0.50000000')),
 ('9E', datetime.date(2007, 2, 6), Decimal('15.0000'), Decimal('1.60000000')),
 ('9E', datetime.date(2007, 2, 7), Decimal('-3.0000'), Decimal('-0.20000000')),
 ('9E', datetime.date(2007, 2, 8), Decimal('-4.0000'), Decimal('-0.20000000')),
 ('9E', datetime.date(2007, 2, 9), Decimal('-2.5000'), Decimal('0.10000000')),
 ('9E', datetime.date(2007, 2, 10), Decimal('-4.0000'), Decimal('0.30000000')),
 ('9E', datetime.date(2007, 2, 11), Decimal('-2.0000'), Decimal('-3.10000000')),
 ('9E', datetime.date(2007, 2, 12), Decimal('7.5000'), Decimal('-1.00000000')),
 ('9E', datetime.date(2007, 2, 14), Decimal('138.0000'), Decimal('27.40000000')),
 ('9E', datetime.date(2007, 2, 15), Decimal('2.2500'), Decimal('28.35000000')),
 ('9E', datetime.date(2007, 2, 16), Decimal('66.0000'), Decimal('42.35000000')),
 ('9E', datetime.date(2007, 2, 17), Decimal('66.0000'), Decimal('55.95000000')),
 ('9E', datetime.date(2007, 2, 18), Decimal('9.6000'), Decimal('56.37000000')),
 ('9E', datetime.date(2007, 2, 19), Decimal('0.0000'), Decimal('28.77000000')),
 ('9E', datetime.date(2007, 2, 20), Decimal('-5.2000'), Decimal('27.28000000')),
 ('9E', datetime.date(2007, 2, 21), Decimal('23.4000'), Decimal('18.76000000')),
 ('9E', datetime.date(2007, 2, 22), Decimal('18.0000'), Decimal('9.16000000')),
 ('9E', datetime.date(2007, 2, 23), Decimal('-1.8000'), Decimal('6.88000000')),
 ('9E', datetime.date(2007, 2, 24), Decimal('-1.0000'), Decimal('6.68000000')),
 ('9E', datetime.date(2007, 2, 25), Decimal('36.5000'), Decimal('15.02000000')),
 ('9E', datetime.date(2007, 2, 26), Decimal('20.5000'), Decimal('14.44000000')),
 ('9E', datetime.date(2007, 2, 27), Decimal('-5.0000'), Decimal('9.84000000')),
 ('9E', datetime.date(2007, 2, 28), Decimal('0.8000'), Decimal('10.36000000')),
 ('9E', datetime.date(2007, 3, 1), Decimal('8.2000'), Decimal('12.20000000')),
 ('9E', datetime.date(2007, 3, 2), Decimal('137.4000'), Decimal('32.38000000')),
 ('9E', datetime.date(2007, 3, 3), Decimal('-3.5000'), Decimal('27.58000000')),
 ('9E', datetime.date(2007, 3, 4), Decimal('-2.4000'), Decimal('28.10000000')),
 ('9E', datetime.date(2007, 3, 5), Decimal('3.2500'), Decimal('28.59000000')),
 ('9E', datetime.date(2007, 3, 6), Decimal('-3.6667'), Decimal('26.21666000')),
 ('9E', datetime.date(2007, 3, 7), Decimal('31.4000'), Decimal('5.01666000')),
 ('9E', datetime.date(2007, 3, 8), Decimal('1.3333'), Decimal('5.98332000')),
 ('9E', datetime.date(2007, 3, 9), Decimal('8.0000'), Decimal('8.06332000')),
 ('9E', datetime.date(2007, 3, 10), Decimal('24.0000'), Decimal('12.21332000')),
 ('9E', datetime.date(2007, 3, 11), Decimal('-3.2500'), Decimal('12.29666000')),
 ('9E', datetime.date(2007, 3, 12), Decimal('-3.0000'), Decimal('5.41666000')),
 ('9E', datetime.date(2007, 3, 13), Decimal('-4.0000'), Decimal('4.35000000')),
 ('9E', datetime.date(2007, 3, 14), Decimal('6.0000'), Decimal('3.95000000')),
 ('9E', datetime.date(2007, 3, 15), Decimal('-4.4000'), Decimal('-1.73000000')),
 ('9E', datetime.date(2007, 3, 16), Decimal('6.3333'), Decimal('0.18666000')),
 ('9E', datetime.date(2007, 3, 17), Decimal('3.0000'), Decimal('1.38666000')),
 ('9E', datetime.date(2007, 3, 18), Decimal('-1.4000'), Decimal('1.90666000')),
 ('9E', datetime.date(2007, 3, 19), Decimal('6.8333'), Decimal('2.07332000')),
 ('9E', datetime.date(2007, 3, 20), Decimal('-6.0000'), Decimal('1.75332000')),
 ('9E', datetime.date(2007, 3, 21), Decimal('-4.6667'), Decimal('-0.44668000')),
 ('9E', datetime.date(2007, 3, 22), Decimal('13.4000'), Decimal('1.63332000')),
 ('9E', datetime.date(2007, 3, 23), Decimal('11.6667'), Decimal('4.24666000')),
 ('9E', datetime.date(2007, 3, 24), Decimal('-4.0000'), Decimal('2.08000000')),
 ('9E', datetime.date(2007, 3, 25), Decimal('6.2000'), Decimal('4.52000000')),
 ('9E', datetime.date(2007, 3, 26), Decimal('-4.0000'), Decimal('4.65334000')),
 ('9E', datetime.date(2007, 3, 27), Decimal('-4.8333'), Decimal('1.00668000')),
 ('9E', datetime.date(2007, 3, 28), Decimal('-5.2000'), Decimal('-2.36666000')),
 ('9E', datetime.date(2007, 3, 29), Decimal('-3.6667'), Decimal('-2.30000000')),
 ('9E', datetime.date(2007, 3, 30), Decimal('-1.2000'), Decimal('-3.78000000')),
 ('9E', datetime.date(2007, 3, 31), Decimal('1.2500'), Decimal('-2.73000000')),
 ('9E', datetime.date(2007, 4, 1), Decimal('-3.4000'), Decimal('-2.44334000')),
 ('9E', datetime.date(2007, 4, 2), Decimal('1.7500'), Decimal('-1.05334000')),
 ('9E', datetime.date(2007, 4, 3), Decimal('32.4000'), Decimal('6.16000000')),
 ('9E', datetime.date(2007, 4, 4), Decimal('15.2000'), Decimal('9.44000000')),
 ('9E', datetime.date(2007, 4, 5), Decimal('-4.6000'), Decimal('8.27000000')),
 ('9E', datetime.date(2007, 4, 6), Decimal('-0.6000'), Decimal('8.83000000')),
 ('9E', datetime.date(2007, 4, 7), Decimal('-7.0000'), Decimal('7.08000000')),
 ('9E', datetime.date(2007, 4, 8), Decimal('-4.2000'), Decimal('-0.24000000')),
 ('9E', datetime.date(2007, 4, 9), Decimal('-4.8000'), Decimal('-4.24000000')),
 ('9E', datetime.date(2007, 4, 10), Decimal('33.8000'), Decimal('3.44000000')),
 ('9E', datetime.date(2007, 4, 11), Decimal('-5.6000'), Decimal('2.44000000')),
 ('9E', datetime.date(2007, 4, 12), Decimal('-5.8000'), Decimal('2.68000000')),
 ('9E', datetime.date(2007, 4, 13), Decimal('5.8000'), Decimal('4.68000000')),
 ('9E', datetime.date(2007, 4, 14), Decimal('-1.0000'), Decimal('5.44000000')),
 ('9E', datetime.date(2007, 4, 15), Decimal('155.4000'), Decimal('29.76000000')),
 ('9E', datetime.date(2007, 4, 16), Decimal('-2.6667'), Decimal('30.34666000')),
 ('9E', datetime.date(2007, 4, 17), Decimal('-3.8000'), Decimal('30.74666000')),
 ('9E', datetime.date(2007, 4, 18), Decimal('-4.4000'), Decimal('28.70666000')),
 ('9E', datetime.date(2007, 4, 19), Decimal('-0.4000'), Decimal('28.82666000')),
 ('9E', datetime.date(2007, 4, 20), Decimal('10.8000'), Decimal('-0.09334000')),
 ('9E', datetime.date(2007, 4, 21), Decimal('3.3333'), Decimal('1.10666000')),
 ('9E', datetime.date(2007, 4, 22), Decimal('-3.8000'), Decimal('1.10666000')),
 ('9E', datetime.date(2007, 4, 23), Decimal('-0.4000'), Decimal('1.90666000')),
 ('9E', datetime.date(2007, 4, 24), Decimal('3.0000'), Decimal('2.58666000')),
 ('9E', datetime.date(2007, 4, 25), Decimal('-1.0000'), Decimal('0.22666000')),
 ('9E', datetime.date(2007, 4, 26), Decimal('-2.6000'), Decimal('-0.96000000')),
 ('9E', datetime.date(2007, 4, 27), Decimal('4.2000'), Decimal('0.64000000')),
 ('9E', datetime.date(2007, 4, 28), Decimal('-3.3333'), Decimal('0.05334000')),
 ('9E', datetime.date(2007, 4, 29), Decimal('7.8000'), Decimal('1.01334000')),
 ('9E', datetime.date(2007, 4, 30), Decimal('2.0000'), Decimal('1.61334000')),
 ('9E', datetime.date(2007, 5, 1), Decimal('4.6000'), Decimal('3.05334000')),
 ('9E', datetime.date(2007, 5, 2), Decimal('35.2000'), Decimal('9.25334000')),
 ('9E', datetime.date(2007, 5, 3), Decimal('-1.6000'), Decimal('9.60000000')),
 ('9E', datetime.date(2007, 5, 4), Decimal('2.2000'), Decimal('8.48000000')),
 ('9E', datetime.date(2007, 5, 5), Decimal('4.7500'), Decimal('9.03000000')),
 ('9E', datetime.date(2007, 5, 6), Decimal('-0.2000'), Decimal('8.07000000')),
 ('9E', datetime.date(2007, 5, 7), Decimal('34.0000'), Decimal('7.83000000')),
 ('9E', datetime.date(2007, 5, 8), Decimal('-4.2000'), Decimal('7.31000000')),
 ('9E', datetime.date(2007, 5, 9), Decimal('32.2000'), Decimal('13.31000000')),
 ('9E', datetime.date(2007, 5, 10), Decimal('4.0000'), Decimal('13.16000000')),
 ('9E', datetime.date(2007, 5, 11), Decimal('-2.0000'), Decimal('12.80000000')),
 ('9E', datetime.date(2007, 5, 12), Decimal('10.5000'), Decimal('8.10000000')),
 ('9E', datetime.date(2007, 5, 13), Decimal('-4.6000'), Decimal('8.02000000')),
 ('9E', datetime.date(2007, 5, 14), Decimal('-4.0000'), Decimal('0.78000000')),
 ('9E', datetime.date(2007, 5, 15), Decimal('11.0000'), Decimal('2.18000000')),
 ('9E', datetime.date(2007, 5, 16), Decimal('4.0000'), Decimal('3.38000000')),
 ('9E', datetime.date(2007, 5, 17), Decimal('3.2000'), Decimal('1.92000000')),
 ('9E', datetime.date(2007, 5, 18), Decimal('17.4000'), Decimal('6.32000000')),
 ('9E', datetime.date(2007, 5, 19), Decimal('11.7500'), Decimal('9.47000000')),
 ('9E', datetime.date(2007, 5, 20), Decimal('-2.6000'), Decimal('6.75000000')),
 ('9E', datetime.date(2007, 5, 21), Decimal('-4.0000'), Decimal('5.15000000')),
 ('9E', datetime.date(2007, 5, 22), Decimal('-5.0000'), Decimal('3.51000000')),
 ('9E', datetime.date(2007, 5, 23), Decimal('0.4000'), Decimal('0.11000000')),
 ('9E', datetime.date(2007, 5, 24), Decimal('-0.8000'), Decimal('-2.40000000')),
 ('9E', datetime.date(2007, 5, 25), Decimal('53.2000'), Decimal('8.76000000')),
 ('9E', datetime.date(2007, 5, 26), Decimal('4.0000'), Decimal('10.36000000')),
 ('9E', datetime.date(2007, 5, 27), Decimal('-6.2000'), Decimal('10.12000000')),
 ('9E', datetime.date(2007, 5, 28), Decimal('-5.2000'), Decimal('9.00000000')),
 ('9E', datetime.date(2007, 5, 29), Decimal('-4.2000'), Decimal('8.32000000')),
 ('9E', datetime.date(2007, 5, 30), Decimal('-5.0000'), Decimal('-3.32000000')),
 ('9E', datetime.date(2007, 5, 31), Decimal('-4.2000'), Decimal('-4.96000000')),
 ('9E', datetime.date(2007, 6, 1), Decimal('-2.8000'), Decimal('-4.28000000')),
 ('9E', datetime.date(2007, 6, 2), Decimal('-5.0000'), Decimal('-4.24000000')),
 ('9E', datetime.date(2007, 6, 3), Decimal('-3.2000'), Decimal('-4.04000000')),
 ('9E', datetime.date(2007, 6, 4), Decimal('-2.2000'), Decimal('-3.48000000')),
 ('9E', datetime.date(2007, 6, 5), Decimal('23.2000'), Decimal('2.00000000')),
 ('9E', datetime.date(2007, 6, 6), Decimal('-1.8000'), Decimal('2.20000000')),
 ('9E', datetime.date(2007, 6, 7), Decimal('-3.0000'), Decimal('2.60000000')),
 ('9E', datetime.date(2007, 6, 8), Decimal('31.2500'), Decimal('9.49000000')),
 ('9E', datetime.date(2007, 6, 9), Decimal('25.3333'), Decimal('14.99666000')),
 ('9E', datetime.date(2007, 6, 10), Decimal('2.6000'), Decimal('10.87666000')),
 ('9E', datetime.date(2007, 6, 11), Decimal('3.8000'), Decimal('11.99666000')),
 ('9E', datetime.date(2007, 6, 12), Decimal('4.0000'), Decimal('13.39666000')),
 ('9E', datetime.date(2007, 6, 13), Decimal('22.2000'), Decimal('11.58666000')),
 ('9E', datetime.date(2007, 6, 14), Decimal('-3.6000'), Decimal('5.80000000')),
 ('9E', datetime.date(2007, 6, 15), Decimal('-4.8000'), Decimal('4.32000000')),
 ('9E', datetime.date(2007, 6, 16), Decimal('-1.2500'), Decimal('3.31000000')),
 ('9E', datetime.date(2007, 6, 17), Decimal('0.4000'), Decimal('2.59000000')),
 ('9E', datetime.date(2007, 6, 18), Decimal('-0.8000'), Decimal('-2.01000000')),
 ('9E', datetime.date(2007, 6, 19), Decimal('-1.2000'), Decimal('-1.53000000')),
 ('9E', datetime.date(2007, 6, 20), Decimal('31.2500'), Decimal('5.68000000')),
 ('9E', datetime.date(2007, 6, 21), Decimal('-4.2000'), Decimal('5.09000000')),
 ('9E', datetime.date(2007, 6, 22), Decimal('-3.6000'), Decimal('4.29000000')),
 ('9E', datetime.date(2007, 6, 23), Decimal('-3.7500'), Decimal('3.70000000')),
 ('9E', datetime.date(2007, 6, 24), Decimal('-3.8000'), Decimal('3.18000000')),
 ('9E', datetime.date(2007, 6, 25), Decimal('4.4000'), Decimal('-2.19000000')),
 ('9E', datetime.date(2007, 6, 26), Decimal('24.8000'), Decimal('3.61000000')),
 ('9E', datetime.date(2007, 6, 27), Decimal('3.6000'), Decimal('5.05000000')),
 ('9E', datetime.date(2007, 6, 28), Decimal('231.0000'), Decimal('52.00000000')),
 ('9E', datetime.date(2007, 6, 29), Decimal('27.8000'), Decimal('58.32000000')),
 ('9E', datetime.date(2007, 6, 30), Decimal('2.5000'), Decimal('57.94000000')),
 ('9E', datetime.date(2007, 7, 1), Decimal('-3.4000'), Decimal('52.30000000')),
 ('9E', datetime.date(2007, 7, 2), Decimal('-3.0000'), Decimal('50.98000000')),
 ('9E', datetime.date(2007, 7, 3), Decimal('-4.0000'), Decimal('3.98000000')),
 ('9E', datetime.date(2007, 7, 4), Decimal('-5.0000'), Decimal('-2.58000000')),
 ('9E', datetime.date(2007, 7, 5), Decimal('-4.3333'), Decimal('-3.94666000')),
 ('9E', datetime.date(2007, 7, 6), Decimal('-5.0000'), Decimal('-4.26666000')),
 ('9E', datetime.date(2007, 7, 7), Decimal('-4.2500'), Decimal('-4.51666000')),
 ('9E', datetime.date(2007, 7, 8), Decimal('-5.4000'), Decimal('-4.79666000')),
 ('9E', datetime.date(2007, 7, 9), Decimal('9.6000'), Decimal('-1.87666000')),
 ('9E', datetime.date(2007, 7, 10), Decimal('-1.0000'), Decimal('-1.21000000')),
 ('9E', datetime.date(2007, 7, 11), Decimal('-2.2000'), Decimal('-0.65000000')),
 ('9E', datetime.date(2007, 7, 12), Decimal('-5.0000'), Decimal('-0.80000000')),
 ('9E', datetime.date(2007, 7, 13), Decimal('-5.8000'), Decimal('-0.88000000')),
 ('9E', datetime.date(2007, 7, 14), Decimal('-4.0000'), Decimal('-3.60000000')),
 ('9E', datetime.date(2007, 7, 15), Decimal('0.8000'), Decimal('-3.24000000')),
 ('9E', datetime.date(2007, 7, 16), Decimal('-3.8000'), Decimal('-3.56000000')),
 ('9E', datetime.date(2007, 7, 17), Decimal('16.0000'), Decimal('0.64000000')),
 ('9E', datetime.date(2007, 7, 18), Decimal('-5.6000'), Decimal('0.68000000')),
 ('9E', datetime.date(2007, 7, 19), Decimal('-3.2000'), Decimal('0.84000000')),
 ('9E', datetime.date(2007, 7, 20), Decimal('15.4000'), Decimal('3.76000000')),
 ('9E', datetime.date(2007, 7, 21), Decimal('-4.5000'), Decimal('3.62000000')),
 ('9E', datetime.date(2007, 7, 22), Decimal('9.8000'), Decimal('2.38000000')),
 ('9E', datetime.date(2007, 7, 23), Decimal('27.2000'), Decimal('8.94000000')),
 ('9E', datetime.date(2007, 7, 24), Decimal('-4.4000'), Decimal('8.70000000')),
 ('9E', datetime.date(2007, 7, 25), Decimal('-6.0000'), Decimal('4.42000000')),
 ('9E', datetime.date(2007, 7, 26), Decimal('4.2000'), Decimal('6.16000000')),
 ('9E', datetime.date(2007, 7, 27), Decimal('158.4000'), Decimal('35.88000000')),
 ('9E', datetime.date(2007, 7, 28), Decimal('6.7500'), Decimal('31.79000000')),
 ('9E', datetime.date(2007, 7, 29), Decimal('-5.2000'), Decimal('31.63000000')),
 ('9E', datetime.date(2007, 7, 30), Decimal('-4.0000'), Decimal('32.03000000')),
 ('9E', datetime.date(2007, 7, 31), Decimal('-3.4000'), Decimal('30.51000000')),
 ('9E', datetime.date(2007, 8, 1), Decimal('-4.6000'), Decimal('-2.09000000')),
 ('9E', datetime.date(2007, 8, 2), Decimal('32.4000'), Decimal('3.04000000')),
 ('9E', datetime.date(2007, 8, 3), Decimal('-3.4000'), Decimal('3.40000000')),
 ('9E', datetime.date(2007, 8, 4), Decimal('11.2500'), Decimal('6.45000000')),
 ('9E', datetime.date(2007, 8, 5), Decimal('-0.2000'), Decimal('7.09000000')),
 ('9E', datetime.date(2007, 8, 6), Decimal('-2.8000'), Decimal('7.45000000')),
 ('9E', datetime.date(2007, 8, 7), Decimal('6.0000'), Decimal('2.17000000')),
 ('9E', datetime.date(2007, 8, 8), Decimal('-4.6000'), Decimal('1.93000000')),
 ('9E', datetime.date(2007, 8, 9), Decimal('26.4000'), Decimal('4.96000000')),
 ('9E', datetime.date(2007, 8, 10), Decimal('13.4000'), Decimal('7.68000000')),
 ('9E', datetime.date(2007, 8, 11), Decimal('0.5000'), Decimal('8.34000000')),
 ('9E', datetime.date(2007, 8, 12), Decimal('13.6000'), Decimal('9.86000000')),
 ('9E', datetime.date(2007, 8, 13), Decimal('47.2000'), Decimal('20.22000000')),
 ('9E', datetime.date(2007, 8, 14), Decimal('30.0000'), Decimal('20.94000000')),
 ('9E', datetime.date(2007, 8, 15), Decimal('-3.4000'), Decimal('17.58000000')),
 ('9E', datetime.date(2007, 8, 16), Decimal('-6.8000'), Decimal('16.12000000')),
 ('9E', datetime.date(2007, 8, 17), Decimal('-3.2000'), Decimal('12.76000000')),
 ('9E', datetime.date(2007, 8, 18), Decimal('43.3333'), Decimal('11.98666000')),
 ('9E', datetime.date(2007, 8, 19), Decimal('7.7500'), Decimal('7.53666000')),
 ('9E', datetime.date(2007, 8, 20), Decimal('14.2000'), Decimal('11.05666000')),
 ('9E', datetime.date(2007, 8, 21), Decimal('7.5000'), Decimal('13.91666000')),
 ('9E', datetime.date(2007, 8, 22), Decimal('-5.0000'), Decimal('13.55666000')),
 ('9E', datetime.date(2007, 8, 23), Decimal('4.5000'), Decimal('5.79000000')),
 ('9E', datetime.date(2007, 8, 24), Decimal('-5.0000'), Decimal('3.24000000')),
 ('9E', datetime.date(2007, 8, 25), Decimal('18.0000'), Decimal('4.00000000')),
 ('9E', datetime.date(2007, 8, 26), Decimal('-5.0000'), Decimal('1.50000000')),
 ('9E', datetime.date(2007, 8, 27), Decimal('-5.0000'), Decimal('1.50000000')),
 ('9E', datetime.date(2007, 8, 28), Decimal('-6.6667'), Decimal('-0.73334000')),
 ('9E', datetime.date(2007, 8, 29), Decimal('-6.0000'), Decimal('-0.93334000')),
 ('9E', datetime.date(2007, 8, 30), Decimal('7.2500'), Decimal('-3.08334000')),
 ('9E', datetime.date(2007, 8, 31), Decimal('-0.7500'), Decimal('-2.23334000')),
 ('9E', datetime.date(2007, 9, 1), Decimal('-5.6667'), Decimal('-2.36668000')),
 ('9E', datetime.date(2007, 9, 2), Decimal('-6.2500'), Decimal('-2.28334000')),
 ('9E', datetime.date(2007, 9, 3), Decimal('-4.2500'), Decimal('-1.93334000')),
 ('9E', datetime.date(2007, 9, 4), Decimal('-4.7500'), Decimal('-4.33334000')),
 ('9E', datetime.date(2007, 9, 5), Decimal('-5.0000'), Decimal('-5.18334000')),
 ('9E', datetime.date(2007, 9, 6), Decimal('-4.2500'), Decimal('-4.90000000')),
 ('9E', datetime.date(2007, 9, 7), Decimal('-5.5000'), Decimal('-4.75000000')),
 ('9E', datetime.date(2007, 9, 8), Decimal('16.6667'), Decimal('-0.56666000')),

* Okay, now that we're window function experts, it's time for the creme de la creme of SQL queries in this course.  Suppose that RDU penalizes airline carriers for departure delays (whether or not they are indeed that carrier's fault) as follows:
  * Each day the airport calculates the average departure delay for each carrier.
  * Next, for each day, carriers are ranked from highest to lowest average departure delay.  To be included in the ranking a carrier must have at least 5 departures on a given day.  If a carrier has fewer than 5 departures on a given day then it is automatically ranked tied for last on that day.
  * Finally, a carrier experiences a "penalty day" on any day when it was ranked in the Top 2 on at least 2 of the previous 3 days.  (We can imagine that the flight deck might give runway priority to the other airlines on a penalty day.)
* So, given all of this, which carrier has the most penalty days during 2007?

In [79]:
%%sql

WITH RDU_F AS
(
SELECT   *,
         CASE
         WHEN DepTime < 60 THEN
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',DepTime), '%Y %c %e %i')
         ELSE
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',SUBSTR(DepTime,1,LENGTH(DepTime)-2),' ',SUBSTR(DepTime,-2)), '%Y %c %e %k %i')
         END as DepTS
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
),
AVG_DEL AS
(
SELECT   UniqueCarrier,
         DATE(DepTS) AS Date_Col,
         AVG(DepDelay) AS AD,
         COUNT(*) AS Num_Flights
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1
GROUP BY UniqueCarrier,
         DATE(DepTS)
)
SELECT   *,
         RANK() OVER(PARTITION BY Date_Col
                     ORDER BY AD DESC) AS Delay_Rank
FROM     AVG_DEL
ORDER BY Date_Col,
         Delay_Rank
LIMIT    2000;

2000 rows affected.

[('B6', datetime.date(2007, 1, 1), Decimal('60.0000'), 4, 1),
 ('NW', datetime.date(2007, 1, 1), Decimal('55.0000'), 9, 2),
 ('YV', datetime.date(2007, 1, 1), Decimal('54.4444'), 9, 3),
 ('MQ', datetime.date(2007, 1, 1), Decimal('39.5385'), 39, 4),
 ('AA', datetime.date(2007, 1, 1), Decimal('35.0000'), 15, 5),
 ('CO', datetime.date(2007, 1, 1), Decimal('34.3333'), 3, 6),
 ('US', datetime.date(2007, 1, 1), Decimal('32.0667'), 15, 7),
 ('XE', datetime.date(2007, 1, 1), Decimal('30.0714'), 14, 8),
 ('WN', datetime.date(2007, 1, 1), Decimal('19.1786'), 28, 9),
 ('OH', datetime.date(2007, 1, 1), Decimal('11.7000'), 10, 10),
 ('FL', datetime.date(2007, 1, 1), Decimal('8.6000'), 5, 11),
 ('9E', datetime.date(2007, 1, 1), Decimal('-1.5000'), 2, 12),
 ('DL', datetime.date(2007, 1, 1), Decimal('-1.7500'), 8, 13),
 ('EV', datetime.date(2007, 1, 1), Decimal('-5.0000'), 1, 14),
 ('CO', datetime.date(2007, 1, 2), Decimal('24.2500'), 4, 1),
 ('OH', datetime.date(2007, 1, 2), Decimal('20.2143'), 14, 2),
 ('AA', datetime.date(2007, 1, 2), Decimal('16.0000'), 14, 3),
 ('MQ', datetime.date(2007, 1, 2), Decimal('13.7826'), 46, 4),
 ('XE', datetime.date(2007, 1, 2), Decimal('8.5000'), 16, 5),
 ('B6', datetime.date(2007, 1, 2), Decimal('8.4000'), 5, 6),
 ('WN', datetime.date(2007, 1, 2), Decimal('6.6000'), 30, 7),
 ('YV', datetime.date(2007, 1, 2), Decimal('6.1818'), 11, 8),
 ('US', datetime.date(2007, 1, 2), Decimal('5.8750'), 16, 9),
 ('FL', datetime.date(2007, 1, 2), Decimal('5.5000'), 6, 10),
 ('NW', datetime.date(2007, 1, 2), Decimal('4.7500'), 8, 11),
 ('9E', datetime.date(2007, 1, 2), Decimal('2.0000'), 2, 12),
 ('EV', datetime.date(2007, 1, 2), Decimal('0.0000'), 1, 13),
 ('DL', datetime.date(2007, 1, 2), Decimal('-1.4444'), 9, 14),
 ('AA', datetime.date(2007, 1, 3), Decimal('35.6000'), 15, 1),
 ('CO', datetime.date(2007, 1, 3), Decimal('25.2500'), 4, 2),
 ('OH', datetime.date(2007, 1, 3), Decimal('18.1250'), 16, 3),
 ('YV', datetime.date(2007, 1, 3), Decimal('11.5833'), 12, 4),
 ('US', datetime.date(2007, 1, 3), Decimal('11.2500'), 16, 5),
 ('B6', datetime.date(2007, 1, 3), Decimal('11.2000'), 5, 6),
 ('XE', datetime.date(2007, 1, 3), Decimal('10.1875'), 16, 7),
 ('9E', datetime.date(2007, 1, 3), Decimal('8.5000'), 2, 8),
 ('MQ', datetime.date(2007, 1, 3), Decimal('5.1957'), 46, 9),
 ('NW', datetime.date(2007, 1, 3), Decimal('4.0000'), 8, 10),
 ('WN', datetime.date(2007, 1, 3), Decimal('2.5667'), 30, 11),
 ('EV', datetime.date(2007, 1, 3), Decimal('2.0000'), 1, 12),
 ('FL', datetime.date(2007, 1, 3), Decimal('0.1667'), 6, 13),
 ('DL', datetime.date(2007, 1, 3), Decimal('-0.8889'), 9, 14),
 ('YV', datetime.date(2007, 1, 4), Decimal('43.6667'), 12, 1),
 ('AA', datetime.date(2007, 1, 4), Decimal('19.2000'), 15, 2),
 ('FL', datetime.date(2007, 1, 4), Decimal('7.6667'), 6, 3),
 ('WN', datetime.date(2007, 1, 4), Decimal('5.1000'), 30, 4),
 ('NW', datetime.date(2007, 1, 4), Decimal('2.6250'), 8, 5),
 ('XE', datetime.date(2007, 1, 4), Decimal('2.5000'), 16, 6),
 ('MQ', datetime.date(2007, 1, 4), Decimal('0.3913'), 46, 7),
 ('EV', datetime.date(2007, 1, 4), Decimal('0.0000'), 1, 8),
 ('US', datetime.date(2007, 1, 4), Decimal('-0.3750'), 16, 9),
 ('DL', datetime.date(2007, 1, 4), Decimal('-2.1250'), 8, 10),
 ('OH', datetime.date(2007, 1, 4), Decimal('-2.3125'), 16, 11),
 ('9E', datetime.date(2007, 1, 4), Decimal('-3.5000'), 2, 12),
 ('CO', datetime.date(2007, 1, 4), Decimal('-4.0000'), 4, 13),
 ('B6', datetime.date(2007, 1, 4), Decimal('-9.0000'), 5, 14),
 ('B6', datetime.date(2007, 1, 5), Decimal('63.2000'), 5, 1),
 ('EV', datetime.date(2007, 1, 5), Decimal('47.5000'), 2, 2),
 ('CO', datetime.date(2007, 1, 5), Decimal('36.7500'), 4, 3),
 ('DL', datetime.date(2007, 1, 5), Decimal('25.5000'), 8, 4),
 ('WN', datetime.date(2007, 1, 5), Decimal('22.4667'), 30, 5),
 ('US', datetime.date(2007, 1, 5), Decimal('18.4667'), 15, 6),
 ('XE', datetime.date(2007, 1, 5), Decimal('16.4375'), 16, 7),
 ('YV', datetime.date(2007, 1, 5), Decimal('16.4167'), 12, 8),
 ('MQ', datetime.date(2007, 1, 5), Decimal('14.8372'), 43, 9),
 ('OH', datetime.date(2007, 1, 5), Decimal('5.3333'), 15, 10),
 ('AA', datetime.date(2007, 1, 5), Decimal('3.7333'), 15, 11),
 ('NW', datetime.date(2007, 1, 5), Decimal('2.4286'), 7, 12),
 ('FL', datetime.date(2007, 1, 5), Decimal('-3.4000'), 5, 13),
 ('9E', datetime.date(2007, 1, 5), Decimal('-5.0000'), 2, 14),
 ('OH', datetime.date(2007, 1, 6), Decimal('23.7000'), 10, 1),
 ('XE', datetime.date(2007, 1, 6), Decimal('4.5000'), 10, 2),
 ('YV', datetime.date(2007, 1, 6), Decimal('3.9091'), 11, 3),
 ('MQ', datetime.date(2007, 1, 6), Decimal('3.5000'), 34, 4),
 ('NW', datetime.date(2007, 1, 6), Decimal('2.6000'), 5, 5),
 ('B6', datetime.date(2007, 1, 6), Decimal('2.0000'), 5, 6),
 ('US', datetime.date(2007, 1, 6), Decimal('1.8571'), 7, 7),
 ('WN', datetime.date(2007, 1, 6), Decimal('1.5652'), 23, 8),
 ('AA', datetime.date(2007, 1, 6), Decimal('0.3571'), 14, 9),
 ('EV', datetime.date(2007, 1, 6), Decimal('0.0000'), 1, 10),
 ('DL', datetime.date(2007, 1, 6), Decimal('-0.7500'), 8, 11),
 ('FL', datetime.date(2007, 1, 6), Decimal('-2.2500'), 4, 12),
 ('9E', datetime.date(2007, 1, 6), Decimal('-5.0000'), 1, 13),
 ('CO', datetime.date(2007, 1, 6), Decimal('-5.3333'), 3, 14),
 ('FL', datetime.date(2007, 1, 7), Decimal('21.0000'), 6, 1),
 ('CO', datetime.date(2007, 1, 7), Decimal('19.6667'), 3, 2),
 ('WN', datetime.date(2007, 1, 7), Decimal('17.1071'), 28, 3),
 ('9E', datetime.date(2007, 1, 7), Decimal('15.0000'), 2, 4),
 ('AA', datetime.date(2007, 1, 7), Decimal('11.2857'), 14, 5),
 ('NW', datetime.date(2007, 1, 7), Decimal('2.8750'), 8, 6),
 ('YV', datetime.date(2007, 1, 7), Decimal('2.2143'), 14, 7),
 ('OH', datetime.date(2007, 1, 7), Decimal('1.9231'), 13, 8),
 ('B6', datetime.date(2007, 1, 7), Decimal('0.0000'), 5, 9),
 ('US', datetime.date(2007, 1, 7), Decimal('-0.3333'), 9, 10),
 ('MQ', datetime.date(2007, 1, 7), Decimal('-0.5128'), 39, 11),
 ('DL', datetime.date(2007, 1, 7), Decimal('-3.0000'), 10, 12),
 ('XE', datetime.date(2007, 1, 7), Decimal('-3.0667'), 15, 13),
 ('XE', datetime.date(2007, 1, 8), Decimal('51.0000'), 12, 1),
 ('CO', datetime.date(2007, 1, 8), Decimal('33.2500'), 4, 2),
 ('B6', datetime.date(2007, 1, 8), Decimal('16.4000'), 5, 3),
 ('MQ', datetime.date(2007, 1, 8), Decimal('14.6585'), 41, 4),
 ('US', datetime.date(2007, 1, 8), Decimal('13.5000'), 14, 5),
 ('OH', datetime.date(2007, 1, 8), Decimal('12.4286'), 14, 6),
 ('NW', datetime.date(2007, 1, 8), Decimal('3.5000'), 8, 7),
 ('WN', datetime.date(2007, 1, 8), Decimal('3.1333'), 30, 8),
 ('YV', datetime.date(2007, 1, 8), Decimal('2.5833'), 12, 9),
 ('AA', datetime.date(2007, 1, 8), Decimal('0.2000'), 15, 10),
 ('DL', datetime.date(2007, 1, 8), Decimal('0.2000'), 10, 10),
 ('9E', datetime.date(2007, 1, 8), Decimal('-5.0000'), 1, 12),
 ('FL', datetime.date(2007, 1, 8), Decimal('-5.1667'), 6, 13),
 ('YV', datetime.date(2007, 1, 9), Decimal('20.0000'), 7, 1),
 ('XE', datetime.date(2007, 1, 9), Decimal('9.1818'), 11, 2),
 ('AA', datetime.date(2007, 1, 9), Decimal('8.9333'), 15, 3),
 ('CO', datetime.date(2007, 1, 9), Decimal('6.5000'), 4, 4),
 ('US', datetime.date(2007, 1, 9), Decimal('4.0769'), 13, 5),
 ('WN', datetime.date(2007, 1, 9), Decimal('0.0333'), 30, 6),
 ('MQ', datetime.date(2007, 1, 9), Decimal('-0.6957'), 46, 7),
 ('OH', datetime.date(2007, 1, 9), Decimal('-1.6154'), 13, 8),
 ('9E', datetime.date(2007, 1, 9), Decimal('-5.0000'), 2, 9),
 ('FL', datetime.date(2007, 1, 9), Decimal('-5.2000'), 5, 10),
 ('DL', datetime.date(2007, 1, 9), Decimal('-6.0000'), 8, 11),
 ('NW', datetime.date(2007, 1, 9), Decimal('-6.1250'), 8, 12),
 ('B6', datetime.date(2007, 1, 9), Decimal('-7.6000'), 5, 13),
 ('YV', datetime.date(2007, 1, 10), Decimal('7.3333'), 9, 1),
 ('MQ', datetime.date(2007, 1, 10), Decimal('4.5111'), 45, 2),
 ('CO', datetime.date(2007, 1, 10), Decimal('3.0000'), 4, 3),
 ('XE', datetime.date(2007, 1, 10), Decimal('1.6000'), 10, 4),
 ('B6', datetime.date(2007, 1, 10), Decimal('1.4000'), 5, 5),
 ('NW', datetime.date(2007, 1, 10), Decimal('0.3750'), 8, 6),
 ('9E', datetime.date(2007, 1, 10), Decimal('-2.0000'), 2, 7),
 ('WN', datetime.date(2007, 1, 10), Decimal('-2.1333'), 30, 8),
 ('OH', datetime.date(2007, 1, 10), Decimal('-2.4000'), 15, 9),
 ('US', datetime.date(2007, 1, 10), Decimal('-2.8571'), 14, 10),
 ('AA', datetime.date(2007, 1, 10), Decimal('-4.1333'), 15, 11),
 ('FL', datetime.date(2007, 1, 10), Decimal('-4.8000'), 5, 12),
 ('DL', datetime.date(2007, 1, 10), Decimal('-5.0000'), 10, 13),
 ('YV', datetime.date(2007, 1, 11), Decimal('30.3333'), 9, 1),
 ('AA', datetime.date(2007, 1, 11), Decimal('8.2000'), 15, 2),
 ('MQ', datetime.date(2007, 1, 11), Decimal('7.6667'), 45, 3),
 ('DL', datetime.date(2007, 1, 11), Decimal('3.5000'), 10, 4),
 ('WN', datetime.date(2007, 1, 11), Decimal('1.7000'), 30, 5),
 ('US', datetime.date(2007, 1, 11), Decimal('0.1333'), 15, 6),
 ('OH', datetime.date(2007, 1, 11), Decimal('-0.1875'), 16, 7),
 ('NW', datetime.date(2007, 1, 11), Decimal('-2.3750'), 8, 8),
 ('9E', datetime.date(2007, 1, 11), Decimal('-2.5000'), 2, 9),
 ('CO', datetime.date(2007, 1, 11), Decimal('-3.0000'), 4, 10),
 ('XE', datetime.date(2007, 1, 11), Decimal('-4.8333'), 12, 11),
 ('B6', datetime.date(2007, 1, 11), Decimal('-5.2000'), 5, 12),
 ('FL', datetime.date(2007, 1, 11), Decimal('-6.5000'), 6, 13),
 ('YV', datetime.date(2007, 1, 12), Decimal('36.7778'), 9, 1),
 ('B6', datetime.date(2007, 1, 12), Decimal('29.4000'), 5, 2),
 ('AA', datetime.date(2007, 1, 12), Decimal('16.3571'), 14, 3),
 ('CO', datetime.date(2007, 1, 12), Decimal('15.7500'), 4, 4),
 ('MQ', datetime.date(2007, 1, 12), Decimal('8.1778'), 45, 5),
 ('XE', datetime.date(2007, 1, 12), Decimal('6.2500'), 12, 6),
 ('WN', datetime.date(2007, 1, 12), Decimal('5.1000'), 30, 7),
 ('US', datetime.date(2007, 1, 12), Decimal('5.0667'), 15, 8),
 ('OH', datetime.date(2007, 1, 12), Decimal('-1.1250'), 16, 9),
 ('9E', datetime.date(2007, 1, 12), Decimal('-1.5000'), 2, 10),
 ('FL', datetime.date(2007, 1, 12), Decimal('-4.5000'), 6, 11),
 ('DL', datetime.date(2007, 1, 12), Decimal('-4.7000'), 10, 12),
 ('NW', datetime.date(2007, 1, 12), Decimal('-4.7500'), 8, 13),
 ('AA', datetime.date(2007, 1, 13), Decimal('29.1000'), 10, 1),
 ('DL', datetime.date(2007, 1, 13), Decimal('4.8571'), 7, 2),
 ('MQ', datetime.date(2007, 1, 13), Decimal('3.1471'), 34, 3),
 ('NW', datetime.date(2007, 1, 13), Decimal('1.6667'), 6, 4),
 ('OH', datetime.date(2007, 1, 13), Decimal('1.6000'), 10, 5),
 ('WN', datetime.date(2007, 1, 13), Decimal('1.0000'), 23, 6),
 ('B6', datetime.date(2007, 1, 13), Decimal('0.6000'), 5, 7),
 ('YV', datetime.date(2007, 1, 13), Decimal('0.5714'), 7, 8),
 ('EV', datetime.date(2007, 1, 13), Decimal('0.0000'), 1, 9),
 ('FL', datetime.date(2007, 1, 13), Decimal('-0.7500'), 4, 10),
 ('US', datetime.date(2007, 1, 13), Decimal('-2.8333'), 6, 11),
 ('CO', datetime.date(2007, 1, 13), Decimal('-3.0000'), 2, 12),
 ('9E', datetime.date(2007, 1, 13), Decimal('-5.0000'), 1, 13),
 ('XE', datetime.date(2007, 1, 13), Decimal('-7.1111'), 9, 14),
 ('CO', datetime.date(2007, 1, 14), Decimal('36.3333'), 3, 1),
 ('B6', datetime.date(2007, 1, 14), Decimal('34.0000'), 5, 2),
 ('XE', datetime.date(2007, 1, 14), Decimal('30.1818'), 11, 3),
 ('OH', datetime.date(2007, 1, 14), Decimal('25.3333'), 12, 4),
 ('MQ', datetime.date(2007, 1, 14), Decimal('19.3784'), 37, 5),
 ('AA', datetime.date(2007, 1, 14), Decimal('12.1000'), 10, 6),
 ('WN', datetime.date(2007, 1, 14), Decimal('7.4286'), 28, 7),
 ('FL', datetime.date(2007, 1, 14), Decimal('6.5000'), 6, 8),
 ('US', datetime.date(2007, 1, 14), Decimal('3.8889'), 9, 9),
 ('YV', datetime.date(2007, 1, 14), Decimal('3.7273'), 11, 10),
 ('9E', datetime.date(2007, 1, 14), Decimal('0.0000'), 2, 11),
 ('NW', datetime.date(2007, 1, 14), Decimal('-3.7500'), 8, 12),
 ('DL', datetime.date(2007, 1, 14), Decimal('-6.7000'), 10, 13),
 ('AA', datetime.date(2007, 1, 15), Decimal('58.6923'), 13, 1),
 ('B6', datetime.date(2007, 1, 15), Decimal('52.8000'), 5, 2),
 ('MQ', datetime.date(2007, 1, 15), Decimal('44.4773'), 44, 3),
 ('XE', datetime.date(2007, 1, 15), Decimal('31.2500'), 12, 4),
 ('CO', datetime.date(2007, 1, 15), Decimal('28.7500'), 4, 5),
 ('WN', datetime.date(2007, 1, 15), Decimal('25.5333'), 30, 6),
 ('YV', datetime.date(2007, 1, 15), Decimal('23.1250'), 8, 7),
 ('OH', datetime.date(2007, 1, 15), Decimal('18.8333'), 12, 8),
 ('US', datetime.date(2007, 1, 15), Decimal('17.5000'), 14, 9),
 ('FL', datetime.date(2007, 1, 15), Decimal('12.1667'), 6, 10),
 ('NW', datetime.date(2007, 1, 15), Decimal('7.6250'), 8, 11),
 ('9E', datetime.date(2007, 1, 15), Decimal('-0.5000'), 2, 12),
 ('DL', datetime.date(2007, 1, 15), Decimal('-3.4000'), 10, 13),
 ('XE', datetime.date(2007, 1, 16), Decimal('29.5556'), 9, 1),
 ('CO', datetime.date(2007, 1, 16), Decimal('22.0000'), 4, 2),
 ('MQ', datetime.date(2007, 1, 16), Decimal('21.8250'), 40, 3),
 ('OH', datetime.date(2007, 1, 16), Decimal('18.0833'), 12, 4),
 ('YV', datetime.date(2007, 1, 16), Decimal('8.2222'), 9, 5),
 ('AA', datetime.date(2007, 1, 16), Decimal('7.9333'), 15, 6),
 ('FL', datetime.date(2007, 1, 16), Decimal('6.6000'), 5, 7),
 ('B6', datetime.date(2007, 1, 16), Decimal('6.0000'), 5, 8),
 ('US', datetime.date(2007, 1, 16), Decimal('2.0000'), 14, 9),
 ('WN', datetime.date(2007, 1, 16), Decimal('1.3000'), 30, 10),
 ('DL', datetime.date(2007, 1, 16), Decimal('-3.5556'), 9, 11),
 ('9E', datetime.date(2007, 1, 16), Decimal('-4.5000'), 2, 12),
 ('NW', datetime.date(2007, 1, 16), Decimal('-5.2500'), 8, 13),
 ('XE', datetime.date(2007, 1, 17), Decimal('33.1000'), 10, 1),
 ('AA', datetime.date(2007, 1, 17), Decimal('32.2857'), 14, 2),
 ('9E', datetime.date(2007, 1, 17), Decimal('14.0000'), 2, 3),
 ('MQ', datetime.date(2007, 1, 17), Decimal('6.6250'), 40, 4),
 ('YV', datetime.date(2007, 1, 17), Decimal('6.5556'), 9, 5),
 ('OH', datetime.date(2007, 1, 17), Decimal('6.2000'), 15, 6),
 ('WN', datetime.date(2007, 1, 17), Decimal('2.0667'), 30, 7),
 ('US', datetime.date(2007, 1, 17), Decimal('1.8571'), 14, 8),
 ('CO', datetime.date(2007, 1, 17), Decimal('-4.7500'), 4, 9),
 ('NW', datetime.date(2007, 1, 17), Decimal('-5.1250'), 8, 10),
 ('FL', datetime.date(2007, 1, 17), Decimal('-6.8000'), 5, 11),
 ('DL', datetime.date(2007, 1, 17), Decimal('-6.9000'), 10, 12),
 ('B6', datetime.date(2007, 1, 17), Decimal('-8.0000'), 5, 13),
 ('DL', datetime.date(2007, 1, 18), Decimal('78.5556'), 9, 1),
 ('AA', datetime.date(2007, 1, 18), Decimal('72.6429'), 14, 2),
 ('MQ', datetime.date(2007, 1, 18), Decimal('50.5833'), 36, 3),
 ('CO', datetime.date(2007, 1, 18), Decimal('48.5000'), 4, 4),
 ('US', datetime.date(2007, 1, 18), Decimal('36.6000'), 15, 5),
 ('FL', datetime.date(2007, 1, 18), Decimal('35.2000'), 5, 6),
 ('OH', datetime.date(2007, 1, 18), Decimal('25.8750'), 16, 7),
 ('WN', datetime.date(2007, 1, 18), Decimal('22.7000'), 30, 8),
 ('B6', datetime.date(2007, 1, 18), Decimal('18.8000'), 5, 9),
 ('XE', datetime.date(2007, 1, 18), Decimal('17.5833'), 12, 10),
 ('YV', datetime.date(2007, 1, 18), Decimal('14.8750'), 8, 11),
 ('NW', datetime.date(2007, 1, 18), Decimal('5.2857'), 7, 12),
 ('9E', datetime.date(2007, 1, 18), Decimal('-5.5000'), 2, 13),
 ('YV', datetime.date(2007, 1, 19), Decimal('27.2222'), 9, 1),
 ('XE', datetime.date(2007, 1, 19), Decimal('26.7500'), 12, 2),
 ('CO', datetime.date(2007, 1, 19), Decimal('23.2500'), 4, 3),
 ('B6', datetime.date(2007, 1, 19), Decimal('18.2000'), 5, 4),
 ('MQ', datetime.date(2007, 1, 19), Decimal('17.5909'), 44, 5),
 ('AA', datetime.date(2007, 1, 19), Decimal('15.4667'), 15, 6),
 ('US', datetime.date(2007, 1, 19), Decimal('7.4000'), 15, 7),
 ('FL', datetime.date(2007, 1, 19), Decimal('6.1667'), 6, 8),
 ('WN', datetime.date(2007, 1, 19), Decimal('2.3333'), 30, 9),
 ('NW', datetime.date(2007, 1, 19), Decimal('2.0000'), 8, 10),
 ('OH', datetime.date(2007, 1, 19), Decimal('1.7692'), 13, 11),
 ('DL', datetime.date(2007, 1, 19), Decimal('-1.7000'), 10, 12),
 ('9E', datetime.date(2007, 1, 19), Decimal('-2.5000'), 2, 13),
 ('XE', datetime.date(2007, 1, 20), Decimal('23.0000'), 9, 1),
 ('B6', datetime.date(2007, 1, 20), Decimal('7.0000'), 5, 2),
 ('MQ', datetime.date(2007, 1, 20), Decimal('5.0000'), 35, 3),
 ('US', datetime.date(2007, 1, 20), Decimal('4.6667'), 6, 4),
 ('OH', datetime.date(2007, 1, 20), Decimal('4.2000'), 10, 5),
 ('AA', datetime.date(2007, 1, 20), Decimal('2.0769'), 13, 6),
 ('WN', datetime.date(2007, 1, 20), Decimal('0.3478'), 23, 7),
 ('YV', datetime.date(2007, 1, 20), Decimal('-0.8750'), 8, 8),
 ('EV', datetime.date(2007, 1, 20), Decimal('-4.0000'), 1, 9),
 ('9E', datetime.date(2007, 1, 20), Decimal('-5.0000'), 1, 10),
 ('CO', datetime.date(2007, 1, 20), Decimal('-6.0000'), 2, 11),
 ('FL', datetime.date(2007, 1, 20), Decimal('-6.2500'), 4, 12),
 ('DL', datetime.date(2007, 1, 20), Decimal('-6.5714'), 7, 13),
 ('NW', datetime.date(2007, 1, 20), Decimal('-8.1667'), 6, 14),
 ('NW', datetime.date(2007, 1, 21), Decimal('140.5000'), 8, 1),
 ('WN', datetime.date(2007, 1, 21), Decimal('14.5714'), 28, 2),
 ('MQ', datetime.date(2007, 1, 21), Decimal('10.7895'), 38, 3),
 ('FL', datetime.date(2007, 1, 21), Decimal('9.3333'), 6, 4),
 ('OH', datetime.date(2007, 1, 21), Decimal('7.3636'), 11, 5),
 ('9E', datetime.date(2007, 1, 21), Decimal('5.5000'), 2, 6),
 ('B6', datetime.date(2007, 1, 21), Decimal('5.0000'), 5, 7),
 ('AA', datetime.date(2007, 1, 21), Decimal('4.8462'), 13, 8),
 ('CO', datetime.date(2007, 1, 21), Decimal('2.6667'), 3, 9),
 ('US', datetime.date(2007, 1, 21), Decimal('1.5556'), 9, 10),
 ('XE', datetime.date(2007, 1, 21), Decimal('0.3636'), 11, 11),
 ('YV', datetime.date(2007, 1, 21), Decimal('-0.5714'), 7, 12),
 ('DL', datetime.date(2007, 1, 21), Decimal('-0.8000'), 10, 13),
 ('YV', datetime.date(2007, 1, 22), Decimal('30.8000'), 5, 1),
 ('US', datetime.date(2007, 1, 22), Decimal('29.8333'), 12, 2),
 ('WN', datetime.date(2007, 1, 22), Decimal('20.8667'), 30, 3),
 ('OH', datetime.date(2007, 1, 22), Decimal('17.0000'), 15, 4),
 ('MQ', datetime.date(2007, 1, 22), Decimal('11.3256'), 43, 5),
 ('AA', datetime.date(2007, 1, 22), Decimal('10.7333'), 15, 6),
 ('XE', datetime.date(2007, 1, 22), Decimal('6.5000'), 12, 7),
 ('FL', datetime.date(2007, 1, 22), Decimal('2.8333'), 6, 8),
 ('CO', datetime.date(2007, 1, 22), Decimal('0.7500'), 4, 9),
 ('B6', datetime.date(2007, 1, 22), Decimal('-0.2000'), 5, 10),
 ('NW', datetime.date(2007, 1, 22), Decimal('-0.8750'), 8, 11),
 ('DL', datetime.date(2007, 1, 22), Decimal('-3.8889'), 9, 12),
 ('9E', datetime.date(2007, 1, 22), Decimal('-7.5000'), 2, 13),
 ('YV', datetime.date(2007, 1, 23), Decimal('38.7778'), 9, 1),
 ('MQ', datetime.date(2007, 1, 23), Decimal('15.1778'), 45, 2),
 ('AA', datetime.date(2007, 1, 23), Decimal('4.6000'), 15, 3),
 ('WN', datetime.date(2007, 1, 23), Decimal('1.6000'), 30, 4),
 ('OH', datetime.date(2007, 1, 23), Decimal('0.6923'), 13, 5),
 ('US', datetime.date(2007, 1, 23), Decimal('-1.0769'), 13, 6),
 ('9E', datetime.date(2007, 1, 23), Decimal('-1.5000'), 2, 7),
 ('NW', datetime.date(2007, 1, 23), Decimal('-1.7500'), 8, 8),
 ('XE', datetime.date(2007, 1, 23), Decimal('-2.3636'), 11, 9),
 ('B6', datetime.date(2007, 1, 23), Decimal('-3.8000'), 5, 10),
 ('DL', datetime.date(2007, 1, 23), Decimal('-5.3333'), 9, 11),
 ('FL', datetime.date(2007, 1, 23), Decimal('-5.6000'), 5, 12),
 ('CO', datetime.date(2007, 1, 23), Decimal('-7.5000'), 4, 13),
 ('FL', datetime.date(2007, 1, 24), Decimal('23.0000'), 5, 1),
 ('YV', datetime.date(2007, 1, 24), Decimal('9.7778'), 9, 2),
 ('DL', datetime.date(2007, 1, 24), Decimal('6.7000'), 10, 3),
 ('MQ', datetime.date(2007, 1, 24), Decimal('6.3696'), 46, 4),
 ('NW', datetime.date(2007, 1, 24), Decimal('1.7500'), 8, 5),
 ('XE', datetime.date(2007, 1, 24), Decimal('-0.3000'), 10, 6),
 ('AA', datetime.date(2007, 1, 24), Decimal('-1.6667'), 15, 7),
 ('OH', datetime.date(2007, 1, 24), Decimal('-1.8000'), 15, 8),
 ('WN', datetime.date(2007, 1, 24), Decimal('-1.9667'), 30, 9),
 ('US', datetime.date(2007, 1, 24), Decimal('-2.2857'), 14, 10),

* Okay, so in the above query we now see how to **RANK()** carriers.  However, there is a problem--we're still ranking carriers with fewer than 5 flights in a day...

In [76]:
%%sql

WITH RDU_F AS
(
SELECT   *,
         CASE
         WHEN DepTime < 60 THEN
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',DepTime), '%Y %c %e %i')
         ELSE
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',SUBSTR(DepTime,1,LENGTH(DepTime)-2),' ',SUBSTR(DepTime,-2)), '%Y %c %e %k %i')
         END as DepTS
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
),
AVG_DEL AS
(
SELECT   UniqueCarrier,
         DATE(DepTS) AS Date_Col,
         AVG(DepDelay) AS AD,
         COUNT(*) AS Num_Flights
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1
GROUP BY UniqueCarrier,
         DATE(DepTS)
)
SELECT   *,
         RANK() OVER(PARTITION BY Date_Col
                     ORDER BY AD DESC) AS Delay_Rank
FROM     AVG_DEL
WHERE    Num_Flights >= 5
ORDER BY Date_Col,
         Delay_Rank
LIMIT    2000;

2000 rows affected.

[('NW', datetime.date(2007, 1, 1), Decimal('55.0000'), 9, 1),
 ('YV', datetime.date(2007, 1, 1), Decimal('54.4444'), 9, 2),
 ('MQ', datetime.date(2007, 1, 1), Decimal('39.5385'), 39, 3),
 ('AA', datetime.date(2007, 1, 1), Decimal('35.0000'), 15, 4),
 ('US', datetime.date(2007, 1, 1), Decimal('32.0667'), 15, 5),
 ('XE', datetime.date(2007, 1, 1), Decimal('30.0714'), 14, 6),
 ('WN', datetime.date(2007, 1, 1), Decimal('19.1786'), 28, 7),
 ('OH', datetime.date(2007, 1, 1), Decimal('11.7000'), 10, 8),
 ('FL', datetime.date(2007, 1, 1), Decimal('8.6000'), 5, 9),
 ('DL', datetime.date(2007, 1, 1), Decimal('-1.7500'), 8, 10),
 ('OH', datetime.date(2007, 1, 2), Decimal('20.2143'), 14, 1),
 ('AA', datetime.date(2007, 1, 2), Decimal('16.0000'), 14, 2),
 ('MQ', datetime.date(2007, 1, 2), Decimal('13.7826'), 46, 3),
 ('XE', datetime.date(2007, 1, 2), Decimal('8.5000'), 16, 4),
 ('B6', datetime.date(2007, 1, 2), Decimal('8.4000'), 5, 5),
 ('WN', datetime.date(2007, 1, 2), Decimal('6.6000'), 30, 6),
 ('YV', datetime.date(2007, 1, 2), Decimal('6.1818'), 11, 7),
 ('US', datetime.date(2007, 1, 2), Decimal('5.8750'), 16, 8),
 ('FL', datetime.date(2007, 1, 2), Decimal('5.5000'), 6, 9),
 ('NW', datetime.date(2007, 1, 2), Decimal('4.7500'), 8, 10),
 ('DL', datetime.date(2007, 1, 2), Decimal('-1.4444'), 9, 11),
 ('AA', datetime.date(2007, 1, 3), Decimal('35.6000'), 15, 1),
 ('OH', datetime.date(2007, 1, 3), Decimal('18.1250'), 16, 2),
 ('YV', datetime.date(2007, 1, 3), Decimal('11.5833'), 12, 3),
 ('US', datetime.date(2007, 1, 3), Decimal('11.2500'), 16, 4),
 ('B6', datetime.date(2007, 1, 3), Decimal('11.2000'), 5, 5),
 ('XE', datetime.date(2007, 1, 3), Decimal('10.1875'), 16, 6),
 ('MQ', datetime.date(2007, 1, 3), Decimal('5.1957'), 46, 7),
 ('NW', datetime.date(2007, 1, 3), Decimal('4.0000'), 8, 8),
 ('WN', datetime.date(2007, 1, 3), Decimal('2.5667'), 30, 9),
 ('FL', datetime.date(2007, 1, 3), Decimal('0.1667'), 6, 10),
 ('DL', datetime.date(2007, 1, 3), Decimal('-0.8889'), 9, 11),
 ('YV', datetime.date(2007, 1, 4), Decimal('43.6667'), 12, 1),
 ('AA', datetime.date(2007, 1, 4), Decimal('19.2000'), 15, 2),
 ('FL', datetime.date(2007, 1, 4), Decimal('7.6667'), 6, 3),
 ('WN', datetime.date(2007, 1, 4), Decimal('5.1000'), 30, 4),
 ('NW', datetime.date(2007, 1, 4), Decimal('2.6250'), 8, 5),
 ('XE', datetime.date(2007, 1, 4), Decimal('2.5000'), 16, 6),
 ('MQ', datetime.date(2007, 1, 4), Decimal('0.3913'), 46, 7),
 ('US', datetime.date(2007, 1, 4), Decimal('-0.3750'), 16, 8),
 ('DL', datetime.date(2007, 1, 4), Decimal('-2.1250'), 8, 9),
 ('OH', datetime.date(2007, 1, 4), Decimal('-2.3125'), 16, 10),
 ('B6', datetime.date(2007, 1, 4), Decimal('-9.0000'), 5, 11),
 ('B6', datetime.date(2007, 1, 5), Decimal('63.2000'), 5, 1),
 ('DL', datetime.date(2007, 1, 5), Decimal('25.5000'), 8, 2),
 ('WN', datetime.date(2007, 1, 5), Decimal('22.4667'), 30, 3),
 ('US', datetime.date(2007, 1, 5), Decimal('18.4667'), 15, 4),
 ('XE', datetime.date(2007, 1, 5), Decimal('16.4375'), 16, 5),
 ('YV', datetime.date(2007, 1, 5), Decimal('16.4167'), 12, 6),
 ('MQ', datetime.date(2007, 1, 5), Decimal('14.8372'), 43, 7),
 ('OH', datetime.date(2007, 1, 5), Decimal('5.3333'), 15, 8),
 ('AA', datetime.date(2007, 1, 5), Decimal('3.7333'), 15, 9),
 ('NW', datetime.date(2007, 1, 5), Decimal('2.4286'), 7, 10),
 ('FL', datetime.date(2007, 1, 5), Decimal('-3.4000'), 5, 11),
 ('OH', datetime.date(2007, 1, 6), Decimal('23.7000'), 10, 1),
 ('XE', datetime.date(2007, 1, 6), Decimal('4.5000'), 10, 2),
 ('YV', datetime.date(2007, 1, 6), Decimal('3.9091'), 11, 3),
 ('MQ', datetime.date(2007, 1, 6), Decimal('3.5000'), 34, 4),
 ('NW', datetime.date(2007, 1, 6), Decimal('2.6000'), 5, 5),
 ('B6', datetime.date(2007, 1, 6), Decimal('2.0000'), 5, 6),
 ('US', datetime.date(2007, 1, 6), Decimal('1.8571'), 7, 7),
 ('WN', datetime.date(2007, 1, 6), Decimal('1.5652'), 23, 8),
 ('AA', datetime.date(2007, 1, 6), Decimal('0.3571'), 14, 9),
 ('DL', datetime.date(2007, 1, 6), Decimal('-0.7500'), 8, 10),
 ('FL', datetime.date(2007, 1, 7), Decimal('21.0000'), 6, 1),
 ('WN', datetime.date(2007, 1, 7), Decimal('17.1071'), 28, 2),
 ('AA', datetime.date(2007, 1, 7), Decimal('11.2857'), 14, 3),
 ('NW', datetime.date(2007, 1, 7), Decimal('2.8750'), 8, 4),
 ('YV', datetime.date(2007, 1, 7), Decimal('2.2143'), 14, 5),
 ('OH', datetime.date(2007, 1, 7), Decimal('1.9231'), 13, 6),
 ('B6', datetime.date(2007, 1, 7), Decimal('0.0000'), 5, 7),
 ('US', datetime.date(2007, 1, 7), Decimal('-0.3333'), 9, 8),
 ('MQ', datetime.date(2007, 1, 7), Decimal('-0.5128'), 39, 9),
 ('DL', datetime.date(2007, 1, 7), Decimal('-3.0000'), 10, 10),
 ('XE', datetime.date(2007, 1, 7), Decimal('-3.0667'), 15, 11),
 ('XE', datetime.date(2007, 1, 8), Decimal('51.0000'), 12, 1),
 ('B6', datetime.date(2007, 1, 8), Decimal('16.4000'), 5, 2),
 ('MQ', datetime.date(2007, 1, 8), Decimal('14.6585'), 41, 3),
 ('US', datetime.date(2007, 1, 8), Decimal('13.5000'), 14, 4),
 ('OH', datetime.date(2007, 1, 8), Decimal('12.4286'), 14, 5),
 ('NW', datetime.date(2007, 1, 8), Decimal('3.5000'), 8, 6),
 ('WN', datetime.date(2007, 1, 8), Decimal('3.1333'), 30, 7),
 ('YV', datetime.date(2007, 1, 8), Decimal('2.5833'), 12, 8),
 ('DL', datetime.date(2007, 1, 8), Decimal('0.2000'), 10, 9),
 ('AA', datetime.date(2007, 1, 8), Decimal('0.2000'), 15, 9),
 ('FL', datetime.date(2007, 1, 8), Decimal('-5.1667'), 6, 11),
 ('YV', datetime.date(2007, 1, 9), Decimal('20.0000'), 7, 1),
 ('XE', datetime.date(2007, 1, 9), Decimal('9.1818'), 11, 2),
 ('AA', datetime.date(2007, 1, 9), Decimal('8.9333'), 15, 3),
 ('US', datetime.date(2007, 1, 9), Decimal('4.0769'), 13, 4),
 ('WN', datetime.date(2007, 1, 9), Decimal('0.0333'), 30, 5),
 ('MQ', datetime.date(2007, 1, 9), Decimal('-0.6957'), 46, 6),
 ('OH', datetime.date(2007, 1, 9), Decimal('-1.6154'), 13, 7),
 ('FL', datetime.date(2007, 1, 9), Decimal('-5.2000'), 5, 8),
 ('DL', datetime.date(2007, 1, 9), Decimal('-6.0000'), 8, 9),
 ('NW', datetime.date(2007, 1, 9), Decimal('-6.1250'), 8, 10),
 ('B6', datetime.date(2007, 1, 9), Decimal('-7.6000'), 5, 11),
 ('YV', datetime.date(2007, 1, 10), Decimal('7.3333'), 9, 1),
 ('MQ', datetime.date(2007, 1, 10), Decimal('4.5111'), 45, 2),
 ('XE', datetime.date(2007, 1, 10), Decimal('1.6000'), 10, 3),
 ('B6', datetime.date(2007, 1, 10), Decimal('1.4000'), 5, 4),
 ('NW', datetime.date(2007, 1, 10), Decimal('0.3750'), 8, 5),
 ('WN', datetime.date(2007, 1, 10), Decimal('-2.1333'), 30, 6),
 ('OH', datetime.date(2007, 1, 10), Decimal('-2.4000'), 15, 7),
 ('US', datetime.date(2007, 1, 10), Decimal('-2.8571'), 14, 8),
 ('AA', datetime.date(2007, 1, 10), Decimal('-4.1333'), 15, 9),
 ('FL', datetime.date(2007, 1, 10), Decimal('-4.8000'), 5, 10),
 ('DL', datetime.date(2007, 1, 10), Decimal('-5.0000'), 10, 11),
 ('YV', datetime.date(2007, 1, 11), Decimal('30.3333'), 9, 1),
 ('AA', datetime.date(2007, 1, 11), Decimal('8.2000'), 15, 2),
 ('MQ', datetime.date(2007, 1, 11), Decimal('7.6667'), 45, 3),
 ('DL', datetime.date(2007, 1, 11), Decimal('3.5000'), 10, 4),
 ('WN', datetime.date(2007, 1, 11), Decimal('1.7000'), 30, 5),
 ('US', datetime.date(2007, 1, 11), Decimal('0.1333'), 15, 6),
 ('OH', datetime.date(2007, 1, 11), Decimal('-0.1875'), 16, 7),
 ('NW', datetime.date(2007, 1, 11), Decimal('-2.3750'), 8, 8),
 ('XE', datetime.date(2007, 1, 11), Decimal('-4.8333'), 12, 9),
 ('B6', datetime.date(2007, 1, 11), Decimal('-5.2000'), 5, 10),
 ('FL', datetime.date(2007, 1, 11), Decimal('-6.5000'), 6, 11),
 ('YV', datetime.date(2007, 1, 12), Decimal('36.7778'), 9, 1),
 ('B6', datetime.date(2007, 1, 12), Decimal('29.4000'), 5, 2),
 ('AA', datetime.date(2007, 1, 12), Decimal('16.3571'), 14, 3),
 ('MQ', datetime.date(2007, 1, 12), Decimal('8.1778'), 45, 4),
 ('XE', datetime.date(2007, 1, 12), Decimal('6.2500'), 12, 5),
 ('WN', datetime.date(2007, 1, 12), Decimal('5.1000'), 30, 6),
 ('US', datetime.date(2007, 1, 12), Decimal('5.0667'), 15, 7),
 ('OH', datetime.date(2007, 1, 12), Decimal('-1.1250'), 16, 8),
 ('FL', datetime.date(2007, 1, 12), Decimal('-4.5000'), 6, 9),
 ('DL', datetime.date(2007, 1, 12), Decimal('-4.7000'), 10, 10),
 ('NW', datetime.date(2007, 1, 12), Decimal('-4.7500'), 8, 11),
 ('AA', datetime.date(2007, 1, 13), Decimal('29.1000'), 10, 1),
 ('DL', datetime.date(2007, 1, 13), Decimal('4.8571'), 7, 2),
 ('MQ', datetime.date(2007, 1, 13), Decimal('3.1471'), 34, 3),
 ('NW', datetime.date(2007, 1, 13), Decimal('1.6667'), 6, 4),
 ('OH', datetime.date(2007, 1, 13), Decimal('1.6000'), 10, 5),
 ('WN', datetime.date(2007, 1, 13), Decimal('1.0000'), 23, 6),
 ('B6', datetime.date(2007, 1, 13), Decimal('0.6000'), 5, 7),
 ('YV', datetime.date(2007, 1, 13), Decimal('0.5714'), 7, 8),
 ('US', datetime.date(2007, 1, 13), Decimal('-2.8333'), 6, 9),
 ('XE', datetime.date(2007, 1, 13), Decimal('-7.1111'), 9, 10),
 ('B6', datetime.date(2007, 1, 14), Decimal('34.0000'), 5, 1),
 ('XE', datetime.date(2007, 1, 14), Decimal('30.1818'), 11, 2),
 ('OH', datetime.date(2007, 1, 14), Decimal('25.3333'), 12, 3),
 ('MQ', datetime.date(2007, 1, 14), Decimal('19.3784'), 37, 4),
 ('AA', datetime.date(2007, 1, 14), Decimal('12.1000'), 10, 5),
 ('WN', datetime.date(2007, 1, 14), Decimal('7.4286'), 28, 6),
 ('FL', datetime.date(2007, 1, 14), Decimal('6.5000'), 6, 7),
 ('US', datetime.date(2007, 1, 14), Decimal('3.8889'), 9, 8),
 ('YV', datetime.date(2007, 1, 14), Decimal('3.7273'), 11, 9),
 ('NW', datetime.date(2007, 1, 14), Decimal('-3.7500'), 8, 10),
 ('DL', datetime.date(2007, 1, 14), Decimal('-6.7000'), 10, 11),
 ('AA', datetime.date(2007, 1, 15), Decimal('58.6923'), 13, 1),
 ('B6', datetime.date(2007, 1, 15), Decimal('52.8000'), 5, 2),
 ('MQ', datetime.date(2007, 1, 15), Decimal('44.4773'), 44, 3),
 ('XE', datetime.date(2007, 1, 15), Decimal('31.2500'), 12, 4),
 ('WN', datetime.date(2007, 1, 15), Decimal('25.5333'), 30, 5),
 ('YV', datetime.date(2007, 1, 15), Decimal('23.1250'), 8, 6),
 ('OH', datetime.date(2007, 1, 15), Decimal('18.8333'), 12, 7),
 ('US', datetime.date(2007, 1, 15), Decimal('17.5000'), 14, 8),
 ('FL', datetime.date(2007, 1, 15), Decimal('12.1667'), 6, 9),
 ('NW', datetime.date(2007, 1, 15), Decimal('7.6250'), 8, 10),
 ('DL', datetime.date(2007, 1, 15), Decimal('-3.4000'), 10, 11),
 ('XE', datetime.date(2007, 1, 16), Decimal('29.5556'), 9, 1),
 ('MQ', datetime.date(2007, 1, 16), Decimal('21.8250'), 40, 2),
 ('OH', datetime.date(2007, 1, 16), Decimal('18.0833'), 12, 3),
 ('YV', datetime.date(2007, 1, 16), Decimal('8.2222'), 9, 4),
 ('AA', datetime.date(2007, 1, 16), Decimal('7.9333'), 15, 5),
 ('FL', datetime.date(2007, 1, 16), Decimal('6.6000'), 5, 6),
 ('B6', datetime.date(2007, 1, 16), Decimal('6.0000'), 5, 7),
 ('US', datetime.date(2007, 1, 16), Decimal('2.0000'), 14, 8),
 ('WN', datetime.date(2007, 1, 16), Decimal('1.3000'), 30, 9),
 ('DL', datetime.date(2007, 1, 16), Decimal('-3.5556'), 9, 10),
 ('NW', datetime.date(2007, 1, 16), Decimal('-5.2500'), 8, 11),
 ('XE', datetime.date(2007, 1, 17), Decimal('33.1000'), 10, 1),
 ('AA', datetime.date(2007, 1, 17), Decimal('32.2857'), 14, 2),
 ('MQ', datetime.date(2007, 1, 17), Decimal('6.6250'), 40, 3),
 ('YV', datetime.date(2007, 1, 17), Decimal('6.5556'), 9, 4),
 ('OH', datetime.date(2007, 1, 17), Decimal('6.2000'), 15, 5),
 ('WN', datetime.date(2007, 1, 17), Decimal('2.0667'), 30, 6),
 ('US', datetime.date(2007, 1, 17), Decimal('1.8571'), 14, 7),
 ('NW', datetime.date(2007, 1, 17), Decimal('-5.1250'), 8, 8),
 ('FL', datetime.date(2007, 1, 17), Decimal('-6.8000'), 5, 9),
 ('DL', datetime.date(2007, 1, 17), Decimal('-6.9000'), 10, 10),
 ('B6', datetime.date(2007, 1, 17), Decimal('-8.0000'), 5, 11),
 ('DL', datetime.date(2007, 1, 18), Decimal('78.5556'), 9, 1),
 ('AA', datetime.date(2007, 1, 18), Decimal('72.6429'), 14, 2),
 ('MQ', datetime.date(2007, 1, 18), Decimal('50.5833'), 36, 3),
 ('US', datetime.date(2007, 1, 18), Decimal('36.6000'), 15, 4),
 ('FL', datetime.date(2007, 1, 18), Decimal('35.2000'), 5, 5),
 ('OH', datetime.date(2007, 1, 18), Decimal('25.8750'), 16, 6),
 ('WN', datetime.date(2007, 1, 18), Decimal('22.7000'), 30, 7),
 ('B6', datetime.date(2007, 1, 18), Decimal('18.8000'), 5, 8),
 ('XE', datetime.date(2007, 1, 18), Decimal('17.5833'), 12, 9),
 ('YV', datetime.date(2007, 1, 18), Decimal('14.8750'), 8, 10),
 ('NW', datetime.date(2007, 1, 18), Decimal('5.2857'), 7, 11),
 ('YV', datetime.date(2007, 1, 19), Decimal('27.2222'), 9, 1),
 ('XE', datetime.date(2007, 1, 19), Decimal('26.7500'), 12, 2),
 ('B6', datetime.date(2007, 1, 19), Decimal('18.2000'), 5, 3),
 ('MQ', datetime.date(2007, 1, 19), Decimal('17.5909'), 44, 4),
 ('AA', datetime.date(2007, 1, 19), Decimal('15.4667'), 15, 5),
 ('US', datetime.date(2007, 1, 19), Decimal('7.4000'), 15, 6),
 ('FL', datetime.date(2007, 1, 19), Decimal('6.1667'), 6, 7),
 ('WN', datetime.date(2007, 1, 19), Decimal('2.3333'), 30, 8),
 ('NW', datetime.date(2007, 1, 19), Decimal('2.0000'), 8, 9),
 ('OH', datetime.date(2007, 1, 19), Decimal('1.7692'), 13, 10),
 ('DL', datetime.date(2007, 1, 19), Decimal('-1.7000'), 10, 11),
 ('XE', datetime.date(2007, 1, 20), Decimal('23.0000'), 9, 1),
 ('B6', datetime.date(2007, 1, 20), Decimal('7.0000'), 5, 2),
 ('MQ', datetime.date(2007, 1, 20), Decimal('5.0000'), 35, 3),
 ('US', datetime.date(2007, 1, 20), Decimal('4.6667'), 6, 4),
 ('OH', datetime.date(2007, 1, 20), Decimal('4.2000'), 10, 5),
 ('AA', datetime.date(2007, 1, 20), Decimal('2.0769'), 13, 6),
 ('WN', datetime.date(2007, 1, 20), Decimal('0.3478'), 23, 7),
 ('YV', datetime.date(2007, 1, 20), Decimal('-0.8750'), 8, 8),
 ('DL', datetime.date(2007, 1, 20), Decimal('-6.5714'), 7, 9),
 ('NW', datetime.date(2007, 1, 20), Decimal('-8.1667'), 6, 10),
 ('NW', datetime.date(2007, 1, 21), Decimal('140.5000'), 8, 1),
 ('WN', datetime.date(2007, 1, 21), Decimal('14.5714'), 28, 2),
 ('MQ', datetime.date(2007, 1, 21), Decimal('10.7895'), 38, 3),
 ('FL', datetime.date(2007, 1, 21), Decimal('9.3333'), 6, 4),
 ('OH', datetime.date(2007, 1, 21), Decimal('7.3636'), 11, 5),
 ('B6', datetime.date(2007, 1, 21), Decimal('5.0000'), 5, 6),
 ('AA', datetime.date(2007, 1, 21), Decimal('4.8462'), 13, 7),
 ('US', datetime.date(2007, 1, 21), Decimal('1.5556'), 9, 8),
 ('XE', datetime.date(2007, 1, 21), Decimal('0.3636'), 11, 9),
 ('YV', datetime.date(2007, 1, 21), Decimal('-0.5714'), 7, 10),
 ('DL', datetime.date(2007, 1, 21), Decimal('-0.8000'), 10, 11),
 ('YV', datetime.date(2007, 1, 22), Decimal('30.8000'), 5, 1),
 ('US', datetime.date(2007, 1, 22), Decimal('29.8333'), 12, 2),
 ('WN', datetime.date(2007, 1, 22), Decimal('20.8667'), 30, 3),
 ('OH', datetime.date(2007, 1, 22), Decimal('17.0000'), 15, 4),
 ('MQ', datetime.date(2007, 1, 22), Decimal('11.3256'), 43, 5),
 ('AA', datetime.date(2007, 1, 22), Decimal('10.7333'), 15, 6),
 ('XE', datetime.date(2007, 1, 22), Decimal('6.5000'), 12, 7),
 ('FL', datetime.date(2007, 1, 22), Decimal('2.8333'), 6, 8),
 ('B6', datetime.date(2007, 1, 22), Decimal('-0.2000'), 5, 9),
 ('NW', datetime.date(2007, 1, 22), Decimal('-0.8750'), 8, 10),
 ('DL', datetime.date(2007, 1, 22), Decimal('-3.8889'), 9, 11),
 ('YV', datetime.date(2007, 1, 23), Decimal('38.7778'), 9, 1),
 ('MQ', datetime.date(2007, 1, 23), Decimal('15.1778'), 45, 2),
 ('AA', datetime.date(2007, 1, 23), Decimal('4.6000'), 15, 3),
 ('WN', datetime.date(2007, 1, 23), Decimal('1.6000'), 30, 4),
 ('OH', datetime.date(2007, 1, 23), Decimal('0.6923'), 13, 5),
 ('US', datetime.date(2007, 1, 23), Decimal('-1.0769'), 13, 6),
 ('NW', datetime.date(2007, 1, 23), Decimal('-1.7500'), 8, 7),
 ('XE', datetime.date(2007, 1, 23), Decimal('-2.3636'), 11, 8),
 ('B6', datetime.date(2007, 1, 23), Decimal('-3.8000'), 5, 9),
 ('DL', datetime.date(2007, 1, 23), Decimal('-5.3333'), 9, 10),
 ('FL', datetime.date(2007, 1, 23), Decimal('-5.6000'), 5, 11),
 ('FL', datetime.date(2007, 1, 24), Decimal('23.0000'), 5, 1),
 ('YV', datetime.date(2007, 1, 24), Decimal('9.7778'), 9, 2),
 ('DL', datetime.date(2007, 1, 24), Decimal('6.7000'), 10, 3),
 ('MQ', datetime.date(2007, 1, 24), Decimal('6.3696'), 46, 4),
 ('NW', datetime.date(2007, 1, 24), Decimal('1.7500'), 8, 5),
 ('XE', datetime.date(2007, 1, 24), Decimal('-0.3000'), 10, 6),
 ('AA', datetime.date(2007, 1, 24), Decimal('-1.6667'), 15, 7),
 ('OH', datetime.date(2007, 1, 24), Decimal('-1.8000'), 15, 8),
 ('WN', datetime.date(2007, 1, 24), Decimal('-1.9667'), 30, 9),
 ('US', datetime.date(2007, 1, 24), Decimal('-2.2857'), 14, 10),
 ('B6', datetime.date(2007, 1, 24), Decimal('-4.0000'), 5, 11),
 ('B6', datetime.date(2007, 1, 25), Decimal('33.2000'), 5, 1),
 ('AA', datetime.date(2007, 1, 25), Decimal('31.2000'), 15, 2),
 ('YV', datetime.date(2007, 1, 25), Decimal('25.0000'), 8, 3),
 ('MQ', datetime.date(2007, 1, 25), Decimal('15.4444'), 45, 4),
 ('OH', datetime.date(2007, 1, 25), Decimal('12.4000'), 15, 5),
 ('US', datetime.date(2007, 1, 25), Decimal('9.9333'), 15, 6),
 ('XE', datetime.date(2007, 1, 25), Decimal('7.4167'), 12, 7),
 ('WN', datetime.date(2007, 1, 25), Decimal('5.2333'), 30, 8),
 ('NW', datetime.date(2007, 1, 25), Decimal('-3.3750'), 8, 9),
 ('DL', datetime.date(2007, 1, 25), Decimal('-3.6000'), 10, 10),
 ('FL', datetime.date(2007, 1, 25), Decimal('-3.8333'), 6, 11),
 ('OH', datetime.date(2007, 1, 26), Decimal('10.1875'), 16, 1),
 ('XE', datetime.date(2007, 1, 26), Decimal('9.0833'), 12, 2),
 ('MQ', datetime.date(2007, 1, 26), Decimal('2.8889'), 45, 3),
 ('WN', datetime.date(2007, 1, 26), Decimal('2.6000'), 30, 4),
 ('US', datetime.date(2007, 1, 26), Decimal('0.8000'), 15, 5),
 ('YV', datetime.date(2007, 1, 26), Decimal('0.0000'), 8, 6),
 ('NW', datetime.date(2007, 1, 26), Decimal('-0.3750'), 8, 7),
 ('AA', datetime.date(2007, 1, 26), Decimal('-0.9333'), 15, 8),
 ('FL', datetime.date(2007, 1, 26), Decimal('-2.6667'), 6, 9),
 ('DL', datetime.date(2007, 1, 26), Decimal('-3.5000'), 10, 10),
 ('B6', datetime.date(2007, 1, 26), Decimal('-3.8000'), 5, 11),
 ('NW', datetime.date(2007, 1, 27), Decimal('16.0000'), 6, 1),
 ('MQ', datetime.date(2007, 1, 27), Decimal('4.6857'), 35, 2),
 ('OH', datetime.date(2007, 1, 27), Decimal('-2.0000'), 9, 3),
 ('WN', datetime.date(2007, 1, 27), Decimal('-2.6087'), 23, 4),
 ('US', datetime.date(2007, 1, 27), Decimal('-3.6667'), 6, 5),
 ('XE', datetime.date(2007, 1, 27), Decimal('-4.2500'), 8, 6),
 ('AA', datetime.date(2007, 1, 27), Decimal('-4.4286'), 14, 7),
 ('YV', datetime.date(2007, 1, 27), Decimal('-5.0000'), 8, 8),
 ('B6', datetime.date(2007, 1, 27), Decimal('-7.2000'), 5, 9),
 ('DL', datetime.date(2007, 1, 27), Decimal('-7.2857'), 7, 10),
 ('MQ', datetime.date(2007, 1, 28), Decimal('19.2500'), 40, 1),
 ('YV', datetime.date(2007, 1, 28), Decimal('18.8000'), 10, 2),
 ('AA', datetime.date(2007, 1, 28), Decimal('18.5000'), 14, 3),
 ('B6', datetime.date(2007, 1, 28), Decimal('15.6000'), 5, 4),
 ('WN', datetime.date(2007, 1, 28), Decimal('13.8929'), 28, 5),
 ('US', datetime.date(2007, 1, 28), Decimal('4.4444'), 9, 6),
 ('NW', datetime.date(2007, 1, 28), Decimal('3.1250'), 8, 7),
 ('OH', datetime.date(2007, 1, 28), Decimal('0.6154'), 13, 8),
 ('XE', datetime.date(2007, 1, 28), Decimal('-2.0909'), 11, 9),
 ('DL', datetime.date(2007, 1, 28), Decimal('-5.9000'), 10, 10),
 ('FL', datetime.date(2007, 1, 28), Decimal('-8.5000'), 6, 11),
 ('YV', datetime.date(2007, 1, 29), Decimal('37.3333'), 9, 1),
 ('MQ', datetime.date(2007, 1, 29), Decimal('11.8222'), 45, 2),
 ('XE', datetime.date(2007, 1, 29), Decimal('11.0000'), 12, 3),
 ('NW', datetime.date(2007, 1, 29), Decimal('8.0000'), 8, 4),
 ('OH', datetime.date(2007, 1, 29), Decimal('5.3750'), 16, 5),
 ('AA', datetime.date(2007, 1, 29), Decimal('5.3333'), 15, 6),
 ('US', datetime.date(2007, 1, 29), Decimal('5.0000'), 14, 7),
 ('WN', datetime.date(2007, 1, 29), Decimal('1.7333'), 30, 8),
 ('B6', datetime.date(2007, 1, 29), Decimal('0.4000'), 5, 9),
 ('FL', datetime.date(2007, 1, 29), Decimal('-5.5000'), 6, 10),
 ('DL', datetime.date(2007, 1, 29), Decimal('-6.0000'), 10, 11),
 ('B6', datetime.date(2007, 1, 30), Decimal('58.4000'), 5, 1),
 ('YV', datetime.date(2007, 1, 30), Decimal('18.6667'), 9, 2),
 ('OH', datetime.date(2007, 1, 30), Decimal('8.5833'), 12, 3),

* Problem with the above query is that if a carrier has fewer than 5 flights in a day, it now isn't given a ranking at all...

In [8]:
%%sql

WITH RDU_F AS
(
SELECT   *,
         CASE
         WHEN DepTime < 60 THEN
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',DepTime), '%Y %c %e %i')
         ELSE
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',SUBSTR(DepTime,1,LENGTH(DepTime)-2),' ',SUBSTR(DepTime,-2)), '%Y %c %e %k %i')
         END as DepTS
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
),
AVG_DEL AS
(
SELECT   UniqueCarrier,
         DATE(DepTS) AS Date_Col,
         AVG(DepDelay) AS AD,
         COUNT(*) AS Num_Flights
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1
GROUP BY UniqueCarrier,
         DATE(DepTS)
)
SELECT   *,
         CASE
         WHEN Num_Flights >= 5 
         THEN RANK() OVER(PARTITION BY Date_Col
                          ORDER BY AD DESC)
         ELSE COUNT(*) OVER(PARTITION BY Date_Col)
         END  AS Delay_Rank
FROM     AVG_DEL
ORDER BY Date_Col,
         Delay_Rank
LIMIT    45;

45 rows affected.

[('AA', datetime.date(2007, 1, 1), Decimal('35.0000'), 15, 5),
 ('OH', datetime.date(2007, 1, 1), Decimal('11.7000'), 10, 10),
 ('CO', datetime.date(2007, 1, 1), Decimal('34.3333'), 3, 14),
 ('EV', datetime.date(2007, 1, 1), Decimal('-5.0000'), 1, 14),
 ('FL', datetime.date(2007, 1, 1), Decimal('8.6000'), 5, 11),
 ('WN', datetime.date(2007, 1, 1), Decimal('19.1786'), 28, 9),
 ('YV', datetime.date(2007, 1, 1), Decimal('54.4444'), 9, 3),
 ('NW', datetime.date(2007, 1, 1), Decimal('55.0000'), 9, 2),
 ('US', datetime.date(2007, 1, 1), Decimal('32.0667'), 15, 7),
 ('DL', datetime.date(2007, 1, 1), Decimal('-1.7500'), 8, 13),
 ('9E', datetime.date(2007, 1, 1), Decimal('-1.5000'), 2, 14),
 ('B6', datetime.date(2007, 1, 1), Decimal('60.0000'), 4, 14),
 ('XE', datetime.date(2007, 1, 1), Decimal('30.0714'), 14, 8),
 ('MQ', datetime.date(2007, 1, 1), Decimal('39.5385'), 39, 4),
 ('XE', datetime.date(2007, 1, 2), Decimal('8.5000'), 16, 5),
 ('MQ', datetime.date(2007, 1, 2), Decimal('13.7826'), 46, 4),
 ('AA', datetime.date(2007, 1, 2), Decimal('16.0000'), 14, 3),
 ('OH', datetime.date(2007, 1, 2), Decimal('20.2143'), 14, 2),
 ('CO', datetime.date(2007, 1, 2), Decimal('24.2500'), 4, 14),
 ('EV', datetime.date(2007, 1, 2), Decimal('0.0000'), 1, 14),
 ('FL', datetime.date(2007, 1, 2), Decimal('5.5000'), 6, 10),
 ('WN', datetime.date(2007, 1, 2), Decimal('6.6000'), 30, 7),
 ('YV', datetime.date(2007, 1, 2), Decimal('6.1818'), 11, 8),
 ('NW', datetime.date(2007, 1, 2), Decimal('4.7500'), 8, 11),
 ('US', datetime.date(2007, 1, 2), Decimal('5.8750'), 16, 9),
 ('DL', datetime.date(2007, 1, 2), Decimal('-1.4444'), 9, 14),
 ('9E', datetime.date(2007, 1, 2), Decimal('2.0000'), 2, 14),
 ('B6', datetime.date(2007, 1, 2), Decimal('8.4000'), 5, 6),
 ('YV', datetime.date(2007, 1, 3), Decimal('11.5833'), 12, 4),
 ('NW', datetime.date(2007, 1, 3), Decimal('4.0000'), 8, 10),
 ('US', datetime.date(2007, 1, 3), Decimal('11.2500'), 16, 5),
 ('DL', datetime.date(2007, 1, 3), Decimal('-0.8889'), 9, 14),
 ('9E', datetime.date(2007, 1, 3), Decimal('8.5000'), 2, 14),
 ('B6', datetime.date(2007, 1, 3), Decimal('11.2000'), 5, 6),
 ('XE', datetime.date(2007, 1, 3), Decimal('10.1875'), 16, 7),
 ('MQ', datetime.date(2007, 1, 3), Decimal('5.1957'), 46, 9),
 ('AA', datetime.date(2007, 1, 3), Decimal('35.6000'), 15, 1),
 ('OH', datetime.date(2007, 1, 3), Decimal('18.1250'), 16, 3),
 ('CO', datetime.date(2007, 1, 3), Decimal('25.2500'), 4, 14),
 ('EV', datetime.date(2007, 1, 3), Decimal('2.0000'), 1, 14),
 ('FL', datetime.date(2007, 1, 3), Decimal('0.1667'), 6, 13),
 ('WN', datetime.date(2007, 1, 3), Decimal('2.5667'), 30, 11),
 ('OH', datetime.date(2007, 1, 4), Decimal('-2.3125'), 16, 11),
 ('CO', datetime.date(2007, 1, 4), Decimal('-4.0000'), 4, 14),
 ('EV', datetime.date(2007, 1, 4), Decimal('0.0000'), 1, 14)]

* The above query unfortunately is not working either because the CASE statement is ill-defined for our problem...
* <mark>***I have received some questions about why the above CASE statement does not solve our problem.  The issue occurs when a carrier has the first or second highest average delay on a day but has fewer than 5 flights on that day.  Consider what happens on 1/1/2007.  Carrier "B6" has the highest average delay of 60 minutes, but it only has 4 flights on that day.  So, it is correctly moved to the back of the rankings.  BUT, carrier "NW" (which has an average delay of 55 minutes, 9 total flights, and therefore should be ranked first on 1/1/2007) is actually ranked second?  Why?  Because in the 'RANK() OVER(PARTITION BY Date_Col ORDER BY AD DESC)' command, the window function does not know to exclude the B6 carrier from the ranking (as we might hope it would).  Thus, B6 is still implicitly ranked 1st, in the window frame created by the window function ORDER BY subclause, which moves NW to 2nd.***</mark>

In [92]:
%%sql

WITH RDU_F AS
(
SELECT   *,
         CASE
         WHEN DepTime < 60 THEN
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',DepTime), '%Y %c %e %i')
         ELSE
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',SUBSTR(DepTime,1,LENGTH(DepTime)-2),' ',SUBSTR(DepTime,-2)), '%Y %c %e %k %i')
         END as DepTS
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
),
AVG_DEL AS
(
SELECT   UniqueCarrier,
         DATE(DepTS) AS Date_Col,
         AVG(DepDelay) AS AD,
         COUNT(*) AS Num_Flights
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1
GROUP BY UniqueCarrier,
         DATE(DepTS)
),
DEL_RANK AS
(
SELECT   *,
         RANK() OVER(PARTITION BY Date_Col
                     ORDER BY AD DESC) AS Delay_Rank
FROM     AVG_DEL
WHERE    Num_Flights >= 5
)
SELECT          *,
                COALESCE(Delay_Rank, MAX(Delay_Rank) OVER(PARTITION BY AVG_DEL.Date_Col)) AS New_Delay_Rank
FROM            AVG_DEL
LEFT JOIN       DEL_RANK
ON              AVG_DEL.UniqueCarrier = DEL_RANK.UniqueCarrier AND
                AVG_DEL.Date_Col = DEL_RANK.Date_Col
ORDER BY AVG_DEL.Date_Col,
         New_Delay_Rank
LIMIT    2000;

2000 rows affected.

[('XE', datetime.date(2007, 1, 1), Decimal('30.0714'), 14, 'XE', datetime.date(2007, 1, 1), Decimal('30.0714'), 14, 6, 6),
 ('MQ', datetime.date(2007, 1, 1), Decimal('39.5385'), 39, 'MQ', datetime.date(2007, 1, 1), Decimal('39.5385'), 39, 3, 3),
 ('OH', datetime.date(2007, 1, 1), Decimal('11.7000'), 10, 'OH', datetime.date(2007, 1, 1), Decimal('11.7000'), 10, 8, 8),
 ('WN', datetime.date(2007, 1, 1), Decimal('19.1786'), 28, 'WN', datetime.date(2007, 1, 1), Decimal('19.1786'), 28, 7, 7),
 ('CO', datetime.date(2007, 1, 1), Decimal('34.3333'), 3, None, None, None, None, None, 10),
 ('B6', datetime.date(2007, 1, 1), Decimal('60.0000'), 4, None, None, None, None, None, 10),
 ('EV', datetime.date(2007, 1, 1), Decimal('-5.0000'), 1, None, None, None, None, None, 10),
 ('9E', datetime.date(2007, 1, 1), Decimal('-1.5000'), 2, None, None, None, None, None, 10),
 ('FL', datetime.date(2007, 1, 1), Decimal('8.6000'), 5, 'FL', datetime.date(2007, 1, 1), Decimal('8.6000'), 5, 9, 9),
 ('NW', datetime.date(2007, 1, 1), Decimal('55.0000'), 9, 'NW', datetime.date(2007, 1, 1), Decimal('55.0000'), 9, 1, 1),
 ('US', datetime.date(2007, 1, 1), Decimal('32.0667'), 15, 'US', datetime.date(2007, 1, 1), Decimal('32.0667'), 15, 5, 5),
 ('AA', datetime.date(2007, 1, 1), Decimal('35.0000'), 15, 'AA', datetime.date(2007, 1, 1), Decimal('35.0000'), 15, 4, 4),
 ('YV', datetime.date(2007, 1, 1), Decimal('54.4444'), 9, 'YV', datetime.date(2007, 1, 1), Decimal('54.4444'), 9, 2, 2),
 ('DL', datetime.date(2007, 1, 1), Decimal('-1.7500'), 8, 'DL', datetime.date(2007, 1, 1), Decimal('-1.7500'), 8, 10, 10),
 ('B6', datetime.date(2007, 1, 2), Decimal('8.4000'), 5, 'B6', datetime.date(2007, 1, 2), Decimal('8.4000'), 5, 5, 5),
 ('EV', datetime.date(2007, 1, 2), Decimal('0.0000'), 1, None, None, None, None, None, 11),
 ('9E', datetime.date(2007, 1, 2), Decimal('2.0000'), 2, None, None, None, None, None, 11),
 ('FL', datetime.date(2007, 1, 2), Decimal('5.5000'), 6, 'FL', datetime.date(2007, 1, 2), Decimal('5.5000'), 6, 9, 9),
 ('NW', datetime.date(2007, 1, 2), Decimal('4.7500'), 8, 'NW', datetime.date(2007, 1, 2), Decimal('4.7500'), 8, 10, 10),
 ('US', datetime.date(2007, 1, 2), Decimal('5.8750'), 16, 'US', datetime.date(2007, 1, 2), Decimal('5.8750'), 16, 8, 8),
 ('AA', datetime.date(2007, 1, 2), Decimal('16.0000'), 14, 'AA', datetime.date(2007, 1, 2), Decimal('16.0000'), 14, 2, 2),
 ('YV', datetime.date(2007, 1, 2), Decimal('6.1818'), 11, 'YV', datetime.date(2007, 1, 2), Decimal('6.1818'), 11, 7, 7),
 ('DL', datetime.date(2007, 1, 2), Decimal('-1.4444'), 9, 'DL', datetime.date(2007, 1, 2), Decimal('-1.4444'), 9, 11, 11),
 ('XE', datetime.date(2007, 1, 2), Decimal('8.5000'), 16, 'XE', datetime.date(2007, 1, 2), Decimal('8.5000'), 16, 4, 4),
 ('MQ', datetime.date(2007, 1, 2), Decimal('13.7826'), 46, 'MQ', datetime.date(2007, 1, 2), Decimal('13.7826'), 46, 3, 3),
 ('OH', datetime.date(2007, 1, 2), Decimal('20.2143'), 14, 'OH', datetime.date(2007, 1, 2), Decimal('20.2143'), 14, 1, 1),
 ('WN', datetime.date(2007, 1, 2), Decimal('6.6000'), 30, 'WN', datetime.date(2007, 1, 2), Decimal('6.6000'), 30, 6, 6),
 ('CO', datetime.date(2007, 1, 2), Decimal('24.2500'), 4, None, None, None, None, None, 11),
 ('XE', datetime.date(2007, 1, 3), Decimal('10.1875'), 16, 'XE', datetime.date(2007, 1, 3), Decimal('10.1875'), 16, 6, 6),
 ('MQ', datetime.date(2007, 1, 3), Decimal('5.1957'), 46, 'MQ', datetime.date(2007, 1, 3), Decimal('5.1957'), 46, 7, 7),
 ('OH', datetime.date(2007, 1, 3), Decimal('18.1250'), 16, 'OH', datetime.date(2007, 1, 3), Decimal('18.1250'), 16, 2, 2),
 ('WN', datetime.date(2007, 1, 3), Decimal('2.5667'), 30, 'WN', datetime.date(2007, 1, 3), Decimal('2.5667'), 30, 9, 9),
 ('CO', datetime.date(2007, 1, 3), Decimal('25.2500'), 4, None, None, None, None, None, 11),
 ('B6', datetime.date(2007, 1, 3), Decimal('11.2000'), 5, 'B6', datetime.date(2007, 1, 3), Decimal('11.2000'), 5, 5, 5),
 ('EV', datetime.date(2007, 1, 3), Decimal('2.0000'), 1, None, None, None, None, None, 11),
 ('9E', datetime.date(2007, 1, 3), Decimal('8.5000'), 2, None, None, None, None, None, 11),
 ('FL', datetime.date(2007, 1, 3), Decimal('0.1667'), 6, 'FL', datetime.date(2007, 1, 3), Decimal('0.1667'), 6, 10, 10),
 ('NW', datetime.date(2007, 1, 3), Decimal('4.0000'), 8, 'NW', datetime.date(2007, 1, 3), Decimal('4.0000'), 8, 8, 8),
 ('US', datetime.date(2007, 1, 3), Decimal('11.2500'), 16, 'US', datetime.date(2007, 1, 3), Decimal('11.2500'), 16, 4, 4),
 ('AA', datetime.date(2007, 1, 3), Decimal('35.6000'), 15, 'AA', datetime.date(2007, 1, 3), Decimal('35.6000'), 15, 1, 1),
 ('YV', datetime.date(2007, 1, 3), Decimal('11.5833'), 12, 'YV', datetime.date(2007, 1, 3), Decimal('11.5833'), 12, 3, 3),
 ('DL', datetime.date(2007, 1, 3), Decimal('-0.8889'), 9, 'DL', datetime.date(2007, 1, 3), Decimal('-0.8889'), 9, 11, 11),
 ('US', datetime.date(2007, 1, 4), Decimal('-0.3750'), 16, 'US', datetime.date(2007, 1, 4), Decimal('-0.3750'), 16, 8, 8),
 ('AA', datetime.date(2007, 1, 4), Decimal('19.2000'), 15, 'AA', datetime.date(2007, 1, 4), Decimal('19.2000'), 15, 2, 2),
 ('YV', datetime.date(2007, 1, 4), Decimal('43.6667'), 12, 'YV', datetime.date(2007, 1, 4), Decimal('43.6667'), 12, 1, 1),
 ('DL', datetime.date(2007, 1, 4), Decimal('-2.1250'), 8, 'DL', datetime.date(2007, 1, 4), Decimal('-2.1250'), 8, 9, 9),
 ('XE', datetime.date(2007, 1, 4), Decimal('2.5000'), 16, 'XE', datetime.date(2007, 1, 4), Decimal('2.5000'), 16, 6, 6),
 ('MQ', datetime.date(2007, 1, 4), Decimal('0.3913'), 46, 'MQ', datetime.date(2007, 1, 4), Decimal('0.3913'), 46, 7, 7),
 ('OH', datetime.date(2007, 1, 4), Decimal('-2.3125'), 16, 'OH', datetime.date(2007, 1, 4), Decimal('-2.3125'), 16, 10, 10),
 ('WN', datetime.date(2007, 1, 4), Decimal('5.1000'), 30, 'WN', datetime.date(2007, 1, 4), Decimal('5.1000'), 30, 4, 4),
 ('CO', datetime.date(2007, 1, 4), Decimal('-4.0000'), 4, None, None, None, None, None, 11),
 ('B6', datetime.date(2007, 1, 4), Decimal('-9.0000'), 5, 'B6', datetime.date(2007, 1, 4), Decimal('-9.0000'), 5, 11, 11),
 ('EV', datetime.date(2007, 1, 4), Decimal('0.0000'), 1, None, None, None, None, None, 11),
 ('9E', datetime.date(2007, 1, 4), Decimal('-3.5000'), 2, None, None, None, None, None, 11),
 ('FL', datetime.date(2007, 1, 4), Decimal('7.6667'), 6, 'FL', datetime.date(2007, 1, 4), Decimal('7.6667'), 6, 3, 3),
 ('NW', datetime.date(2007, 1, 4), Decimal('2.6250'), 8, 'NW', datetime.date(2007, 1, 4), Decimal('2.6250'), 8, 5, 5),
 ('MQ', datetime.date(2007, 1, 5), Decimal('14.8372'), 43, 'MQ', datetime.date(2007, 1, 5), Decimal('14.8372'), 43, 7, 7),
 ('OH', datetime.date(2007, 1, 5), Decimal('5.3333'), 15, 'OH', datetime.date(2007, 1, 5), Decimal('5.3333'), 15, 8, 8),
 ('WN', datetime.date(2007, 1, 5), Decimal('22.4667'), 30, 'WN', datetime.date(2007, 1, 5), Decimal('22.4667'), 30, 3, 3),
 ('CO', datetime.date(2007, 1, 5), Decimal('36.7500'), 4, None, None, None, None, None, 11),
 ('B6', datetime.date(2007, 1, 5), Decimal('63.2000'), 5, 'B6', datetime.date(2007, 1, 5), Decimal('63.2000'), 5, 1, 1),
 ('EV', datetime.date(2007, 1, 5), Decimal('47.5000'), 2, None, None, None, None, None, 11),
 ('9E', datetime.date(2007, 1, 5), Decimal('-5.0000'), 2, None, None, None, None, None, 11),
 ('FL', datetime.date(2007, 1, 5), Decimal('-3.4000'), 5, 'FL', datetime.date(2007, 1, 5), Decimal('-3.4000'), 5, 11, 11),
 ('NW', datetime.date(2007, 1, 5), Decimal('2.4286'), 7, 'NW', datetime.date(2007, 1, 5), Decimal('2.4286'), 7, 10, 10),
 ('US', datetime.date(2007, 1, 5), Decimal('18.4667'), 15, 'US', datetime.date(2007, 1, 5), Decimal('18.4667'), 15, 4, 4),
 ('AA', datetime.date(2007, 1, 5), Decimal('3.7333'), 15, 'AA', datetime.date(2007, 1, 5), Decimal('3.7333'), 15, 9, 9),
 ('YV', datetime.date(2007, 1, 5), Decimal('16.4167'), 12, 'YV', datetime.date(2007, 1, 5), Decimal('16.4167'), 12, 6, 6),
 ('DL', datetime.date(2007, 1, 5), Decimal('25.5000'), 8, 'DL', datetime.date(2007, 1, 5), Decimal('25.5000'), 8, 2, 2),
 ('XE', datetime.date(2007, 1, 5), Decimal('16.4375'), 16, 'XE', datetime.date(2007, 1, 5), Decimal('16.4375'), 16, 5, 5),
 ('AA', datetime.date(2007, 1, 6), Decimal('0.3571'), 14, 'AA', datetime.date(2007, 1, 6), Decimal('0.3571'), 14, 9, 9),
 ('YV', datetime.date(2007, 1, 6), Decimal('3.9091'), 11, 'YV', datetime.date(2007, 1, 6), Decimal('3.9091'), 11, 3, 3),
 ('DL', datetime.date(2007, 1, 6), Decimal('-0.7500'), 8, 'DL', datetime.date(2007, 1, 6), Decimal('-0.7500'), 8, 10, 10),
 ('XE', datetime.date(2007, 1, 6), Decimal('4.5000'), 10, 'XE', datetime.date(2007, 1, 6), Decimal('4.5000'), 10, 2, 2),
 ('MQ', datetime.date(2007, 1, 6), Decimal('3.5000'), 34, 'MQ', datetime.date(2007, 1, 6), Decimal('3.5000'), 34, 4, 4),
 ('OH', datetime.date(2007, 1, 6), Decimal('23.7000'), 10, 'OH', datetime.date(2007, 1, 6), Decimal('23.7000'), 10, 1, 1),
 ('WN', datetime.date(2007, 1, 6), Decimal('1.5652'), 23, 'WN', datetime.date(2007, 1, 6), Decimal('1.5652'), 23, 8, 8),
 ('CO', datetime.date(2007, 1, 6), Decimal('-5.3333'), 3, None, None, None, None, None, 10),
 ('B6', datetime.date(2007, 1, 6), Decimal('2.0000'), 5, 'B6', datetime.date(2007, 1, 6), Decimal('2.0000'), 5, 6, 6),
 ('EV', datetime.date(2007, 1, 6), Decimal('0.0000'), 1, None, None, None, None, None, 10),
 ('9E', datetime.date(2007, 1, 6), Decimal('-5.0000'), 1, None, None, None, None, None, 10),
 ('FL', datetime.date(2007, 1, 6), Decimal('-2.2500'), 4, None, None, None, None, None, 10),
 ('NW', datetime.date(2007, 1, 6), Decimal('2.6000'), 5, 'NW', datetime.date(2007, 1, 6), Decimal('2.6000'), 5, 5, 5),
 ('US', datetime.date(2007, 1, 6), Decimal('1.8571'), 7, 'US', datetime.date(2007, 1, 6), Decimal('1.8571'), 7, 7, 7),
 ('WN', datetime.date(2007, 1, 7), Decimal('17.1071'), 28, 'WN', datetime.date(2007, 1, 7), Decimal('17.1071'), 28, 2, 2),
 ('CO', datetime.date(2007, 1, 7), Decimal('19.6667'), 3, None, None, None, None, None, 11),
 ('B6', datetime.date(2007, 1, 7), Decimal('0.0000'), 5, 'B6', datetime.date(2007, 1, 7), Decimal('0.0000'), 5, 7, 7),
 ('9E', datetime.date(2007, 1, 7), Decimal('15.0000'), 2, None, None, None, None, None, 11),
 ('FL', datetime.date(2007, 1, 7), Decimal('21.0000'), 6, 'FL', datetime.date(2007, 1, 7), Decimal('21.0000'), 6, 1, 1),
 ('NW', datetime.date(2007, 1, 7), Decimal('2.8750'), 8, 'NW', datetime.date(2007, 1, 7), Decimal('2.8750'), 8, 4, 4),
 ('US', datetime.date(2007, 1, 7), Decimal('-0.3333'), 9, 'US', datetime.date(2007, 1, 7), Decimal('-0.3333'), 9, 8, 8),
 ('AA', datetime.date(2007, 1, 7), Decimal('11.2857'), 14, 'AA', datetime.date(2007, 1, 7), Decimal('11.2857'), 14, 3, 3),
 ('YV', datetime.date(2007, 1, 7), Decimal('2.2143'), 14, 'YV', datetime.date(2007, 1, 7), Decimal('2.2143'), 14, 5, 5),
 ('DL', datetime.date(2007, 1, 7), Decimal('-3.0000'), 10, 'DL', datetime.date(2007, 1, 7), Decimal('-3.0000'), 10, 10, 10),
 ('XE', datetime.date(2007, 1, 7), Decimal('-3.0667'), 15, 'XE', datetime.date(2007, 1, 7), Decimal('-3.0667'), 15, 11, 11),
 ('MQ', datetime.date(2007, 1, 7), Decimal('-0.5128'), 39, 'MQ', datetime.date(2007, 1, 7), Decimal('-0.5128'), 39, 9, 9),
 ('OH', datetime.date(2007, 1, 7), Decimal('1.9231'), 13, 'OH', datetime.date(2007, 1, 7), Decimal('1.9231'), 13, 6, 6),
 ('DL', datetime.date(2007, 1, 8), Decimal('0.2000'), 10, 'DL', datetime.date(2007, 1, 8), Decimal('0.2000'), 10, 9, 9),
 ('XE', datetime.date(2007, 1, 8), Decimal('51.0000'), 12, 'XE', datetime.date(2007, 1, 8), Decimal('51.0000'), 12, 1, 1),
 ('MQ', datetime.date(2007, 1, 8), Decimal('14.6585'), 41, 'MQ', datetime.date(2007, 1, 8), Decimal('14.6585'), 41, 3, 3),
 ('OH', datetime.date(2007, 1, 8), Decimal('12.4286'), 14, 'OH', datetime.date(2007, 1, 8), Decimal('12.4286'), 14, 5, 5),
 ('WN', datetime.date(2007, 1, 8), Decimal('3.1333'), 30, 'WN', datetime.date(2007, 1, 8), Decimal('3.1333'), 30, 7, 7),
 ('CO', datetime.date(2007, 1, 8), Decimal('33.2500'), 4, None, None, None, None, None, 11),
 ('B6', datetime.date(2007, 1, 8), Decimal('16.4000'), 5, 'B6', datetime.date(2007, 1, 8), Decimal('16.4000'), 5, 2, 2),
 ('9E', datetime.date(2007, 1, 8), Decimal('-5.0000'), 1, None, None, None, None, None, 11),
 ('FL', datetime.date(2007, 1, 8), Decimal('-5.1667'), 6, 'FL', datetime.date(2007, 1, 8), Decimal('-5.1667'), 6, 11, 11),
 ('NW', datetime.date(2007, 1, 8), Decimal('3.5000'), 8, 'NW', datetime.date(2007, 1, 8), Decimal('3.5000'), 8, 6, 6),
 ('US', datetime.date(2007, 1, 8), Decimal('13.5000'), 14, 'US', datetime.date(2007, 1, 8), Decimal('13.5000'), 14, 4, 4),
 ('AA', datetime.date(2007, 1, 8), Decimal('0.2000'), 15, 'AA', datetime.date(2007, 1, 8), Decimal('0.2000'), 15, 9, 9),
 ('YV', datetime.date(2007, 1, 8), Decimal('2.5833'), 12, 'YV', datetime.date(2007, 1, 8), Decimal('2.5833'), 12, 8, 8),
 ('CO', datetime.date(2007, 1, 9), Decimal('6.5000'), 4, None, None, None, None, None, 11),
 ('B6', datetime.date(2007, 1, 9), Decimal('-7.6000'), 5, 'B6', datetime.date(2007, 1, 9), Decimal('-7.6000'), 5, 11, 11),
 ('9E', datetime.date(2007, 1, 9), Decimal('-5.0000'), 2, None, None, None, None, None, 11),
 ('FL', datetime.date(2007, 1, 9), Decimal('-5.2000'), 5, 'FL', datetime.date(2007, 1, 9), Decimal('-5.2000'), 5, 8, 8),
 ('NW', datetime.date(2007, 1, 9), Decimal('-6.1250'), 8, 'NW', datetime.date(2007, 1, 9), Decimal('-6.1250'), 8, 10, 10),
 ('US', datetime.date(2007, 1, 9), Decimal('4.0769'), 13, 'US', datetime.date(2007, 1, 9), Decimal('4.0769'), 13, 4, 4),
 ('AA', datetime.date(2007, 1, 9), Decimal('8.9333'), 15, 'AA', datetime.date(2007, 1, 9), Decimal('8.9333'), 15, 3, 3),
 ('YV', datetime.date(2007, 1, 9), Decimal('20.0000'), 7, 'YV', datetime.date(2007, 1, 9), Decimal('20.0000'), 7, 1, 1),
 ('DL', datetime.date(2007, 1, 9), Decimal('-6.0000'), 8, 'DL', datetime.date(2007, 1, 9), Decimal('-6.0000'), 8, 9, 9),
 ('XE', datetime.date(2007, 1, 9), Decimal('9.1818'), 11, 'XE', datetime.date(2007, 1, 9), Decimal('9.1818'), 11, 2, 2),
 ('MQ', datetime.date(2007, 1, 9), Decimal('-0.6957'), 46, 'MQ', datetime.date(2007, 1, 9), Decimal('-0.6957'), 46, 6, 6),
 ('OH', datetime.date(2007, 1, 9), Decimal('-1.6154'), 13, 'OH', datetime.date(2007, 1, 9), Decimal('-1.6154'), 13, 7, 7),
 ('WN', datetime.date(2007, 1, 9), Decimal('0.0333'), 30, 'WN', datetime.date(2007, 1, 9), Decimal('0.0333'), 30, 5, 5),
 ('XE', datetime.date(2007, 1, 10), Decimal('1.6000'), 10, 'XE', datetime.date(2007, 1, 10), Decimal('1.6000'), 10, 3, 3),
 ('MQ', datetime.date(2007, 1, 10), Decimal('4.5111'), 45, 'MQ', datetime.date(2007, 1, 10), Decimal('4.5111'), 45, 2, 2),
 ('OH', datetime.date(2007, 1, 10), Decimal('-2.4000'), 15, 'OH', datetime.date(2007, 1, 10), Decimal('-2.4000'), 15, 7, 7),
 ('WN', datetime.date(2007, 1, 10), Decimal('-2.1333'), 30, 'WN', datetime.date(2007, 1, 10), Decimal('-2.1333'), 30, 6, 6),
 ('CO', datetime.date(2007, 1, 10), Decimal('3.0000'), 4, None, None, None, None, None, 11),
 ('B6', datetime.date(2007, 1, 10), Decimal('1.4000'), 5, 'B6', datetime.date(2007, 1, 10), Decimal('1.4000'), 5, 4, 4),
 ('9E', datetime.date(2007, 1, 10), Decimal('-2.0000'), 2, None, None, None, None, None, 11),
 ('FL', datetime.date(2007, 1, 10), Decimal('-4.8000'), 5, 'FL', datetime.date(2007, 1, 10), Decimal('-4.8000'), 5, 10, 10),
 ('NW', datetime.date(2007, 1, 10), Decimal('0.3750'), 8, 'NW', datetime.date(2007, 1, 10), Decimal('0.3750'), 8, 5, 5),
 ('US', datetime.date(2007, 1, 10), Decimal('-2.8571'), 14, 'US', datetime.date(2007, 1, 10), Decimal('-2.8571'), 14, 8, 8),
 ('AA', datetime.date(2007, 1, 10), Decimal('-4.1333'), 15, 'AA', datetime.date(2007, 1, 10), Decimal('-4.1333'), 15, 9, 9),
 ('YV', datetime.date(2007, 1, 10), Decimal('7.3333'), 9, 'YV', datetime.date(2007, 1, 10), Decimal('7.3333'), 9, 1, 1),
 ('DL', datetime.date(2007, 1, 10), Decimal('-5.0000'), 10, 'DL', datetime.date(2007, 1, 10), Decimal('-5.0000'), 10, 11, 11),
 ('9E', datetime.date(2007, 1, 11), Decimal('-2.5000'), 2, None, None, None, None, None, 11),
 ('FL', datetime.date(2007, 1, 11), Decimal('-6.5000'), 6, 'FL', datetime.date(2007, 1, 11), Decimal('-6.5000'), 6, 11, 11),
 ('NW', datetime.date(2007, 1, 11), Decimal('-2.3750'), 8, 'NW', datetime.date(2007, 1, 11), Decimal('-2.3750'), 8, 8, 8),
 ('US', datetime.date(2007, 1, 11), Decimal('0.1333'), 15, 'US', datetime.date(2007, 1, 11), Decimal('0.1333'), 15, 6, 6),
 ('AA', datetime.date(2007, 1, 11), Decimal('8.2000'), 15, 'AA', datetime.date(2007, 1, 11), Decimal('8.2000'), 15, 2, 2),
 ('YV', datetime.date(2007, 1, 11), Decimal('30.3333'), 9, 'YV', datetime.date(2007, 1, 11), Decimal('30.3333'), 9, 1, 1),
 ('DL', datetime.date(2007, 1, 11), Decimal('3.5000'), 10, 'DL', datetime.date(2007, 1, 11), Decimal('3.5000'), 10, 4, 4),
 ('XE', datetime.date(2007, 1, 11), Decimal('-4.8333'), 12, 'XE', datetime.date(2007, 1, 11), Decimal('-4.8333'), 12, 9, 9),
 ('MQ', datetime.date(2007, 1, 11), Decimal('7.6667'), 45, 'MQ', datetime.date(2007, 1, 11), Decimal('7.6667'), 45, 3, 3),
 ('OH', datetime.date(2007, 1, 11), Decimal('-0.1875'), 16, 'OH', datetime.date(2007, 1, 11), Decimal('-0.1875'), 16, 7, 7),
 ('WN', datetime.date(2007, 1, 11), Decimal('1.7000'), 30, 'WN', datetime.date(2007, 1, 11), Decimal('1.7000'), 30, 5, 5),
 ('CO', datetime.date(2007, 1, 11), Decimal('-3.0000'), 4, None, None, None, None, None, 11),
 ('B6', datetime.date(2007, 1, 11), Decimal('-5.2000'), 5, 'B6', datetime.date(2007, 1, 11), Decimal('-5.2000'), 5, 10, 10),
 ('XE', datetime.date(2007, 1, 12), Decimal('6.2500'), 12, 'XE', datetime.date(2007, 1, 12), Decimal('6.2500'), 12, 5, 5),
 ('MQ', datetime.date(2007, 1, 12), Decimal('8.1778'), 45, 'MQ', datetime.date(2007, 1, 12), Decimal('8.1778'), 45, 4, 4),
 ('OH', datetime.date(2007, 1, 12), Decimal('-1.1250'), 16, 'OH', datetime.date(2007, 1, 12), Decimal('-1.1250'), 16, 8, 8),
 ('WN', datetime.date(2007, 1, 12), Decimal('5.1000'), 30, 'WN', datetime.date(2007, 1, 12), Decimal('5.1000'), 30, 6, 6),
 ('CO', datetime.date(2007, 1, 12), Decimal('15.7500'), 4, None, None, None, None, None, 11),
 ('B6', datetime.date(2007, 1, 12), Decimal('29.4000'), 5, 'B6', datetime.date(2007, 1, 12), Decimal('29.4000'), 5, 2, 2),
 ('9E', datetime.date(2007, 1, 12), Decimal('-1.5000'), 2, None, None, None, None, None, 11),
 ('FL', datetime.date(2007, 1, 12), Decimal('-4.5000'), 6, 'FL', datetime.date(2007, 1, 12), Decimal('-4.5000'), 6, 9, 9),
 ('NW', datetime.date(2007, 1, 12), Decimal('-4.7500'), 8, 'NW', datetime.date(2007, 1, 12), Decimal('-4.7500'), 8, 11, 11),
 ('US', datetime.date(2007, 1, 12), Decimal('5.0667'), 15, 'US', datetime.date(2007, 1, 12), Decimal('5.0667'), 15, 7, 7),
 ('AA', datetime.date(2007, 1, 12), Decimal('16.3571'), 14, 'AA', datetime.date(2007, 1, 12), Decimal('16.3571'), 14, 3, 3),
 ('YV', datetime.date(2007, 1, 12), Decimal('36.7778'), 9, 'YV', datetime.date(2007, 1, 12), Decimal('36.7778'), 9, 1, 1),
 ('DL', datetime.date(2007, 1, 12), Decimal('-4.7000'), 10, 'DL', datetime.date(2007, 1, 12), Decimal('-4.7000'), 10, 10, 10),
 ('US', datetime.date(2007, 1, 13), Decimal('-2.8333'), 6, 'US', datetime.date(2007, 1, 13), Decimal('-2.8333'), 6, 9, 9),
 ('AA', datetime.date(2007, 1, 13), Decimal('29.1000'), 10, 'AA', datetime.date(2007, 1, 13), Decimal('29.1000'), 10, 1, 1),
 ('YV', datetime.date(2007, 1, 13), Decimal('0.5714'), 7, 'YV', datetime.date(2007, 1, 13), Decimal('0.5714'), 7, 8, 8),
 ('DL', datetime.date(2007, 1, 13), Decimal('4.8571'), 7, 'DL', datetime.date(2007, 1, 13), Decimal('4.8571'), 7, 2, 2),
 ('EV', datetime.date(2007, 1, 13), Decimal('0.0000'), 1, None, None, None, None, None, 10),
 ('XE', datetime.date(2007, 1, 13), Decimal('-7.1111'), 9, 'XE', datetime.date(2007, 1, 13), Decimal('-7.1111'), 9, 10, 10),
 ('MQ', datetime.date(2007, 1, 13), Decimal('3.1471'), 34, 'MQ', datetime.date(2007, 1, 13), Decimal('3.1471'), 34, 3, 3),
 ('OH', datetime.date(2007, 1, 13), Decimal('1.6000'), 10, 'OH', datetime.date(2007, 1, 13), Decimal('1.6000'), 10, 5, 5),
 ('WN', datetime.date(2007, 1, 13), Decimal('1.0000'), 23, 'WN', datetime.date(2007, 1, 13), Decimal('1.0000'), 23, 6, 6),

<mark>***The above query finally does what we want it do!  Specifically, we first rank only the carriers that have at least 5 flights on a day.  Then we use a LEFT JOIN with COALESCE() to fill in the rankings of all carriers with fewer than 5 flights on each day.  Notice that we do not need an ORDER BY subclause with the MAX() window function because we already took care of the rankings in the previous CTE.***</mark>

In [96]:
%%sql

WITH RDU_F AS
(
SELECT   *,
         CASE
         WHEN DepTime < 60 THEN
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',DepTime), '%Y %c %e %i')
         ELSE
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',SUBSTR(DepTime,1,LENGTH(DepTime)-2),' ',SUBSTR(DepTime,-2)), '%Y %c %e %k %i')
         END as DepTS
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
),
AVG_DEL AS
(
SELECT   UniqueCarrier,
         DATE(DepTS) AS Date_Col,
         AVG(DepDelay) AS AD,
         COUNT(*) AS Num_Flights
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1
GROUP BY UniqueCarrier,
         DATE(DepTS)
),
DEL_RANK AS
(
SELECT   *,
         RANK() OVER(PARTITION BY Date_Col
                     ORDER BY AD DESC) AS Delay_Rank
FROM     AVG_DEL
WHERE    Num_Flights >= 5
),
COR_DEL_RANK AS
(
SELECT          AVG_DEL.UniqueCarrier,
                AVG_DEL.Date_Col,
                COALESCE(Delay_Rank, MAX(Delay_Rank) OVER(PARTITION BY AVG_DEL.Date_Col)) AS New_Delay_Rank
FROM            AVG_DEL
LEFT JOIN       DEL_RANK
ON              AVG_DEL.UniqueCarrier = DEL_RANK.UniqueCarrier AND
                AVG_DEL.Date_Col = DEL_RANK.Date_Col
ORDER BY AVG_DEL.Date_Col,
         New_Delay_Rank
)
SELECT          COR_DEL_RANK.Date_Col,
                COR_DEL_RANK.UniqueCarrier,
                COR_DEL_RANK.New_Delay_Rank,
                CASE   WHEN COR_DEL_RANK.New_Delay_Rank <= 2 THEN 1
                ELSE   0
                END AS Issue_Flag
FROM     COR_DEL_RANK
ORDER BY COR_DEL_RANK.Date_Col,
         COR_DEL_RANK.New_Delay_Rank
LIMIT    2000;

2000 rows affected.

[(datetime.date(2007, 1, 1), 'NW', 1, 1),
 (datetime.date(2007, 1, 1), 'YV', 2, 1),
 (datetime.date(2007, 1, 1), 'MQ', 3, 0),
 (datetime.date(2007, 1, 1), 'AA', 4, 0),
 (datetime.date(2007, 1, 1), 'US', 5, 0),
 (datetime.date(2007, 1, 1), 'XE', 6, 0),
 (datetime.date(2007, 1, 1), 'WN', 7, 0),
 (datetime.date(2007, 1, 1), 'OH', 8, 0),
 (datetime.date(2007, 1, 1), 'FL', 9, 0),
 (datetime.date(2007, 1, 1), 'CO', 10, 0),
 (datetime.date(2007, 1, 1), 'EV', 10, 0),
 (datetime.date(2007, 1, 1), 'B6', 10, 0),
 (datetime.date(2007, 1, 1), '9E', 10, 0),
 (datetime.date(2007, 1, 1), 'DL', 10, 0),
 (datetime.date(2007, 1, 2), 'OH', 1, 1),
 (datetime.date(2007, 1, 2), 'AA', 2, 1),
 (datetime.date(2007, 1, 2), 'MQ', 3, 0),
 (datetime.date(2007, 1, 2), 'XE', 4, 0),
 (datetime.date(2007, 1, 2), 'B6', 5, 0),
 (datetime.date(2007, 1, 2), 'WN', 6, 0),
 (datetime.date(2007, 1, 2), 'YV', 7, 0),
 (datetime.date(2007, 1, 2), 'US', 8, 0),
 (datetime.date(2007, 1, 2), 'FL', 9, 0),
 (datetime.date(2007, 1, 2), 'NW', 10, 0),
 (datetime.date(2007, 1, 2), 'EV', 11, 0),
 (datetime.date(2007, 1, 2), 'CO', 11, 0),
 (datetime.date(2007, 1, 2), '9E', 11, 0),
 (datetime.date(2007, 1, 2), 'DL', 11, 0),
 (datetime.date(2007, 1, 3), 'AA', 1, 1),
 (datetime.date(2007, 1, 3), 'OH', 2, 1),
 (datetime.date(2007, 1, 3), 'YV', 3, 0),
 (datetime.date(2007, 1, 3), 'US', 4, 0),
 (datetime.date(2007, 1, 3), 'B6', 5, 0),
 (datetime.date(2007, 1, 3), 'XE', 6, 0),
 (datetime.date(2007, 1, 3), 'MQ', 7, 0),
 (datetime.date(2007, 1, 3), 'NW', 8, 0),
 (datetime.date(2007, 1, 3), 'WN', 9, 0),
 (datetime.date(2007, 1, 3), 'FL', 10, 0),
 (datetime.date(2007, 1, 3), 'CO', 11, 0),
 (datetime.date(2007, 1, 3), 'EV', 11, 0),
 (datetime.date(2007, 1, 3), '9E', 11, 0),
 (datetime.date(2007, 1, 3), 'DL', 11, 0),
 (datetime.date(2007, 1, 4), 'YV', 1, 1),
 (datetime.date(2007, 1, 4), 'AA', 2, 1),
 (datetime.date(2007, 1, 4), 'FL', 3, 0),
 (datetime.date(2007, 1, 4), 'WN', 4, 0),
 (datetime.date(2007, 1, 4), 'NW', 5, 0),
 (datetime.date(2007, 1, 4), 'XE', 6, 0),
 (datetime.date(2007, 1, 4), 'MQ', 7, 0),
 (datetime.date(2007, 1, 4), 'US', 8, 0),
 (datetime.date(2007, 1, 4), 'DL', 9, 0),
 (datetime.date(2007, 1, 4), 'OH', 10, 0),
 (datetime.date(2007, 1, 4), '9E', 11, 0),
 (datetime.date(2007, 1, 4), 'CO', 11, 0),
 (datetime.date(2007, 1, 4), 'B6', 11, 0),
 (datetime.date(2007, 1, 4), 'EV', 11, 0),
 (datetime.date(2007, 1, 5), 'B6', 1, 1),
 (datetime.date(2007, 1, 5), 'DL', 2, 1),
 (datetime.date(2007, 1, 5), 'WN', 3, 0),
 (datetime.date(2007, 1, 5), 'US', 4, 0),
 (datetime.date(2007, 1, 5), 'XE', 5, 0),
 (datetime.date(2007, 1, 5), 'YV', 6, 0),
 (datetime.date(2007, 1, 5), 'MQ', 7, 0),
 (datetime.date(2007, 1, 5), 'OH', 8, 0),
 (datetime.date(2007, 1, 5), 'AA', 9, 0),
 (datetime.date(2007, 1, 5), 'NW', 10, 0),
 (datetime.date(2007, 1, 5), 'FL', 11, 0),
 (datetime.date(2007, 1, 5), '9E', 11, 0),
 (datetime.date(2007, 1, 5), 'CO', 11, 0),
 (datetime.date(2007, 1, 5), 'EV', 11, 0),
 (datetime.date(2007, 1, 6), 'OH', 1, 1),
 (datetime.date(2007, 1, 6), 'XE', 2, 1),
 (datetime.date(2007, 1, 6), 'YV', 3, 0),
 (datetime.date(2007, 1, 6), 'MQ', 4, 0),
 (datetime.date(2007, 1, 6), 'NW', 5, 0),
 (datetime.date(2007, 1, 6), 'B6', 6, 0),
 (datetime.date(2007, 1, 6), 'US', 7, 0),
 (datetime.date(2007, 1, 6), 'WN', 8, 0),
 (datetime.date(2007, 1, 6), 'AA', 9, 0),
 (datetime.date(2007, 1, 6), 'CO', 10, 0),
 (datetime.date(2007, 1, 6), 'EV', 10, 0),
 (datetime.date(2007, 1, 6), 'FL', 10, 0),
 (datetime.date(2007, 1, 6), '9E', 10, 0),
 (datetime.date(2007, 1, 6), 'DL', 10, 0),
 (datetime.date(2007, 1, 7), 'FL', 1, 1),
 (datetime.date(2007, 1, 7), 'WN', 2, 1),
 (datetime.date(2007, 1, 7), 'AA', 3, 0),
 (datetime.date(2007, 1, 7), 'NW', 4, 0),
 (datetime.date(2007, 1, 7), 'YV', 5, 0),
 (datetime.date(2007, 1, 7), 'OH', 6, 0),
 (datetime.date(2007, 1, 7), 'B6', 7, 0),
 (datetime.date(2007, 1, 7), 'US', 8, 0),
 (datetime.date(2007, 1, 7), 'MQ', 9, 0),
 (datetime.date(2007, 1, 7), 'DL', 10, 0),
 (datetime.date(2007, 1, 7), 'CO', 11, 0),
 (datetime.date(2007, 1, 7), '9E', 11, 0),
 (datetime.date(2007, 1, 7), 'XE', 11, 0),
 (datetime.date(2007, 1, 8), 'XE', 1, 1),
 (datetime.date(2007, 1, 8), 'B6', 2, 1),
 (datetime.date(2007, 1, 8), 'MQ', 3, 0),
 (datetime.date(2007, 1, 8), 'US', 4, 0),
 (datetime.date(2007, 1, 8), 'OH', 5, 0),
 (datetime.date(2007, 1, 8), 'NW', 6, 0),
 (datetime.date(2007, 1, 8), 'WN', 7, 0),
 (datetime.date(2007, 1, 8), 'YV', 8, 0),
 (datetime.date(2007, 1, 8), 'AA', 9, 0),
 (datetime.date(2007, 1, 8), 'DL', 9, 0),
 (datetime.date(2007, 1, 8), 'CO', 11, 0),
 (datetime.date(2007, 1, 8), 'FL', 11, 0),
 (datetime.date(2007, 1, 8), '9E', 11, 0),
 (datetime.date(2007, 1, 9), 'YV', 1, 1),
 (datetime.date(2007, 1, 9), 'XE', 2, 1),
 (datetime.date(2007, 1, 9), 'AA', 3, 0),
 (datetime.date(2007, 1, 9), 'US', 4, 0),
 (datetime.date(2007, 1, 9), 'WN', 5, 0),
 (datetime.date(2007, 1, 9), 'MQ', 6, 0),
 (datetime.date(2007, 1, 9), 'OH', 7, 0),
 (datetime.date(2007, 1, 9), 'FL', 8, 0),
 (datetime.date(2007, 1, 9), 'DL', 9, 0),
 (datetime.date(2007, 1, 9), 'NW', 10, 0),
 (datetime.date(2007, 1, 9), 'CO', 11, 0),
 (datetime.date(2007, 1, 9), 'B6', 11, 0),
 (datetime.date(2007, 1, 9), '9E', 11, 0),
 (datetime.date(2007, 1, 10), 'YV', 1, 1),
 (datetime.date(2007, 1, 10), 'MQ', 2, 1),
 (datetime.date(2007, 1, 10), 'XE', 3, 0),
 (datetime.date(2007, 1, 10), 'B6', 4, 0),
 (datetime.date(2007, 1, 10), 'NW', 5, 0),
 (datetime.date(2007, 1, 10), 'WN', 6, 0),
 (datetime.date(2007, 1, 10), 'OH', 7, 0),
 (datetime.date(2007, 1, 10), 'US', 8, 0),
 (datetime.date(2007, 1, 10), 'AA', 9, 0),
 (datetime.date(2007, 1, 10), 'FL', 10, 0),
 (datetime.date(2007, 1, 10), 'CO', 11, 0),
 (datetime.date(2007, 1, 10), '9E', 11, 0),
 (datetime.date(2007, 1, 10), 'DL', 11, 0),
 (datetime.date(2007, 1, 11), 'YV', 1, 1),
 (datetime.date(2007, 1, 11), 'AA', 2, 1),
 (datetime.date(2007, 1, 11), 'MQ', 3, 0),
 (datetime.date(2007, 1, 11), 'DL', 4, 0),
 (datetime.date(2007, 1, 11), 'WN', 5, 0),
 (datetime.date(2007, 1, 11), 'US', 6, 0),
 (datetime.date(2007, 1, 11), 'OH', 7, 0),
 (datetime.date(2007, 1, 11), 'NW', 8, 0),
 (datetime.date(2007, 1, 11), 'XE', 9, 0),
 (datetime.date(2007, 1, 11), 'B6', 10, 0),
 (datetime.date(2007, 1, 11), 'CO', 11, 0),
 (datetime.date(2007, 1, 11), 'FL', 11, 0),
 (datetime.date(2007, 1, 11), '9E', 11, 0),
 (datetime.date(2007, 1, 12), 'YV', 1, 1),
 (datetime.date(2007, 1, 12), 'B6', 2, 1),
 (datetime.date(2007, 1, 12), 'AA', 3, 0),
 (datetime.date(2007, 1, 12), 'MQ', 4, 0),
 (datetime.date(2007, 1, 12), 'XE', 5, 0),
 (datetime.date(2007, 1, 12), 'WN', 6, 0),
 (datetime.date(2007, 1, 12), 'US', 7, 0),
 (datetime.date(2007, 1, 12), 'OH', 8, 0),
 (datetime.date(2007, 1, 12), 'FL', 9, 0),
 (datetime.date(2007, 1, 12), 'DL', 10, 0),
 (datetime.date(2007, 1, 12), 'NW', 11, 0),
 (datetime.date(2007, 1, 12), 'CO', 11, 0),
 (datetime.date(2007, 1, 12), '9E', 11, 0),
 (datetime.date(2007, 1, 13), 'AA', 1, 1),
 (datetime.date(2007, 1, 13), 'DL', 2, 1),
 (datetime.date(2007, 1, 13), 'MQ', 3, 0),
 (datetime.date(2007, 1, 13), 'NW', 4, 0),
 (datetime.date(2007, 1, 13), 'OH', 5, 0),
 (datetime.date(2007, 1, 13), 'WN', 6, 0),
 (datetime.date(2007, 1, 13), 'B6', 7, 0),
 (datetime.date(2007, 1, 13), 'YV', 8, 0),
 (datetime.date(2007, 1, 13), 'US', 9, 0),
 (datetime.date(2007, 1, 13), '9E', 10, 0),
 (datetime.date(2007, 1, 13), 'XE', 10, 0),
 (datetime.date(2007, 1, 13), 'CO', 10, 0),
 (datetime.date(2007, 1, 13), 'FL', 10, 0),
 (datetime.date(2007, 1, 13), 'EV', 10, 0),
 (datetime.date(2007, 1, 14), 'B6', 1, 1),
 (datetime.date(2007, 1, 14), 'XE', 2, 1),
 (datetime.date(2007, 1, 14), 'OH', 3, 0),
 (datetime.date(2007, 1, 14), 'MQ', 4, 0),
 (datetime.date(2007, 1, 14), 'AA', 5, 0),
 (datetime.date(2007, 1, 14), 'WN', 6, 0),
 (datetime.date(2007, 1, 14), 'FL', 7, 0),
 (datetime.date(2007, 1, 14), 'US', 8, 0),
 (datetime.date(2007, 1, 14), 'YV', 9, 0),
 (datetime.date(2007, 1, 14), 'NW', 10, 0),
 (datetime.date(2007, 1, 14), '9E', 11, 0),
 (datetime.date(2007, 1, 14), 'DL', 11, 0),
 (datetime.date(2007, 1, 14), 'CO', 11, 0),
 (datetime.date(2007, 1, 15), 'AA', 1, 1),
 (datetime.date(2007, 1, 15), 'B6', 2, 1),
 (datetime.date(2007, 1, 15), 'MQ', 3, 0),
 (datetime.date(2007, 1, 15), 'XE', 4, 0),
 (datetime.date(2007, 1, 15), 'WN', 5, 0),
 (datetime.date(2007, 1, 15), 'YV', 6, 0),
 (datetime.date(2007, 1, 15), 'OH', 7, 0),
 (datetime.date(2007, 1, 15), 'US', 8, 0),
 (datetime.date(2007, 1, 15), 'FL', 9, 0),
 (datetime.date(2007, 1, 15), 'NW', 10, 0),
 (datetime.date(2007, 1, 15), '9E', 11, 0),
 (datetime.date(2007, 1, 15), 'DL', 11, 0),
 (datetime.date(2007, 1, 15), 'CO', 11, 0),
 (datetime.date(2007, 1, 16), 'XE', 1, 1),
 (datetime.date(2007, 1, 16), 'MQ', 2, 1),
 (datetime.date(2007, 1, 16), 'OH', 3, 0),
 (datetime.date(2007, 1, 16), 'YV', 4, 0),
 (datetime.date(2007, 1, 16), 'AA', 5, 0),
 (datetime.date(2007, 1, 16), 'FL', 6, 0),
 (datetime.date(2007, 1, 16), 'B6', 7, 0),
 (datetime.date(2007, 1, 16), 'US', 8, 0),
 (datetime.date(2007, 1, 16), 'WN', 9, 0),
 (datetime.date(2007, 1, 16), 'DL', 10, 0),
 (datetime.date(2007, 1, 16), 'CO', 11, 0),
 (datetime.date(2007, 1, 16), '9E', 11, 0),
 (datetime.date(2007, 1, 16), 'NW', 11, 0),
 (datetime.date(2007, 1, 17), 'XE', 1, 1),
 (datetime.date(2007, 1, 17), 'AA', 2, 1),
 (datetime.date(2007, 1, 17), 'MQ', 3, 0),
 (datetime.date(2007, 1, 17), 'YV', 4, 0),
 (datetime.date(2007, 1, 17), 'OH', 5, 0),
 (datetime.date(2007, 1, 17), 'WN', 6, 0),
 (datetime.date(2007, 1, 17), 'US', 7, 0),
 (datetime.date(2007, 1, 17), 'NW', 8, 0),
 (datetime.date(2007, 1, 17), 'FL', 9, 0),
 (datetime.date(2007, 1, 17), 'DL', 10, 0),
 (datetime.date(2007, 1, 17), 'B6', 11, 0),
 (datetime.date(2007, 1, 17), '9E', 11, 0),
 (datetime.date(2007, 1, 17), 'CO', 11, 0),
 (datetime.date(2007, 1, 18), 'DL', 1, 1),
 (datetime.date(2007, 1, 18), 'AA', 2, 1),
 (datetime.date(2007, 1, 18), 'MQ', 3, 0),
 (datetime.date(2007, 1, 18), 'US', 4, 0),
 (datetime.date(2007, 1, 18), 'FL', 5, 0),
 (datetime.date(2007, 1, 18), 'OH', 6, 0),
 (datetime.date(2007, 1, 18), 'WN', 7, 0),
 (datetime.date(2007, 1, 18), 'B6', 8, 0),
 (datetime.date(2007, 1, 18), 'XE', 9, 0),
 (datetime.date(2007, 1, 18), 'YV', 10, 0),
 (datetime.date(2007, 1, 18), '9E', 11, 0),
 (datetime.date(2007, 1, 18), 'NW', 11, 0),
 (datetime.date(2007, 1, 18), 'CO', 11, 0),
 (datetime.date(2007, 1, 19), 'YV', 1, 1),
 (datetime.date(2007, 1, 19), 'XE', 2, 1),
 (datetime.date(2007, 1, 19), 'B6', 3, 0),
 (datetime.date(2007, 1, 19), 'MQ', 4, 0),
 (datetime.date(2007, 1, 19), 'AA', 5, 0),
 (datetime.date(2007, 1, 19), 'US', 6, 0),
 (datetime.date(2007, 1, 19), 'FL', 7, 0),
 (datetime.date(2007, 1, 19), 'WN', 8, 0),
 (datetime.date(2007, 1, 19), 'NW', 9, 0),
 (datetime.date(2007, 1, 19), 'OH', 10, 0),
 (datetime.date(2007, 1, 19), 'CO', 11, 0),
 (datetime.date(2007, 1, 19), '9E', 11, 0),
 (datetime.date(2007, 1, 19), 'DL', 11, 0),
 (datetime.date(2007, 1, 20), 'XE', 1, 1),
 (datetime.date(2007, 1, 20), 'B6', 2, 1),
 (datetime.date(2007, 1, 20), 'MQ', 3, 0),
 (datetime.date(2007, 1, 20), 'US', 4, 0),
 (datetime.date(2007, 1, 20), 'OH', 5, 0),
 (datetime.date(2007, 1, 20), 'AA', 6, 0),
 (datetime.date(2007, 1, 20), 'WN', 7, 0),
 (datetime.date(2007, 1, 20), 'YV', 8, 0),
 (datetime.date(2007, 1, 20), 'DL', 9, 0),
 (datetime.date(2007, 1, 20), 'NW', 10, 0),
 (datetime.date(2007, 1, 20), 'CO', 10, 0),
 (datetime.date(2007, 1, 20), 'FL', 10, 0),
 (datetime.date(2007, 1, 20), '9E', 10, 0),
 (datetime.date(2007, 1, 20), 'EV', 10, 0),
 (datetime.date(2007, 1, 21), 'NW', 1, 1),
 (datetime.date(2007, 1, 21), 'WN', 2, 1),
 (datetime.date(2007, 1, 21), 'MQ', 3, 0),
 (datetime.date(2007, 1, 21), 'FL', 4, 0),
 (datetime.date(2007, 1, 21), 'OH', 5, 0),
 (datetime.date(2007, 1, 21), 'B6', 6, 0),
 (datetime.date(2007, 1, 21), 'AA', 7, 0),
 (datetime.date(2007, 1, 21), 'US', 8, 0),
 (datetime.date(2007, 1, 21), 'XE', 9, 0),
 (datetime.date(2007, 1, 21), 'YV', 10, 0),
 (datetime.date(2007, 1, 21), 'CO', 11, 0),
 (datetime.date(2007, 1, 21), '9E', 11, 0),
 (datetime.date(2007, 1, 21), 'DL', 11, 0),
 (datetime.date(2007, 1, 22), 'YV', 1, 1),
 (datetime.date(2007, 1, 22), 'US', 2, 1),
 (datetime.date(2007, 1, 22), 'WN', 3, 0),
 (datetime.date(2007, 1, 22), 'OH', 4, 0),
 (datetime.date(2007, 1, 22), 'MQ', 5, 0),
 (datetime.date(2007, 1, 22), 'AA', 6, 0),
 (datetime.date(2007, 1, 22), 'XE', 7, 0),
 (datetime.date(2007, 1, 22), 'FL', 8, 0),
 (datetime.date(2007, 1, 22), 'B6', 9, 0),
 (datetime.date(2007, 1, 22), 'NW', 10, 0),
 (datetime.date(2007, 1, 22), 'DL', 11, 0),
 (datetime.date(2007, 1, 22), 'CO', 11, 0),
 (datetime.date(2007, 1, 22), '9E', 11, 0),
 (datetime.date(2007, 1, 23), 'YV', 1, 1),
 (datetime.date(2007, 1, 23), 'MQ', 2, 1),
 (datetime.date(2007, 1, 23), 'AA', 3, 0),
 (datetime.date(2007, 1, 23), 'WN', 4, 0),
 (datetime.date(2007, 1, 23), 'OH', 5, 0),
 (datetime.date(2007, 1, 23), 'US', 6, 0),
 (datetime.date(2007, 1, 23), 'NW', 7, 0),
 (datetime.date(2007, 1, 23), 'XE', 8, 0),
 (datetime.date(2007, 1, 23), 'B6', 9, 0),
 (datetime.date(2007, 1, 23), 'DL', 10, 0),
 (datetime.date(2007, 1, 23), 'CO', 11, 0),
 (datetime.date(2007, 1, 23), 'FL', 11, 0),
 (datetime.date(2007, 1, 23), '9E', 11, 0),
 (datetime.date(2007, 1, 24), 'FL', 1, 1),
 (datetime.date(2007, 1, 24), 'YV', 2, 1),
 (datetime.date(2007, 1, 24), 'DL', 3, 0),
 (datetime.date(2007, 1, 24), 'MQ', 4, 0),
 (datetime.date(2007, 1, 24), 'NW', 5, 0),
 (datetime.date(2007, 1, 24), 'XE', 6, 0),
 (datetime.date(2007, 1, 24), 'AA', 7, 0),
 (datetime.date(2007, 1, 24), 'OH', 8, 0),
 (datetime.date(2007, 1, 24), 'WN', 9, 0),
 (datetime.date(2007, 1, 24), 'US', 10, 0),
 (datetime.date(2007, 1, 24), 'CO', 11, 0),
 (datetime.date(2007, 1, 24), 'B6', 11, 0),
 (datetime.date(2007, 1, 24), '9E', 11, 0),
 (datetime.date(2007, 1, 25), 'B6', 1, 1),
 (datetime.date(2007, 1, 25), 'AA', 2, 1),
 (datetime.date(2007, 1, 25), 'YV', 3, 0),
 (datetime.date(2007, 1, 25), 'MQ', 4, 0),
 (datetime.date(2007, 1, 25), 'OH', 5, 0),
 (datetime.date(2007, 1, 25), 'US', 6, 0),
 (datetime.date(2007, 1, 25), 'XE', 7, 0),
 (datetime.date(2007, 1, 25), 'WN', 8, 0),
 (datetime.date(2007, 1, 25), 'NW', 9, 0),
 (datetime.date(2007, 1, 25), 'DL', 10, 0),
 (datetime.date(2007, 1, 25), 'FL', 11, 0),
 (datetime.date(2007, 1, 25), 'CO', 11, 0),
 (datetime.date(2007, 1, 25), '9E', 11, 0),
 (datetime.date(2007, 1, 26), 'OH', 1, 1),
 (datetime.date(2007, 1, 26), 'XE', 2, 1),
 (datetime.date(2007, 1, 26), 'MQ', 3, 0),
 (datetime.date(2007, 1, 26), 'WN', 4, 0),
 (datetime.date(2007, 1, 26), 'US', 5, 0),
 (datetime.date(2007, 1, 26), 'YV', 6, 0),
 (datetime.date(2007, 1, 26), 'NW', 7, 0),
 (datetime.date(2007, 1, 26), 'AA', 8, 0),
 (datetime.date(2007, 1, 26), 'FL', 9, 0),
 (datetime.date(2007, 1, 26), 'DL', 10, 0),
 (datetime.date(2007, 1, 26), 'CO', 11, 0),
 (datetime.date(2007, 1, 26), 'B6', 11, 0),
 (datetime.date(2007, 1, 26), '9E', 11, 0),
 (datetime.date(2007, 1, 27), 'NW', 1, 1),
 (datetime.date(2007, 1, 27), 'MQ', 2, 1),
 (datetime.date(2007, 1, 27), 'OH', 3, 0),
 (datetime.date(2007, 1, 27), 'WN', 4, 0),
 (datetime.date(2007, 1, 27), 'US', 5, 0),
 (datetime.date(2007, 1, 27), 'XE', 6, 0),
 (datetime.date(2007, 1, 27), 'AA', 7, 0),
 (datetime.date(2007, 1, 27), 'YV', 8, 0),
 (datetime.date(2007, 1, 27), 'B6', 9, 0),
 (datetime.date(2007, 1, 27), 'EV', 10, 0),
 (datetime.date(2007, 1, 27), '9E', 10, 0),
 (datetime.date(2007, 1, 27), 'DL', 10, 0),
 (datetime.date(2007, 1, 27), 'CO', 10, 0),
 (datetime.date(2007, 1, 27), 'FL', 10, 0),
 (datetime.date(2007, 1, 28), 'MQ', 1, 1),
 (datetime.date(2007, 1, 28), 'YV', 2, 1),
 (datetime.date(2007, 1, 28), 'AA', 3, 0),
 (datetime.date(2007, 1, 28), 'B6', 4, 0),
 (datetime.date(2007, 1, 28), 'WN', 5, 0),
 (datetime.date(2007, 1, 28), 'US', 6, 0),
 (datetime.date(2007, 1, 28), 'NW', 7, 0),
 (datetime.date(2007, 1, 28), 'OH', 8, 0),
 (datetime.date(2007, 1, 28), 'XE', 9, 0),
 (datetime.date(2007, 1, 28), 'DL', 10, 0),
 (datetime.date(2007, 1, 28), 'FL', 11, 0),
 (datetime.date(2007, 1, 28), '9E', 11, 0),
 (datetime.date(2007, 1, 28), 'CO', 11, 0),
 (datetime.date(2007, 1, 29), 'YV', 1, 1),
 (datetime.date(2007, 1, 29), 'MQ', 2, 1),
 (datetime.date(2007, 1, 29), 'XE', 3, 0),
 (datetime.date(2007, 1, 29), 'NW', 4, 0),
 (datetime.date(2007, 1, 29), 'OH', 5, 0),
 (datetime.date(2007, 1, 29), 'AA', 6, 0),
 (datetime.date(2007, 1, 29), 'US', 7, 0),
 (datetime.date(2007, 1, 29), 'WN', 8, 0),
 (datetime.date(2007, 1, 29), 'B6', 9, 0),
 (datetime.date(2007, 1, 29), 'FL', 10, 0),
 (datetime.date(2007, 1, 29), 'CO', 11, 0),
 (datetime.date(2007, 1, 29), '9E', 11, 0),
 (datetime.date(2007, 1, 29), 'DL', 11, 0),
 (datetime.date(2007, 1, 30), 'B6', 1, 1),
 (datetime.date(2007, 1, 30), 'YV', 2, 1),
 (datetime.date(2007, 1, 30), 'OH', 3, 0),
 (datetime.date(2007, 1, 30), 'AA', 4, 0),
 (datetime.date(2007, 1, 30), 'FL', 5, 0),
 (datetime.date(2007, 1, 30), 'US', 6, 0),
 (datetime.date(2007, 1, 30), 'XE', 7, 0),
 (datetime.date(2007, 1, 30), 'WN', 8, 0),
 (datetime.date(2007, 1, 30), 'MQ', 9, 0),
 (datetime.date(2007, 1, 30), 'NW', 10, 0),
 (datetime.date(2007, 1, 30), 'CO', 11, 0),
 (datetime.date(2007, 1, 30), '9E', 11, 0),
 (datetime.date(2007, 1, 30), 'DL', 11, 0),
 (datetime.date(2007, 1, 31), 'FL', 1, 1),
 (datetime.date(2007, 1, 31), 'YV', 2, 1),
 (datetime.date(2007, 1, 31), 'AA', 3, 0),
 (datetime.date(2007, 1, 31), 'WN', 4, 0),
 (datetime.date(2007, 1, 31), 'XE', 5, 0),
 (datetime.date(2007, 1, 31), 'NW', 6, 0),
 (datetime.date(2007, 1, 31), 'US', 7, 0),
 (datetime.date(2007, 1, 31), 'OH', 8, 0),
 (datetime.date(2007, 1, 31), 'MQ', 9, 0),
 (datetime.date(2007, 1, 31), 'DL', 10, 0),
 (datetime.date(2007, 1, 31), 'CO', 11, 0),
 (datetime.date(2007, 1, 31), 'B6', 11, 0),
 (datetime.date(2007, 1, 31), '9E', 11, 0),
 (datetime.date(2007, 2, 1), 'YV', 1, 1),
 (datetime.date(2007, 2, 1), 'WN', 2, 1),
 (datetime.date(2007, 2, 1), 'FL', 3, 0),
 (datetime.date(2007, 2, 1), 'MQ', 4, 0),
 (datetime.date(2007, 2, 1), 'US', 5, 0),
 (datetime.date(2007, 2, 1), 'OH', 6, 0),
 (datetime.date(2007, 2, 1), 'AA', 7, 0),
 (datetime.date(2007, 2, 1), 'B6', 8, 0),
 (datetime.date(2007, 2, 1), 'DL', 9, 0),
 (datetime.date(2007, 2, 1), 'NW', 10, 0),
 (datetime.date(2007, 2, 1), 'CO', 11, 0),
 (datetime.date(2007, 2, 1), 'XE', 11, 0),
 (datetime.date(2007, 2, 1), '9E', 11, 0),
 (datetime.date(2007, 2, 2), 'B6', 1, 1),
 (datetime.date(2007, 2, 2), 'YV', 2, 1),
 (datetime.date(2007, 2, 2), 'MQ', 3, 0),
 (datetime.date(2007, 2, 2), 'US', 4, 0),
 (datetime.date(2007, 2, 2), 'OH', 5, 0),
 (datetime.date(2007, 2, 2), 'WN', 6, 0),
 (datetime.date(2007, 2, 2), 'AA', 7, 0),
 (datetime.date(2007, 2, 2), 'XE', 8, 0),
 (datetime.date(2007, 2, 2), 'NW', 9, 0),
 (datetime.date(2007, 2, 2), 'DL', 10, 0),
 (datetime.date(2007, 2, 2), 'CO', 11, 0),
 (datetime.date(2007, 2, 2), 'FL', 11, 0),
 (datetime.date(2007, 2, 2), '9E', 11, 0),
 (datetime.date(2007, 2, 3), 'YV', 1, 1),
 (datetime.date(2007, 2, 3), 'MQ', 2, 1),
 (datetime.date(2007, 2, 3), 'OH', 3, 0),
 (datetime.date(2007, 2, 3), 'B6', 4, 0),
 (datetime.date(2007, 2, 3), 'WN', 5, 0),
 (datetime.date(2007, 2, 3), 'US', 6, 0),
 (datetime.date(2007, 2, 3), 'AA', 7, 0),
 (datetime.date(2007, 2, 3), 'NW', 8, 0),
 (datetime.date(2007, 2, 3), 'DL', 9, 0),
 (datetime.date(2007, 2, 3), 'FL', 10, 0),
 (datetime.date(2007, 2, 3), 'CO', 10, 0),
 (datetime.date(2007, 2, 3), '9E', 10, 0),
 (datetime.date(2007, 2, 3), 'XE', 10, 0),
 (datetime.date(2007, 2, 4), 'B6', 1, 1),
 (datetime.date(2007, 2, 4), 'OH', 2, 1),
 (datetime.date(2007, 2, 4), 'AA', 3, 0),
 (datetime.date(2007, 2, 4), 'MQ', 4, 0),
 (datetime.date(2007, 2, 4), 'WN', 5, 0),
 (datetime.date(2007, 2, 4), 'YV', 6, 0),
 (datetime.date(2007, 2, 4), 'US', 7, 0),
 (datetime.date(2007, 2, 4), 'DL', 8, 0),
 (datetime.date(2007, 2, 4), 'NW', 9, 0),
 (datetime.date(2007, 2, 4), 'XE', 10, 0),
 (datetime.date(2007, 2, 4), 'FL', 11, 0),
 (datetime.date(2007, 2, 4), 'CO', 11, 0),
 (datetime.date(2007, 2, 4), '9E', 11, 0),
 (datetime.date(2007, 2, 5), 'MQ', 1, 1),

<mark>***Next, the above query creates a new column called "Issue_Flag" which we assign a value of 1 any time a carrier is ranked 1st or 2nd on each day.***</mark>

In [101]:
%%sql

WITH RDU_F AS
(
SELECT   *,
         CASE
         WHEN DepTime < 60 THEN
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',DepTime), '%Y %c %e %i')
         ELSE
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',SUBSTR(DepTime,1,LENGTH(DepTime)-2),' ',SUBSTR(DepTime,-2)), '%Y %c %e %k %i')
         END as DepTS
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
),
AVG_DEL AS
(
SELECT   UniqueCarrier,
         DATE(DepTS) AS Date_Col,
         AVG(DepDelay) AS AD,
         COUNT(*) AS Num_Flights
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1
GROUP BY UniqueCarrier,
         DATE(DepTS)
),
DEL_RANK AS
(
SELECT   *,
         RANK() OVER(PARTITION BY Date_Col
                     ORDER BY AD DESC) AS Delay_Rank
FROM     AVG_DEL
WHERE    Num_Flights >= 5
),
COR_DEL_RANK AS
(
SELECT          AVG_DEL.UniqueCarrier,
                AVG_DEL.Date_Col,
                COALESCE(Delay_Rank, MAX(Delay_Rank) OVER(PARTITION BY AVG_DEL.Date_Col)) AS New_Delay_Rank
FROM            AVG_DEL
LEFT JOIN       DEL_RANK
ON              AVG_DEL.UniqueCarrier = DEL_RANK.UniqueCarrier AND
                AVG_DEL.Date_Col = DEL_RANK.Date_Col
ORDER BY AVG_DEL.Date_Col,
         New_Delay_Rank
), DEL_FLAG AS
(
SELECT          COR_DEL_RANK.Date_Col,
                COR_DEL_RANK.UniqueCarrier,
                COR_DEL_RANK.New_Delay_Rank,
                CASE   WHEN COR_DEL_RANK.New_Delay_Rank <= 2 THEN 1
                ELSE   0
                END AS Issue_Flag
FROM     COR_DEL_RANK
)
SELECT   UniqueCarrier,
         Date_Col,
         New_Delay_Rank,
         Issue_Flag,
         SUM(Issue_Flag) OVER(PARTITION BY UniqueCarrier
                              ORDER BY Date_Col
                              ROWS BETWEEN 3 PRECEDING AND
                              1 PRECEDING) AS RUN_COUNT_PROB
FROM     DEL_FLAG
ORDER BY UniqueCarrier,
         Date_Col
LIMIT    2000;

2000 rows affected.

[('9E', datetime.date(2007, 1, 1), 10, 0, None),
 ('9E', datetime.date(2007, 1, 2), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 3), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 4), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 5), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 6), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 7), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 8), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 9), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 10), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 11), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 12), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 13), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 14), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 15), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 16), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 17), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 18), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 19), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 20), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 21), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 22), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 23), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 24), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 25), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 26), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 27), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 28), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 29), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 30), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 1, 31), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 1), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 2), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 3), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 4), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 5), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 6), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 7), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 8), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 9), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 10), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 11), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 12), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 14), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 15), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 16), 3, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 17), 8, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 18), 4, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 19), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 20), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 21), 3, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 22), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 23), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 24), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 25), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 26), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 27), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 2, 28), 3, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 1), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 2), 1, 1, Decimal('0')),
 ('9E', datetime.date(2007, 3, 3), 10, 0, Decimal('1')),
 ('9E', datetime.date(2007, 3, 4), 11, 0, Decimal('1')),
 ('9E', datetime.date(2007, 3, 5), 10, 0, Decimal('1')),
 ('9E', datetime.date(2007, 3, 6), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 7), 5, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 8), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 9), 5, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 10), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 11), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 12), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 13), 8, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 14), 5, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 15), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 16), 8, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 17), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 18), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 19), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 20), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 21), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 22), 8, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 23), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 24), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 25), 4, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 26), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 27), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 28), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 29), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 30), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 3, 31), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 1), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 2), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 3), 2, 1, Decimal('0')),
 ('9E', datetime.date(2007, 4, 4), 8, 0, Decimal('1')),
 ('9E', datetime.date(2007, 4, 5), 13, 0, Decimal('1')),
 ('9E', datetime.date(2007, 4, 6), 11, 0, Decimal('1')),
 ('9E', datetime.date(2007, 4, 7), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 8), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 9), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 10), 2, 1, Decimal('0')),
 ('9E', datetime.date(2007, 4, 11), 13, 0, Decimal('1')),
 ('9E', datetime.date(2007, 4, 12), 13, 0, Decimal('1')),
 ('9E', datetime.date(2007, 4, 13), 11, 0, Decimal('1')),
 ('9E', datetime.date(2007, 4, 14), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 15), 1, 1, Decimal('0')),
 ('9E', datetime.date(2007, 4, 16), 9, 0, Decimal('1')),
 ('9E', datetime.date(2007, 4, 17), 13, 0, Decimal('1')),
 ('9E', datetime.date(2007, 4, 18), 12, 0, Decimal('1')),
 ('9E', datetime.date(2007, 4, 19), 8, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 20), 4, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 21), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 22), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 23), 8, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 24), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 25), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 26), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 27), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 28), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 29), 3, 0, Decimal('0')),
 ('9E', datetime.date(2007, 4, 30), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 1), 4, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 2), 1, 1, Decimal('0')),
 ('9E', datetime.date(2007, 5, 3), 10, 0, Decimal('1')),
 ('9E', datetime.date(2007, 5, 4), 10, 0, Decimal('1')),
 ('9E', datetime.date(2007, 5, 5), 10, 0, Decimal('1')),
 ('9E', datetime.date(2007, 5, 6), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 7), 1, 1, Decimal('0')),
 ('9E', datetime.date(2007, 5, 8), 10, 0, Decimal('1')),
 ('9E', datetime.date(2007, 5, 9), 4, 0, Decimal('1')),
 ('9E', datetime.date(2007, 5, 10), 12, 0, Decimal('1')),
 ('9E', datetime.date(2007, 5, 11), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 12), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 13), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 14), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 15), 6, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 16), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 17), 7, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 18), 6, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 19), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 20), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 21), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 22), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 23), 6, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 24), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 25), 1, 1, Decimal('0')),
 ('9E', datetime.date(2007, 5, 26), 10, 0, Decimal('1')),
 ('9E', datetime.date(2007, 5, 27), 10, 0, Decimal('1')),
 ('9E', datetime.date(2007, 5, 28), 9, 0, Decimal('1')),
 ('9E', datetime.date(2007, 5, 29), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 30), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 5, 31), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 1), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 2), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 3), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 4), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 5), 3, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 6), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 7), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 8), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 9), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 10), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 11), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 12), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 13), 8, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 14), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 15), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 16), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 17), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 18), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 19), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 20), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 21), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 22), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 23), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 24), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 25), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 26), 4, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 27), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 28), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 29), 7, 0, Decimal('0')),
 ('9E', datetime.date(2007, 6, 30), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 1), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 2), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 3), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 4), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 5), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 6), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 7), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 8), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 9), 7, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 10), 14, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 11), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 12), 14, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 13), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 14), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 15), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 16), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 17), 5, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 18), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 19), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 20), 6, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 21), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 22), 5, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 23), 3, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 24), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 25), 14, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 26), 8, 0, Decimal('0')),
 ('9E', datetime.date(2007, 7, 27), 1, 1, Decimal('0')),
 ('9E', datetime.date(2007, 7, 28), 9, 0, Decimal('1')),
 ('9E', datetime.date(2007, 7, 29), 12, 0, Decimal('1')),
 ('9E', datetime.date(2007, 7, 30), 13, 0, Decimal('1')),
 ('9E', datetime.date(2007, 7, 31), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 1), 14, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 2), 2, 1, Decimal('0')),
 ('9E', datetime.date(2007, 8, 3), 14, 0, Decimal('1')),
 ('9E', datetime.date(2007, 8, 4), 10, 0, Decimal('1')),
 ('9E', datetime.date(2007, 8, 5), 11, 0, Decimal('1')),
 ('9E', datetime.date(2007, 8, 6), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 7), 8, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 8), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 9), 5, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 10), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 11), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 12), 2, 1, Decimal('0')),
 ('9E', datetime.date(2007, 8, 13), 1, 1, Decimal('1')),
 ('9E', datetime.date(2007, 8, 14), 1, 1, Decimal('2')),
 ('9E', datetime.date(2007, 8, 15), 13, 0, Decimal('3')),
 ('9E', datetime.date(2007, 8, 16), 14, 0, Decimal('2')),
 ('9E', datetime.date(2007, 8, 17), 14, 0, Decimal('1')),
 ('9E', datetime.date(2007, 8, 18), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 19), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 20), 7, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 21), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 22), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 23), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 24), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 25), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 26), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 27), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 28), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 29), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 30), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 8, 31), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 1), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 2), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 3), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 4), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 5), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 6), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 7), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 8), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 9), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 10), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 11), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 12), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 13), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 14), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 15), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 16), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 17), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 18), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 19), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 20), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 21), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 22), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 23), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 24), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 25), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 26), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 27), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 28), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 29), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 9, 30), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 1), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 2), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 3), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 4), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 5), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 6), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 7), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 8), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 9), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 10), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 11), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 12), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 13), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 14), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 15), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 16), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 17), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 18), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 19), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 20), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 21), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 22), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 23), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 24), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 25), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 26), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 27), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 28), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 29), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 30), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 10, 31), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 1), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 2), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 3), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 4), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 5), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 6), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 7), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 8), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 9), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 10), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 11), 2, 1, Decimal('0')),
 ('9E', datetime.date(2007, 11, 12), 1, 1, Decimal('1')),
 ('9E', datetime.date(2007, 11, 13), 12, 0, Decimal('2')),
 ('9E', datetime.date(2007, 11, 14), 14, 0, Decimal('2')),
 ('9E', datetime.date(2007, 11, 15), 6, 0, Decimal('1')),
 ('9E', datetime.date(2007, 11, 16), 8, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 17), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 18), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 19), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 20), 14, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 21), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 22), 8, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 23), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 24), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 25), 2, 1, Decimal('0')),
 ('9E', datetime.date(2007, 11, 26), 4, 0, Decimal('1')),
 ('9E', datetime.date(2007, 11, 27), 13, 0, Decimal('1')),
 ('9E', datetime.date(2007, 11, 28), 12, 0, Decimal('1')),
 ('9E', datetime.date(2007, 11, 29), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 11, 30), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 12, 1), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 12, 2), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 12, 3), 13, 0, Decimal('0')),
 ('9E', datetime.date(2007, 12, 4), 11, 0, Decimal('0')),
 ('9E', datetime.date(2007, 12, 5), 8, 0, Decimal('0')),
 ('9E', datetime.date(2007, 12, 6), 12, 0, Decimal('0')),
 ('9E', datetime.date(2007, 12, 7), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 12, 8), 10, 0, Decimal('0')),
 ('9E', datetime.date(2007, 12, 9), 3, 0, Decimal('0')),
 ('9E', datetime.date(2007, 12, 10), 6, 0, Decimal('0')),
 ('9E', datetime.date(2007, 12, 11), 9, 0, Decimal('0')),
 ('9E', datetime.date(2007, 12, 12), 8, 0, Decimal('0')),
 ('9E', datetime.date(2007, 12, 13), 11, 0, Decimal('0')),

<mark>***Next, in the above query we create a "running sum" of the number of "issue days" that occur in the previous 3 days.  Each day where this value is >= 2 will denote an actual penalty.  We finally tabulate those penalty days below.***</mark>

In [102]:
%%sql

WITH RDU_F AS
(
SELECT   *,
         CASE
         WHEN DepTime < 60 THEN
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',DepTime), '%Y %c %e %i')
         ELSE
         STR_TO_DATE(CONCAT(Year,' ',Month,' ',DayOfMonth,' ',SUBSTR(DepTime,1,LENGTH(DepTime)-2),' ',SUBSTR(DepTime,-2)), '%Y %c %e %k %i')
         END as DepTS
FROM     ontime
WHERE    TRIM(Origin) = 'RDU'
),
AVG_DEL AS
(
SELECT   UniqueCarrier,
         DATE(DepTS) AS Date_Col,
         AVG(DepDelay) AS AD,
         COUNT(*) AS Num_Flights
FROM     RDU_F
WHERE    Cancelled != 1 AND
         Diverted != 1
GROUP BY UniqueCarrier,
         DATE(DepTS)
),
DEL_RANK AS
(
SELECT   *,
         RANK() OVER(PARTITION BY Date_Col
                     ORDER BY AD DESC) AS Delay_Rank
FROM     AVG_DEL
WHERE    Num_Flights >= 5
),
COR_DEL_RANK AS
(
SELECT          AVG_DEL.UniqueCarrier,
                AVG_DEL.Date_Col,
                COALESCE(Delay_Rank, MAX(Delay_Rank) OVER(PARTITION BY AVG_DEL.Date_Col)) AS New_Delay_Rank
FROM            AVG_DEL
LEFT JOIN       DEL_RANK
ON              AVG_DEL.UniqueCarrier = DEL_RANK.UniqueCarrier AND
                AVG_DEL.Date_Col = DEL_RANK.Date_Col
ORDER BY AVG_DEL.Date_Col,
         New_Delay_Rank
), DEL_FLAG AS
(
SELECT          COR_DEL_RANK.Date_Col,
                COR_DEL_RANK.UniqueCarrier,
                COR_DEL_RANK.New_Delay_Rank,
                CASE   WHEN COR_DEL_RANK.New_Delay_Rank <= 2 THEN 1
                ELSE   0
                END AS Issue_Flag
FROM     COR_DEL_RANK
),
LAST_CTE AS
(
SELECT   UniqueCarrier,
         Date_Col,
         New_Delay_Rank,
         Issue_Flag,
         SUM(Issue_Flag) OVER(PARTITION BY UniqueCarrier
                              ORDER BY Date_Col
                              ROWS BETWEEN 3 PRECEDING AND
                              1 PRECEDING) AS RUN_COUNT_PROB
FROM     DEL_FLAG
)
SELECT   UniqueCarrier,
         COUNT(*)
FROM     LAST_CTE
WHERE    RUN_COUNT_PROB >= 2
GROUP BY UniqueCarrier
ORDER BY COUNT(*) DESC;

14 rows affected.

[('YV', 94),
 ('OH', 55),
 ('CO', 47),
 ('AA', 44),
 ('B6', 42),
 ('MQ', 28),
 ('XE', 23),
 ('US', 21),
 ('NW', 16),
 ('UA', 14),
 ('WN', 12),
 ('FL', 12),
 ('DL', 7),
 ('9E', 5)]